{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>

{{ object.tiles|json_script:"game" }}
{{ object.width|json_script:"width" }}
{{ object.height|json_script:"height" }}

<script defer src="{% static 'time_space/js/types.js' %}"></script>
<script defer src="{% static 'time_space/js/utils.js' %}"></script>
<script defer src="{% static 'time_space/js/game/logger.js' %}"></script>
<script defer src="{% static 'time_space/js/fields.js' %}"></script>
<script defer src="{% static 'time_space/js/wires.js' %}"></script>
<script defer src="{% static 'time_space/js/gates.js' %}"></script>
<script defer src="{% static 'time_space/js/space_fissures.js' %}"></script>
<script defer src="{% static 'time_space/js/time_fissures.js' %}"></script>
<script defer src="{% static 'time_space/js/anomalies.js' %}"></script>
<script defer src="{% static 'time_space/js/placeholders.js' %}"></script>
<script defer src="{% static 'time_space/js/game/board.js' %}"></script>
<script defer src="{% static 'time_space/js/config_models.js' %}"></script>
<script defer src="{% static 'time_space/js/game/index.js' %}"></script>

<link rel="stylesheet" href="{% static 'time_space/css/net.css' %}">
{% endblock %}

{% block main %}
<section class="non-terminal">

    <p>Runde <span id="rounds">0</span></p>
    
    <main class="canvas-container"><canvas id="grid"></canvas></main>
</section>

<section id="terminal">
    <output class="output"></output>
    <div class="prompt">
        {% csrf_token %}
        <label for="command" aria-label="Command Prompt">></label>
        <input id="command" list="commands" onkeydown="run_round(event, this.value)">
    </div>
</section>

<datalist id="commands">
    <option value="//analyze"></option>
    <option value="//crystallize"></option>
    <option value="//delete"></option>
    <option value="//drag"></option>
    <option value="//drop"></option>
    <option value="//forward"></option>
    <option value="//inject"></option>
    <option value="//naturalize"></option>
    <option value="//normalize"></option>
    <option value="//return"></option>
    <option value="//skip"></option>
    <option value="//bdv"></option>
    <option value="//mdv"></option>
    <option value="//mdbv"></option>

    <option value="/init"></option>
    <option value="/s"></option>
    <option value="/type"></option>
    <option value="/response"></option>
    <option value="/splits"></option>
    <option value="/splitn"></option>
    <option value="/help"></option>
    <option value="/help1"></option>
    <option value="/help2"></option>
</datalist>

<div>
    <b>blockierte Befehle:</b>

    <ul id="blocked-commands"></ul>
</div>
{% endblock %}
