.calendar-container {
    --day-size: 35px;

    max-width: calc(7 * var(--day-size));

    text-align: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: black;
}

.month-title {
    color: #ddd;
    font-size: 1.5rem;
}

.weekday {
    padding: 5px;
    margin-bottom: 1px;
    
    background-color: #999;
    font-weight: 800;
    border-radius: 4px;

    cursor: not-allowed;
}
.day {
    padding: 5px;

    border-radius: 4px;
    max-height: var(--day-size);
    aspect-ratio: 1;

    cursor: pointer;
    transition: all 100ms ease-in;

    &:hover {
        filter: brightness(1.2);
        scale: 1.1;
    }
    &.selected {
        @extend :hover;
        font-weight: 900;
        text-decoration: underline;
    }
}
.blocked, .cancelled {
    cursor: not-allowed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/static/planner/assets/cross.svg");

    & > * { display: none !important; }

    &:hover {
        filter: none;
        scale: none;
    }
}
.takes-place {

    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("/static/planner/assets/star.svg");
}

.day         { background-color: hsl(  0,  2%,100%); }
.blocked     { background-color: hsl(  0,  2%, 70%); }
.open        { background-color: hsl(120, 81%, 70%); }
.half        { background-color: hsl( 60, 80%, 70%); }
.full        { background-color: hsl(  0, 81%, 70%); }
.cancelled   { background-color: hsl(  0, 81%, 70%); }
.takes-place { background-color: hsl(244, 81%, 75%); }
