.main-container { padding: 3em 5% 100px; }

#quiz-accordion { --bs-body-color: var(--bs-dark); }

.accordion-item { --bs-accordion-border-color: #bdbdbd; }
.accordion-button {
    background-color: #d3d3d4;
    

    display: grid;
    grid-template-columns: 32px 14fr 1fr 3fr 3fr 100px auto;
    gap: 5px;

    .points {font-weight: bold; color: #3f51b5}


    // reduce infos on smaller screens
    @media screen and (max-width: 600px) {

        .icon, .questions, .points { display: none; }

        grid-template-columns: 14fr 1fr 100px auto;
    }
}