:root {
	color: #ddd;
}

.img {
	background: #eee;
	border-radius: 13px;
}
.img img {
	width: 100%;
	padding: .5em .5em 0;
	margin: 0;
	border-radius: 13px;
}

.info {
	font-style: italic;
	font-weight: lighter;
	font-size: .8rem;

	margin: 0 0 3em;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 1;

	& > * {
		display: flex;
		align-items: flex-start;

		padding: .5em .5em;
		background: #222;
		border-radius: 1000px;
	}

	.info__item {
		margin: 0 .5em;
		align-self: center;

		display: flex;
		align-items: center;
	}
	.label {
		opacity: .7;
		margin-right: .3em;
	}

	.points__input {
		font-size: 1rem;
		line-height: 1em;
		padding: .1em .5em;
		max-width: 5em;
		margin: 0 .4em;
	}
}


.question {
	font-weight: bolder;
	font-size: 1.4rem;
	padding: 1em 0;
	display: block;


	.imgs {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: -1.5em;
	}
	.img {
		margin: 0 1.5em 1.5em 0;
	}
	.img img {
		height: 30vh;
	}

	.text {
		max-width: 70ch;
		margin: 1em 0;
		display: block;
	}
}


.container-old-answer {
	display: flex;
	justify-content: flex-end;
}
a.btn.btn--old-answer {
		color: #444;
}


.answer, .correction {

	background: lighten(#3a3d40, 60%);
	--checkbox-border-color: #222;
	--checkbox-mark-color: teal;
	color: var(--checkbox-border-color);

	padding: 1em;
	border-radius: 8px;

	label { display: block; }

	.multiple-choice {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: .5em 0;

		.choice {
			display: flex;
			align-items: center;
			padding: .5em 0;
			flex: 0 1 400px;
		}
		.choice > * {
			margin: .5em;
		}

		.checkbox {
			flex: 0 0 var(--checkbox-size);
			margin: 0 1em 0 0;
		}
		.checkbox--correction.wrong-answer {
			--checkbox-shadow: 5px 5px #611;
			--checkbox-mark-color: #611;
			--checkbox-border-color: red;
		}

		.text {flex: 1 1 300px;}
	}
	.img {flex: 0 1 300px;}

	.uploads {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.upload {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			margin: 1em 0;

			a {
				color: #088;
				margin: 0 .5em;
			}
		}
	}
}

.flex-container--btn {

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;

	margin: 1em 0 4em;
}

@media only screen and (max-width: 700px) {
	.label, .points {
		display: none;
	}
}

@media only screen and (max-width: 527px) {
	.multiple-choice {justify-content: center;}

	.flex-container--btn {
		flex-direction: column-reverse;
	}

	.choice .text {text-align: left;}
}

@media only screen and (max-width: 340px) {

	.info {
		margin: 2em 0 0;
		justify-content: flex-end;

		.general {display: none;}
	}
}
