.dirty, .dirty--state, .dirty--optional {
    background-color: var(--bs-red) !important;
    border-color: var(--bs-red) !important;

    &:focus { box-shadow: 0 0 0 .25rem rgba(220, 56, 72, 0.25) !important; }
}

.title {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'logo title' 'logo spent';
}
.logo { grid-area: logo; }
.module { grid-area: title; }
.spent { grid-area: spent; }

.form-check-input { max-width: 20px; aspect-ratio: 1; margin-right: .5em; }