.main-container {
    width: 100%;
    height: 100vh;

    padding-inline: 2em;
    padding-bottom: 1em !important;
}

#table { height: 100%; }

.icon {
    max-height: 32px;
    max-width: 32px;
    margin: 0.5em;
}

.ag-cell-value { padding-block: 1em; }

.selected {
    background-color: red !important;
}