.stats-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .6em .3em;
}

.wert {
    display: flex;
    justify-content: space-between;
    min-width: 100px;

    position: relative;
    border-radius: 5px;
    background-color: hsl(75, 100%, 95%);   // light green
    overflow: hidden;

    box-shadow: .1em .1em .1em .1em rgba(var(--bs-dark-rgb), .4);
}
.wert * {
    z-index: 2;
    position: relative;
    padding-inline: .5em;
    color: var(--bs-dark);
}
.wert::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--width);

    background-color: hsl(75, 100%, 41%);
}