{% extends 'base/main.html' %}
{% load static %}

{% block extra-head %}
{{ app_server_key|json_script:'app_server_key' }}
<script type="application/json" id="endpoint">{% url 'web_push:subscribe_user' %}</script>
<script src="{% static 'webPush/js/subscribe_user.js' %}" defer></script>

<style>
    .helptext {
        display: block;
        opacity: .7;
        font-size: small;
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col d-flex flex-column">
            <button class="btn btn-primary" onclick="subscribeUser()">dieses Gerät registrieren</button>
            <result></result>
        </div>

        <form class="col d-flex flex-column" method="post">
            <h2>neue Nachricht</h2>

            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Nachricht senden</button>
        </form>
    </div>
</div>


{% endblock %}