{% extends 'base/main.html' %}
{% load static crispy_forms_tags %}

{% block extra-head %}
<style>
    .helptext {
        display: block;
        opacity: .7;
        font-size: small;
    }
</style>
{% endblock %}

{% block main %}
<ul>
    <li>
        <h2>Gerät registrieren</h2>
        <p>Dieses Gerät für den gerade aktiven Account ({{ request.spieler.instance.name }}) registrieren?</p>
        <button class="btn btn-primary mb-5" onclick="registerForWebPush(true)">dieses Gerät registrieren</button>
    </li>
    <li>
        <h2>neue Nachricht</h2>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}

            <button type="submit" class="btn btn-primary">Nachricht senden</button>
        </form>
    </li>
</ul>
{% endblock %}