{% extends './page_template.html' %}
{% load static l10n %}

{% block extra-head %}
    {{ block.super }}
    <script src="{% static 'res/js/sortable@1.15.2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lerneinheiten/css/sortable_list.css' %}">
    
    <!-- custom -->
    {{ object.content|json_script:"content" }}
    {{ object.solution|json_script:"solution" }}
    <script src="{% static 'lerneinheiten/js/themen_zuordnen.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'lerneinheiten/css/themen_zuordnen.css' %}">
{% endblock %}

{% block content %}
    <h2>{{ object.titel|default:'' }}</h2>
    <p class="markdown" data-text="{{ object.content.text|default:'' }}"></p>

    <form id="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="category-container">
            {% for category in object.content.categories %}
            <div class="category">
                <div class="category__titel">{{ category.label }}</div>
                <ul class="sortable-list list-group" data-category="{% localize off %}{{ category.id }}{% endlocalize %}"></ul>
            </div>
            {% endfor %}
        </div>

        <label for="remaining-items">übrige Items</label>
        <ul id="remaining-items" class="sortable-list list-group" data-category=""></ul>

        <button type="submit" class="btn btn-primary mt-3">Speichern</button>
        <button type="button" class="btn btn-outline-light mt-3 mx-3"
            onclick="document.querySelector('#musterlösung').classList.toggle('hidden')"
        >
            Musterlösung
        </button>
    </form>

    <aside id="musterlösung" class="hidden my-5">
        <h2>Musterlösung</h2>
        <result></result>
    </aside>
{% endblock %}
