.main-container {
	color: #c8c8c8;

	min-height: 100vh;
	display: grid;
	width: 100%;

	background-image: url('/static/res/img/icon-dice-account.svg');
	background-size: 200px;
	background-position: 87% 60%;
	background-repeat: no-repeat;
}

.text-container {
	width: 43%;
	margin: auto;
	padding-right: 10%;
}

input {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}

.heading {
	font-family: Quicksand, "sans-serif";
}

form p * {
	display: block;
	margin: .4em 0;
}

form p {
	margin: 1.4em 0;
}

.btn {
	margin-right: 1em;
}

.btn__text {
	text-transform: uppercase;
	font-size: 1rem;
	color: #010a0c;
}

.signup {
	margin: auto 0;
}
.links {
	margin-top: 2em;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;

	& > * {
		flex: 142px;
		text-align: center;
	}
 }

.form__footer {
	display: grid;
	grid-template-columns: 40% auto;
	justify-content: space-between;
}


@media only screen and (max-width: 995px) {
	.main-container {
		background-size: 100px;
		background-position: 90% 50%;
	}
}

@media only screen and (max-width: 770px) {
	.text-container {
		width: 50%;
	}
}

@media only screen and (max-width: 680px) {
	.main-container {
		background-size: 100px;
		background-position: 90% 90%;
	}
	.text-container {
		padding: 0;
	}
}

@media only screen and (max-width: 450px) {
	.text-container {
		width: 70%;
	}
}
