{% extends 'base/headed_main.html' %}
{% load static levelUp.resources l10n campaign.auswertung %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">

<script src="{% static 'campaign/js/auswertung.js' %}" defer></script>
{% endblock %}

{% block asides %}{{ block.super }}
    {% resources %}{{ object|stats_of:form }}{% endresources %}
{% endblock %}

{% block main %}
<div class="text-container">
    <h2>{{ object.name }}</h2>

    <form class='form' method="POST" class="input-group">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>
{% endblock %}
