{% extends 'base/headed_main.html' %}
{% load static resources %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/checkbox.css' %}">
{% endblock %}

{% block asides %}
    {% resources %}
        <p><b>{{ char.ep }} EP</b></p>

        <p class="h4">Du erhälst:</p>
        <ul>
            {% for stufe in stufenbelohnung %}
                <li>{{ stufe|safe }}</li>
            {% endfor %}
        </ul>
    {% endresources %}
{% endblock %}

{% block main %}

    <div class="container-fluid" style="max-width: 600px; margin: 3em auto 0">
        <table id="hub-table" class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>Erledigt?</th>
                    <th>Links</th>
                    <th>Werte</th>
                </tr>
            </thead>
            
            <tbody>

                <!-- AP -->
                <tr>
                    <td>
                        <a href="{% url 'campaign:hub_attribute' char.id %}">
                            <div class="checkbox {% if char.ap <= 1 %}checked{% endif %}"{% if char.ap == 1 %} style="--checkbox-mark-color: #888888"{% endif %}></div>
                        </a>
                    </td>
                    <td><a href="{% url 'campaign:hub_attribute' char.id %}" class="text-light">Attribute</a></td>
                    <td>
                        <div class='badge rounded-pill' style='background-color: var(--bs-pink)'>{{ char.ap }} AP</div>    
                    </td>
                </tr>

                <!-- FP/FG -->
                <tr>
                    <td>
                        <a href="{% url 'campaign:hub_fertigkeiten' char.id %}">
                            <div class="checkbox {% if char.fp == 0 and char.fg == 0 %}checked{% endif %}"></div>
                        </a>
                    </td>
                    <td><a href="{% url 'campaign:hub_fertigkeiten' char.id %}" class="text-light">Fertigkeiten</a></td>
                    <td class="d-flex flex-column align-items-start">
                        <div class='badge rounded-pill my-1' style='background-color: var(--bs-indigo)'>{{ char.fp }} FP</div>
                        <div class='badge rounded-pill my-1' style='background-color: var(--bs-blue)'>{{ char.fg }} FG</div>
                    </td>
                </tr>

                <!-- Zauber -->
                <tr>
                    <td>
                        <a href="{% url 'campaign:hub_zauber' char.id %}">
                            <div class="checkbox {% if char.zauberplätze.keys|length == 0 %}checked{% endif %}"></div>
                        </a>
                    </td>
                    <td><a href="{% url 'campaign:hub_zauber' char.id %}" class="text-light">Zauber & Tier</a></td>
                    <td class="d-flex flex-column align-items-start">
                        <ul>
                            {% for stufe, amount in char.zauberplätze.items %}
                            <li><b>{{amount}} Stufe {{stufe}}</b> Zauber</li>
                            {% endfor %}
                            <li>{{char.sp}} SP</li>
                            <li>{{char.ap}} AP / {{MA_aktuell}} MA</li>
                        </ul>
                    </td>
                </tr>

                {% if vorteile.count %}
                <tr>
                    <td>
                        <a href="{% url 'campaign:hub_vorteile' char.id %}">
                            <div class="checkbox {% if char.fp == 0 and char.fg == 0 %}checked{% endif %}"></div>
                        </a>
                    </td>
                    <td><a href="{% url 'campaign:hub_vorteile' char.id %}" class="text-light">Rückfragen für Vorteile</a></td>
                    <td>
                        {% for relteil in vorteile %}
                            {{ relteil.teil.titel }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <ul>
            <li><a href="{% url 'campaign:hub_personal' char.id %}">Persönliches</a></li>
            <li><a href="{% url 'campaign:hub_vorteile' char.id %}">Vorteile</a></li>
            <li><a href="{% url 'campaign:hub_nachteile' char.id %}">Nachteile</a></li>
            <li><a href="{% url 'campaign:hub_spF_wF' char.id %}">Spezial- & Wissensfertigkeiten</a></li>
            <li><a href="{% url 'campaign:hub_talent' char.id %}">Talente</a></li>
            <li><a href="{% url 'campaign:hub_wesenkraft' char.id %}">Wesenkräfte</a></li>
            <li><a href="{% url 'campaign:hub_affektivität' char.id %}">Affektivität</a></li>
        </ul>

        <form method="get">
            <button type="submit" class="btn btn-lg btn-primary" {% if not is_done %}disabled{% endif %}>Weiter</button>
        </form>
    </div>


    <aside class="mt-3">
        <p class="h4">Nützliches:</p>
        <ul>
            <li>1 AP kannst du sparen</li>
            <li>Du kannst alle TP sparen</li>
        </ul>
    </aside>
{% endblock %}