# django components
media/
# generated static folder (but also the one next to settings.py, should it exist)
ppServer/static/

__pycache__/

# secrets & configs
.env**

# using sass, only check *.scss files into source control
.sass-cache/
*.css**
*.sass.map
*.scss.map
!ppServer/base/static/ag-grid/css/*.css

# IDEs
.idea
.vscode

# other
backups/
certbot/cloudflare.ini
/log/
node_modules/
ppServer/venv/