# django components
media/
# generated static folder (but also the one next to settings.py, should it exist)
ppServer/static/

__pycache__/

# secrets & configs
.env**

# using sass, only check *.scss files into source control
.sass-cache/
*.css**
*.sass.map
*.scss.map

# IDEs
.idea
.vscode

# other
backups/
nginx/logs/
nginx/certs/cert.pem
nginx/certs/key.pem
node_modules/
ppServer/venv/