# django components
ppServer/backend/media/
# generated static folder (but also the one next to settings.py, should it exist)
ppServer/backend/static/

__pycache__/

# secrets & configs
.env**

# using sass, only check *.scss files into source control
.sass-cache/
*.css**
*.sass.map
*.scss.map
!ppServer/backend/base/static/res/css/*.css
ppserver/backend/time_space/static/time_space/**/*.js
ppServer/backend/lerneinheiten/static/lerneinheiten/**/*.js
ppserver/backend/politics/static/politics/**/*.js
ppServer/backend/base/static/res/js/paint_canvas/*.js

# IDEs
.idea
.vscode

# other
backups/
certbot/cloudflare.ini
/log/
node_modules/
venv/
ppServer/backend/webPush/certs/

grafana/data/
prometheus/data/