x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-file: "5"
    max-size: "10m"
    labels-regex: "^.+"


services:

  db:
    container_name: postgres
    image: dhi.io/postgres:18-alpine3.22
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - django_internal
    expose:
      - 5432
    env_file:
      - ./.env.prod.db
    logging: *default-logging
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5432"]
      interval: 10s
      timeout: 5s
      retries: 5


  django:
    container_name: django
    restart: unless-stopped
    build:
      context: ./ppServer
    volumes:
      - static_volume:/var/www/static
      - media_volume:/var/www/media
    networks:
      - django_nginx
      - visual_prometheus_django
      - django_internal
    expose:
      - 8000
    env_file:
      - ./.env.prod
    logging: *default-logging
    security_opt:
      - no-new-privileges:true
    depends_on:
      db:
        condition: service_healthy


  nginx:
    container_name: nginx
    image: dhi.io/nginx:1-alpine3.21-dev
    restart: unless-stopped
    networks:
      - django_nginx
      - visual_grafana_nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx:/etc/nginx:ro

      - static_volume:/var/www/static:ro
      - media_volume:/var/www/media:ro

      - /etc/letsencrypt:/etc/letsencrypt:ro
    logging: *default-logging
    security_opt:
      - no-new-privileges:true


volumes:
  postgres_data:
  static_volume:
  media_volume:


networks:
  django_internal: # db, django
  django_nginx:    # django, nginx
  visual_prometheus_django: # django
    external: true
  visual_grafana_nginx: # nginx
    external: true
