services:

  # MONITORING

  node-exporter:
    image: dhi.io/node-exporter:1-debian13
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc) ($$|/)'
    expose:
      - 9100
    networks:
      - prometheus_nodeexporter
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "loki"
      options:
        max-file: "5"
        max-size: "10m"


  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    expose:
      - 8080
    networks:
      - prometheus_cadvisor
      - cadvisor_internal
    volumes: 
      - /:/rootfs:ro 
      - /var/run:/var/run:rw 
      - /sys:/sys:ro 
      - /var/lib/docker/:/var/lib/docker:ro 
    logging:
      driver: "loki"
      options:
        max-file: "5"
        max-size: "10m"
    depends_on: 
      - cadvisor-redis


  cadvisor-redis:
    image: dhi.io/redis:8-debian13 
    container_name: cadvisor-redis 
    expose:
      - 6379 
    networks: 
      - cadvisor_internal
    logging:
      driver: "loki"
      options:
        max-file: "5"
        max-size: "10m"


  prometheus:
    image: dhi.io/prometheus:3-debian13
    container_name: prometheus
    expose:
      - 9090
    volumes:
      - ./prometheus/config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/config/django.rules:/etc/prometheus/django.rules:ro
      - prometheus_data:/var/prometheus
    networks:
      - grafana_prometheus
      - prometheus_nodeexporter
      - prometheus_cadvisor
      - prometheus_loki
      - prometheus_django
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "loki"
      options:
        max-file: "5"
        max-size: "10m"


  # LOGGING

  promtail:
    image: dhi.io/promtail:3-debian13
    container_name: promtail
    expose:
      - 9080
    volumes:
      - /var/log:/var/log:ro  # reads logs from host
      - /var/lib/docker/containers:/var/lib/docker/containers:ro  # reads docker logs
      - ./promtail/config.yml:/etc/promtail/config.yml:ro
    command: -config.file=/etc/promtail/config.yml
    networks:
      - promtail_loki
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "loki"
      options:
        max-file: "5"
        max-size: "10m"

  loki:
    image: dhi.io/loki:3-debian13
    container_name: loki
    expose:
      - 3100
    volumes:
      - ./loki/config.yaml:/etc/loki/config.yaml:ro
      - loki_data:/loki
    command: -config.file=/etc/loki/config.yaml
    networks:
      - prometheus_loki
      - grafana_loki
      - promtail_loki
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "loki"
      options:
        max-file: "5"
        max-size: "10m"


  # GRAFANA

  grafana:
    image: dhi.io/grafana:12-debian13
    container_name: grafana
    networks:
      - grafana_prometheus
      - grafana_loki
      - grafana_nginx
    expose:
      - 3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./log/grafana:/var/log/grafana
      - ./grafana/grafana.yml:/etc/grafana/provisioning/datasources/prometheus.yml:ro # add prometheus as datasource
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "loki"
      options:
        max-file: "5"
        max-size: "10m"


volumes:
  loki_data:
  prometheus_data:
  grafana_data:

networks:
  cadvisor_internal:  # cadvisor, cadvisor-redis
  promtail_loki:
  prometheus_nodeexporter:
  prometheus_loki:
  prometheus_django:
  prometheus_cadvisor:

  # grafana connections
  grafana_prometheus: # prometheus, grafana
  grafana_loki: # loki, grafana
  grafana_nginx: # grafana, external nginx
