services:

  db:
    container_name: pnp-db
    image: dhi.io/postgres:18-alpine3.22
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - goren_internal
    expose:
      - 5432
    env_file:
      - ./.env.prod.db
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5432"]
      interval: 10s
      timeout: 5s
      retries: 5


  # CORE

  web:
    container_name: pnp-web
    restart: unless-stopped
    build:
      context: ./ppServer
    volumes:
      - static_volume:/var/www/static
      - media_volume:/var/www/media
    networks:
      - goren_nginx
      - pnpwebsite_prometheus_django
      - goren_internal
    expose:
      - 8000
    env_file:
      - ./.env.prod
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    security_opt:
      - no-new-privileges:true
    depends_on:
      db:
        condition: service_healthy


  # WEBSERVER

  nginx:
    container_name: pnp-webserver
    image: dhi.io/nginx:1-alpine3.21-dev
    restart: unless-stopped
    networks:
      - goren_nginx
      - pnpwebsite_grafana_nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx:/etc/nginx:ro
      - /var/log/nginx:/var/log/nginx/

      - static_volume:/var/www/static:ro
      - media_volume:/var/www/media:ro

      - /etc/letsencrypt:/etc/letsencrypt:ro
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"


volumes:
  postgres_data:
  static_volume:
  media_volume:


networks:
  goren_internal: # db, web
  goren_nginx:    # web, nginx
  pnpwebsite_prometheus_django: # web
    external: true
  pnpwebsite_grafana_nginx: # nginx
    external: true
