services:
  db:
    container_name: pnp-db
    image: dhi.io/postgres:18-alpine3.22
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - goren_internal
    expose:
      - 5432
    env_file:
      - ./.env.dev.db
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5432"]
      interval: 10s
      timeout: 5s
      retries: 5


  web:
    container_name: pnp-web
    restart: unless-stopped
    build:
      context: ./ppServer
      dockerfile: Dockerfile.dev    
    volumes:
      - ./ppServer/backend:/var/www
    networks:
      - goren_nginx
      - visual_prometheus_django
      - goren_internal
    expose:
      - 8000
    env_file:
      - ./.env.dev
    depends_on:
      db:
        condition: service_healthy


  nginx:
    container_name: pnp-webserver
    image: dhi.io/nginx:1-alpine3.21-dev
    restart: unless-stopped
    networks:
      - goren_nginx
      - visual_grafana_nginx
    ports:
      - 80:80
      # - 443:443
    volumes:
      - ./nginx_dev:/etc/nginx:ro
    environment:
      - TZ=Europe/Berlin

volumes:
  postgres_data:
  django_src_volume:


networks:
  goren_internal: # db, web
  goren_nginx:    # web, nginx
  visual_prometheus_django: # web
    external: true
  visual_grafana_nginx: # nginx
    external: true