.page-container {
    color: #ddd;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
    margin-top: 1.5em;
}

.calendar-container { margin: 2em auto; }

form {
    p { margin: 1em 0; }
    label { display: block; }
}


.form-popover {
    margin-top: 2em;

    .btn { margin: 1em; }
    .back-btn {
        display: none;
    }

    display: none;
}

@media only screen and (max-width: 880px) {
    .page-container { display: block; }

    .form-popover {
        z-index: 10000;
        position: absolute;

        width: 80%;
        margin:  5em 10%;
        padding: 1.5em;
        
        background-color: #333;
        border: 2px solid black;
        top: 0;
        left: 0;

        * { width: 100%; }
        .btn { width: 90%; }
        .back-btn { display: block; }
    }
}
