{% extends 'base/dynamic-table.html' %}

{% block before_table %}

<p>Gfs-Boni in Fertigkeiten + Skilltree + ...</p>
... <b>weitere Effekte:</b>


{% endblock %}

{% block after_table %}
<p>Alle Werte sind manuell angepasst. Schreibe jetzt die Effekte der Tabelle oben dem Charaker zu, damit das in Zukunft automatisch passiert.</p>
<p>Per Buttonklick werden alle Effekte angewendet.</p>
<form id="form" method="post" class="d-flex justify-content-center sticky-footer">
    {% csrf_token %}

    <button type="submit" class="btn btn-lg btn-primary m-2">Effekte verteilen</button>
</form>
{% endblock %}
