.main-container {
	color: #ddd;
}
.grid-container {
	grid-template-columns: repeat(2, auto);
	margin: 10vh 0;
}

a {
	display: contents;
}

.btn {
	font-size: 1.3rem;
	color: #333;
}

@media only screen and (max-width: 527px) {
	.btn {
		margin: 1em auto;
	}
}
