{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/list.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/index.css' %}" type="text/css">
<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js' type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'shop/js/index.js' %}"></script>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}

{% block body %}
<!-- EP-Filter -->
<section class="ep-filter">

    <div class="searchbar">
        <h3>Itemsuche</h3>
        <input id="search" type="text" title="Für '.' bitte '\.' eingeben"
            placeholder="klingen" /><br>
        <button id="search_btn" class="btn">Suchen</button>
    </div>
</section>
<section id="search-results" class="list-container"></section>

<section class="shop-overview list-container">
    <h2>Kategorien</h2>

    <ul>
        <li><a href="{% url 'shop:items' %}">Items</a></li>
        <li><a href="{% url 'shop:waffen_werkzeuge' %}">Waffen & Werkzeuge</a></li>
        <li><a href="{% url 'shop:magazine' %}">Magazine</a></li>
        <li><a href="{% url 'shop:pfeile_bolzen' %}">Pfeile & Bolzen</a></li>
        <li><a href="{% url 'shop:schusswaffen' %}">Schusswaffen</a></li>
        <li><a href="{% url 'shop:mag_ausrüstung' %}">Magische Ausrüstung</a></li>
        <li><a href="{% url 'shop:rituale_runen' %}">Rituale & Runen</a></li>
        <li><a href="{% url 'shop:rüstungen' %}">Rüstungen</a></li>
        <li><a href="{% url 'shop:ausr_technik' %}">Ausrüstung & Technik</a></li>
        <li><a href="{% url 'shop:fahrzeuge' %}">Fahrzeuge</a></li>
        <li><a href="{% url 'shop:einbauten' %}">Einbauten</a></li>
        <li><a href="{% url 'shop:zauber' %}">Zauber</a></li>
        <li><a href="{% url 'shop:alchemie' %}">Alchemie</a></li>
        <li><a href="{% url 'shop:tinker' %}">Für Selbstständige</a></li>
    </ul>
</section>
{% endblock %}
