{% extends 'base/main.html' %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}

{% block title %}{{ view.get_topic }}{% endblock %}
{% block extra-head %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        #filter-form { max-width: 500px; margin-inline: auto; }
        .export-link { color: #97b0c9 !important; }
    </style>
{% endblock %}
{% block absolute %}
{% if view.get_plus_url|length %}
    {% include 'base/header.html' with topic=view.get_topic plus_url=view.get_plus_url %}
{% else %}
    {% include 'base/header.html' with topic=view.get_topic %}
{% endif %}

{% endblock %}
{% block body %}
<form action="" method="get" class="form mb-5 mt-5" id="filter-form">
    <div class="mb-3 form-floating">
        <input type="text" name="name__icontains" value="{{request.GET.name__icontains}}" class="form-control is-valid" placeholder="Name enthält" id="id_name__icontains">
        <label class="form-label" for="id_name__icontains">Name enthält</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="text" name="beschreibung__icontains" value="{{request.GET.beschreibung__icontains}}" class="form-control is-valid" placeholder="Beschreibung enthält" id="id_beschreibung__icontains">
        <label class="form-label" for="id_beschreibung__icontains">Beschreibung enthält</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="number" name="ab_stufe__lte" step="any" value="{{request.GET.ab_stufe__lte}}" class="form-control is-valid" placeholder="Ab stufe ist kleiner oder gleich" id="id_ab_stufe__lte">
        <label class="form-label" for="id_ab_stufe__lte">Ab stufe ist kleiner oder gleich</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="number" name="preis__lte" step="any" value="{{request.GET.preis__lte}}" class="form-control is-valid" placeholder="Preis ist kleiner oder gleich" id="id_preis__lte">
        <label class="form-label" for="id_preis">Preis ist kleiner oder gleich</label>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">filter</button>
</form>

{% render_table table %}

{% if view.export_formats|length %}
<ul>
    {% for format in view.export_formats %}
        <li><a class="export-link" href="{% export_url format %}">
            download  <code>.{{ format }}</code>
        </a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}