
{% load static planner.calendar_utils l10n %}

{% if load_styles is not False %}
    <link rel="stylesheet" href="{% static 'planner/css/calendar.css' %}">
    <script>
        function date_clicked(date_tag, iso_date) {
            document.querySelectorAll(".day.selected").forEach(day=> day.classList.remove("selected"));
            date_tag.classList.add("selected");
        }
    </script>
{% endif %}

<section class="calendar-container">

    <h3 class="month-title">{{ month_data.month_name }} {% localize off %}{{ month_data.year }}{% endlocalize %}</h3>

    <div class="calendar">
    
        {% for wd in weekdays %}
            <div class="weekday">{{ wd }}</div>
        {% endfor %}
    
    
        {% with ''|center:month_data.last_day as days %}
        {% for _ in days %}
            {% concat_all month_data.year '-' month_data.month|leading_zeros:2 '-' forloop.counter|leading_zeros:2 as date %}

            {% if not date|is_past:today %}

            <div class="day"
                {% if not forloop.counter0 %}style="grid-column-start: {{month_data.first_weekday|add:'1'}};"{% endif %}
                {% if date|is_same_day:today %}style="grid-column-start: {{today.weekday|add:'1'}};"{% endif %}
                data-date="{{ date }}"
                onclick="date_clicked(this, this.dataset.date)"
            >   
                <span class="day-title">{{ forloop.counter }}</span>
            </div>
            {% endif %}
        {% endfor %}
        {% endwith %}
    </div>
</section>
