{% extends 'base/headed_main.html' %}
{% load static crispy_forms_tags %}

{% block extra-head %}
    <link rel="stylesheet" href="{% static 'planner/css/index.css' %}">
    <script src="{% static 'planner/js/index.js' %}"></script>
{% endblock %}

{% block main %}
{{ days|json_script:"days" }}
{{ request.user.username|json_script:"username" }}

<div class="page-container">
    <nav class="calendars">
        {% include './calendar.html' with today=today month_data=this_month %}
        {% include './calendar.html' with today=today month_data=next_month load_styles=False %}
        {% include './calendar.html' with today=today month_data=far_month load_styles=False%}
    </nav>

    <div class="form-popover">
        <div id="appointment-section"></div>

        <div id="participant-section">
            <h2>Teilnehmer</h2>
            <ol id="participants"></ol>
        </div>
    
        <div id="blocked-section"></div>


        <div id="participate-form">

            <h2>Ich möchte am <span class="long_date"></span> teilnehmen</h2>
            <form method="post" action="">
                {% csrf_token %}
                {% crispy form %}
                <input type="date" id="id_date" name="date" hidden>

                <input type="submit" value="Teilnehmen" class="btn btn-primary">
            </form>
        </div>
        <button type="button" class="btn btn-outline-primary back-btn" onclick="document.querySelector('.form-popover').style.display = 'none'">Abbrechen</button>
    </div>
</div>
{% endblock %}
