{% extends 'base/headed_main.html' %}
{% load static %}

{% block extra-head %}
<!-- Easy MDE for text editor -->
<link href="{% static 'res/css/easymde@2.18.0.min.css' %}" rel="stylesheet">
<link href="{% static 'res/css/easyMDE.css' %}" rel="stylesheet">
<script src="{% static 'res/js/easymde@2.18.0.min.js' %}"></script>
<script src="{% static 'res/js/markdown_editorconfig.js' %}"></script>

<!-- Dropzone for Image Editor -->
<link rel="stylesheet" href="{% static 'res/css/dropzone@5.min.css' %}" type="text/css">
<script src="{% static 'res/js/dropzone@5.min.js' %}"></script>

<!-- custom style & logic -->
<link rel="stylesheet" href="{% static 'lerneinheiten/css/sp_editor_lerninhalt.css' %}">

{{ object.content|json_script:"content" }}
<script id="csrf_token" type="application/json">{% csrf_token %}</script>
<script id="image-upload-url" type="application/json">{% url 'lerneinheiten:image_upload' object.id %}</script>
<script src="{% static 'lerneinheiten/js/editor_lerninhalt.js' %}" defer></script>
{% endblock %}

{% block main %}
<h2>Settings</h2>
<form id="settings" method="post">
    {% csrf_token %}
    {{ form.as_p }}
</form>


<h2>Content</h2>
<div id="content-grid"></div>


<!-- Modal -->
<div class="modal fade" id="new-block-modal" tabindex="-1" aria-label="Neuen Block erstellen">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neuen Block erstellen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>        
            <div class="modal-body">
                <select id="new-box-type" required>
                    <option value="text">Text</option>
                    <option value="image">Bild</option>
                    <option value="video">Video</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="NewBox.replace()">Erstellen</button>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <footer class="sticky-footer bg-dark p-2 d-flex justify-content-center">
        <button class="btn btn-primary" type="submit" form="settings">Speichern</button>
    </footer>
{% endblock %}
