{% extends 'base/main.html' %}
{% load static %}
{% block title %}Registrieren{% endblock %}
{% block extra-head %}<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">{% endblock %}
{% block main %}
<div class="text-container">
	<h1>Email ändern</h1>
	<p>An deine neu angegebene Email wurde eine Nachricht geschickt. Klicke auf den darin enthaltenen Link um die neue Email-Adresse zu bestätigen.</p>

	<p>Möglicherweise ist sie im Spam-Ordner gelandet, also schau auch dort nach.</p>
</div>
{% endblock %}
