{% load static shop.get_detail_url %}

<div class="item-container">
    <!-- img -->
     <div class="icon-container">
        {% if obj.ab_stufe %}<span class="ab-stufe">ab Stufe {{ obj.ab_stufe }}</span>{% endif %}
        
        <img class="icon" src="{% if obj.icon %}{{ obj.icon.url }}{% else %}{% static 'res/img/goren_logo.png' %}{% endif %}" loading='lazy'>
     </div>

    <!-- information  -->
     <div class="information">
        <div class="info-row"><a class="titel" href="{% if obj.detail_url %}{{ obj.detail_url }}{% else %}{{ obj|get_detail_url }}{% endif %}">{{ obj.name }}</a></div>
        <div class="info-row">
            {% if obj.model_verbose_name %}<em class="model">{{ obj.model_verbose_name }}</em>{% endif %}
            {% if obj.model_verbose_name and obj.kategorie %}<em>&nbsp;-&nbsp;</em>{% endif %}
            {% if obj.kategorie %}<em class="kategory">{{ obj.get_kategorie_display }}</em>{% endif %}
            {% if obj.model_verbose_name or obj.kategorie %}<em>.</em>&nbsp;{% endif %}
            <span class="description">{{ obj.beschreibung|truncatechars_html:150 }}</span>
        </div>
        {% block above_price %}
        {% if obj.schaden or obj.schadensart or obj.händigkeit %}<div class="info-row">
            {% if obj.händigkeit %}{{ obj.get_händigkeit_display }}{% endif %}
            {% if obj.schaden and obj.schaden is not 0 %}{{ obj.schaden }}{% endif %}
            {% if obj.schadensart %}{{ obj.get_schadensart_display }}{% endif %}
        </div>{% endif %}
        {% endblock %}
        <div class="info-row info-row--price">
        {% if not obj.frei_editierbar %}
            <b class="price">{{ obj.curr_price|default_if_none:'nicht kaufbar mit ' }} Dr.{% if obj.stufenabhängig %} * Stufe{% endif %}</b>
            {% if obj.price is not None and obj.discount > 0 %}
                <span class="base-price">{{ obj.price }} Dr.</span>
                <span class="discount">Spare {{ obj.discount }}%</span>
            {% endif %}
        {% else %}
            <b class="price">nicht kaufbar{% if obj.stufenabhängig %} , hat Stufen{% endif %}</b>
        {% endif %}
        </div>
        <div class="info-row"><a class="btn btn-sm btn-outline-light" href="{% if obj.detail_url %}{{ obj.detail_url }}{% else %}{{ obj|get_detail_url }}{% endif %}">Optionen anzeigen</a></div>
        {% block below_info %}{% endblock %}
    </div>
</div>