{% extends './page_template.html' %}
{% load static %}

{% block extra-head %}
    {{ block.super }}

    <!-- custom -->
    {{ object.solution|json_script:"solution" }}
    {{ object.content.choices|json_script:"choices" }}
    <script src="{% static 'lerneinheiten/js/editor/multiple choice.js' %}" defer></script>
    <style>
        .check {
            width: fit-content;

            button {
                padding: 4px 8px;
                height: 100%;
                aspect-ratio: 1;
            }
            svg {
                fill: currentColor;
            }
            .check-row {
                display: grid;
                grid-template-columns: auto 1fr auto;
                align-items: center;
                justify-content: space-between;
                gap: 1em;

                margin: .5em 0;
            }
        }
    </style>
{% endblock %}

{% block main %}
    <h2>Settings</h2>
    {{ block.super }}
{% endblock %}

{% block content %}
<fieldset class="check">
    <legend class="h2">Multiple Choice</legend>

</fieldset>
<button class="btn btn-primary" onclick="add_check()">+ Choice</button>
{% endblock %}