{% extends './page_template.html' %}
{% load static %}

{% block extra-head %}
    {{ block.super }}
    <script src="{% static 'res/js/sortable@1.15.2.min.js' %}"></script>

    <!-- custom -->
    <link rel="stylesheet" href="{% static 'lerneinheiten/css/sortable_list.css' %}">
    <link rel="stylesheet" href="{% static 'lerneinheiten/css/verbinden.css' %}">
    {{ object.solution|json_script:"solution" }}
    {{ object.content.choices|json_script:"choices" }}
    <script src="{% static 'lerneinheiten/js/editor/verbinden.js' %}" defer></script>
{% endblock %}

{% block main %}
    <h2>Settings</h2>
    {{ block.super }}
{% endblock %}

{% block content %}
<h2>Paare</h2>
<!-- Simple List -->
<div id="pair-container">
    <ul class="sortable-list list-group list--left"></ul>
    <div id="line-container"></div>
    <ul class="sortable-list list-group list--right"></ul>
</div>

<button class="btn btn-primary mt-2" onclick="add_pair()">+ Paar</button>
{% endblock %}