// general conainer stuff
:root {
	--show-bg: #b9cada;
	--show-color: #333;

	--example-bg: #000;
	--example-color: #ddd;
}
div.main-container {
	min-height: 100vh;
	padding: 4em 0 0;

	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
.container {
	width: 100%;
	margin-top: 1.5em;
}

// chips via flexbox
.chip-container {
	margin: 0 5%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: flex-start;
	align-items: flex-start;
}
.chip__row {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;

	padding: 1em;
	margin: .5em;

	border-radius: 15px;
	background: var(--show-bg);
	color: var(--show-color);
}
.chip__row--example {
	background: var(--example-bg);
	color: var(--example-color);
}
.chip__row--k {background: #e44a4a;}
.chip__row--g {background: #81fa1f;}
.chip__row--s {background: rgb(129, 89, 240);}

.chip__cell {padding: .5em;}
.chip__cell--emph {
	font-weight: 700;
	font-size: 1.2rem;
}


@import './_show_nav';
@import './_show_persönliches';
@import './_show_fert';
