// large nav styles
#navbar-character {
    position: sticky;
    top: 10px;

    z-index: 1050;

    overflow: hidden auto;
    max-height: 100vh;
    flex-wrap: nowrap;

    flex: fit-content 0 0;
}

// mobile nav styles
#nav-mobile {
    position: sticky;
    top: 10px;

    z-index: 10000;

    #characterResources {
        overflow: auto;
        max-height: 85vh;
    }
    .offcanvas-body { overflow-x: hidden; }
}


/* compromise ongoing story in favor of nav offcanvas */

.character-resources.aside--story .offcanvas.offcanvas-end,
.character-resources.aside--story .character-resources-trigger { --bg-rgb: 111, 66, 193; }

@media (max-width: 767px) {
    .aside--story { z-index: 9999 !important; }
    .aside--story .offcanvas.offcanvas-end { max-height: calc(100vh - 8rem - 10px); }

    .aside--story .character-resources-trigger,
    .aside--story .offcanvas.offcanvas-end
    {
        top: 4rem !important;
    }
}
.aside--story .legend_is_label legend.form-label { font-size: 1rem; }


.nav-pills-light {
    --bs-nav-pills-link-active-bg: var(--bs-light);
    --bs-nav-pills-link-active-color: var(--bs-dark);
    --bs-nav-link-color: var(--bs-light);
    --bs-nav-link-hover-color: var(--bs-gray-500);
}

// profile image size
#profile-image { max-width: 100%; max-height: 50vh; }

// padding around sections & stuff
section h2 { margin-bottom: 1em; }
section + section > h2 { margin: 2em 0 1em; }

// let tables scroll in x direction, everything else not
table { overflow-x: auto; }
.table-responsive { max-width: calc(100dvw - 4em); }

#ferts tbody tr {
    &.fert_impossible {
        text-decoration: line-through 2px;

        td:first-of-type {
            text-decoration: line-through 2px var(--bs-danger);
        }
    }
    &:not(.impro_possible) td:first-of-type {
        color: var(--bs-danger) !important;
    }
    &:nth-of-type(3n-2) {
        border-top: 4px solid #ddd;
    }
}
