{% extends "base/headed_main.html" %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% static 'chat/css/index.css' %}" />
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'chat/js/index.js' %}"></script>
{% endblock %}

{% block footer %}
<footer class="footer">
		<input type="text" name="new_msg" class="footer__new-msg">
		<div class="footer__submit" onclick="set_new_msg()">></div>
</footer>
{% endblock %}

{% block main %}
<main class="message-container">
	{% for message in messages %}
		<div
			class="message
				{% if message.author.get_real_name == own_name %}message--own{% else %}message--foreign{% endif %}"
		>
			{% if message.author.get_real_name != own_name %}
				<span class="message__author">{{ message.author.get_real_name }}</span>
			{% endif %}
			{{ message.text }}
		</div>

		{% if forloop.last %}
			<input type="datetime" id="last_displayed_datetime" value="{{ message.created_at|date:'c'  }}">
		{% endif %}

		{% empty %}
			<input type="datetime" id="last_displayed_datetime" value="">
	{% endfor %}
</main>
{% endblock %}
