<style>
.booble {
    /* --booble-size: 1em; */

    height: var(--booble-size);
    width: var(--booble-size);
    border-radius: 50%;
    box-shadow: calc(var(--booble-size) * 0.1) calc(var(--booble-size) *0.1) calc(var(--booble-size) *0.25) calc(var(--booble-size) *0.1) rgba(var(--bs-dark-rgb), .2);
    background: radial-gradient(circle at 35% 35%, var(--bg-color), #222);
}
.booble--base { --bg-color: hsl(0, 0%, 100%); }
.booble--skilled { --bg-color: hsl(96, 100%, 48%); }
.booble--trained { --bg-color: hsl(302, 100%, 48%); }
</style>

{% with ''|center:amount as range %}
{% for _ in range %}
<div class="booble {{ extra_class }}"></div>
{% endfor %}
{% endwith %}
