{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<style>
	.main-container {
		display: grid;
		grid-template-columns: auto;

		justify-content: center;
		justify-items: center;
		align-items: center;
	}
</style>
{% endblock %}

{% block main %}
<h1 class="text-light d-block">Das wars!</h1>
<span class="text-light d-block">Deine Punkte aus diesem Modul wurden dir schon gutgeschrieben.</span>

<a class="btn btn-primary" href="{% url 'quiz:index' %}">BEENDEN</a>
{% endblock %}
