html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.main-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #ddd;

    overflow: hidden;
}

canvas { }
