{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'res/js/vis-network.min.js' %}"></script>
<script src="{% static 'time_space/js/net.js' %}"></script>

<link rel="stylesheet" href="{% static 'time_space/css/net.css' %}">
{% endblock %}

{% block main %}
<section class="non-terminal">

    <aside class="controls">
        
        <div class="add-node">
    
            <label for="add-node-select">Nächstes Element ist:</label>
            <select id="add-node-select">
                <optgroup label="Gatter">
                    {% for nodeStyle in design.gates %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
                </optgroup>
                <optgroup label="Zeitrisse">
                    {% for nodeStyle in design.time_fissures %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
                </optgroup>
                <optgroup label="Zeitannanomalien">
                    {% for nodeStyle in design.time_annanomalies %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
                </optgroup>
                <optgroup label="Raumrisse">
                    {% for nodeStyle in design.room_fissures %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
                </optgroup>
            </select>
        </div>
    
        <div class="rotation">
            <label for="rotation-select">Fokus auf:</label>
            <select id="rotation-select">
                <option value="vert">Abbildung</option>
                <option value="horiz">Terminal</option>
            </select>
        </div>
    </aside>
    
    <main><div id="mynetwork"></div></main>
</section>

<section id="terminal">
    <output>terminal output...</output>
    <form method="post" autocomplete="off">
        <label for="command" aria-label="Command Prompt">></label>
        <input id="command" name="command">
    </form>
</section>
{% endblock %}
