{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js' type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="{% static 'time_space/js/net.js' %}"></script>

<link rel="stylesheet" href="{% static 'time_space/css/net.css' %}">
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}

{% block body %}
<aside>
    
    <label for="add-node-select" style="color: #ddd; margin-right: 10px">Nächstes Element ist:</label>
    <select id="add-node-select">
        <optgroup label="Gatter">
            {% for nodeStyle in design.gates %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
        </optgroup>
        <optgroup label="Zeitrisse">
            {% for nodeStyle in design.time_fissures %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
        </optgroup>
        <optgroup label="Zeitannanomalien">
            {% for nodeStyle in design.time_annanomalies %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
        </optgroup>
        <optgroup label="Raumrisse">
            {% for nodeStyle in design.room_fissures %}<option value="{{nodeStyle.id}}">{{nodeStyle.label}}</option>{% endfor %}
        </optgroup>
    </select>
</aside>

<main id="mynetwork"></main>

<footer id="terminal">
    <output>terminal output...</output>
    <form method="post" autocomplete="off">
        <label for="command" aria-label="Command Prompt">></label>
        <input id="command" name="command">
    </form>
</footer>
{% endblock %}
