.head {
	margin: 1em 1em 2em;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: flex-end;

	& > * {
		margin-bottom: 1em;
	}

	.btns a {
		display: block;
		margin-bottom: 0.25em;
		color: var(--bs-body-color)
	}
}


// for search and crafting combos
.input-with-btn {
	display: flex;
	flex-wrap: nowrap;

	--border-radius: 8px;
	.btn {border-radius: 0 var(--border-radius) var(--border-radius) 0;}
	input {border-radius: var(--border-radius) 0 0 var(--border-radius);}
}