:root {
	--itemTile-size: 100px;
}

.nav {
	max-width: 700px;
	margin: 0 auto 3em;
}


@import './overlay';
.overlay {margin: 0 auto;}
.overlay .ingredient {
	display: flex;
	gap: 0.3em;
	align-items: center;

	color: black;
}

.btn-primary { display: block; margin: auto; }