/* backdrop for scrolling header in color of --background-color--main */
body::before {
    content: "";
    background-color: var(--background-color--main);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--after-header__margin-top);
}

#scrolling-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform .25s .1s ease-in-out;
}
.hidden-header #scrolling-header {
    transform: translateY(-100%);
}