.grid-container {
	grid-template-columns: repeat(6, auto);
}

.filters {
	margin: 5em 1em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.filter {
	display: flex;
	flex-direction: column;
	margin: 0 1em;
}

select {
	margin-top: .5em;
}
