{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'service/css/random.css' %}">
<script src="{% static 'service/js/random.js' %}"></script>
{% endblock %}

{% block main %}
{% for d in dice %}
<div class="section" {% if d.color %}style="border-color: {{ d.color }}"{% endif %}>

    <div class="section__head">
        {% if not d.color %}<h2>W</h2><div class="section__icon">{{ d.faces|length }}</div>
        {% else %}<h2>{{ d.art }}</h2>{% endif %}
    </div>

    <div class="input-container">
        <label for="num-{{ d.art }}">Würfelanzahl:</label>
        <input type="number" id="num-{{ d.art }}" class="num" placeholder="0" required data-faces="{{ d.faces }}">
    </div>

    <button class="btn btn-outline-light">Würfeln</button>
    <output class="result"></output>
    <span class="result-details"></span>
</div>
{% endfor %}
{% endblock %}
