{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="shortcut icon" href="{% static 'res/img/goren_logo.png' %}" type="image/x-icon">
{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>
/* see https://github.com/django/django/blob/main/django/contrib/admin/static/admin/css/base.css */

:root, :root[data-theme="light"] {
  --primary: #006600;
  --secondary: #004700;
  --link-fg: hsl(36, 100%, 20%);
  --link-selected-fg: hsl(280, 100%, 40%);
  --link-hover-color: hsl(280, 100%, 20%);

  --selected-row-rgb: 153, 92, 0; /* --link-fg in brighter */
  --selected-row: rgba(var(--selected-row-rgb), 0.3);
  
  --breadcrumbs-fg: var(--header-color);
  --breadcrumbs-link-fg: var(--header-link-color);
  --breadcrumbs-bg: var(--primary);

  --default-button-bg: var(--primary);
  --default-button-hover-bg: var(--secondary);
  --button-bg: var(--link-selected-fg);
  --button-hover-bg: var(--link-hover-color);
}

:root[data-theme="dark"] {
  --primary: #006600;
  --link-fg: hsl(36, 100%, 45%);
  --link-selected-fg: hsl(280, 100%, 60%);
  --link-hover-color: hsl(280, 100%, 35%);

  --selected-row: rgba(var(--selected-row-rgb), 0.3);
}
</style>
{% endblock %}
