{% extends 'quiz/base.html' %}
{% load static %}

{% block tab_untertitel %}{{ topic|default:"-" }}{% endblock %}
{% block navbar_untertitel %}{{ topic|default:"-" }}{% endblock %}
{% block head_extra %}
<style>
    input[type=number] {width: 50%}
    button {margin-left: 1%}
    #char_div {width: 100%}
    input[type=search] {width: 100%;}
    .apps {border: solid lightgray 1px; padding: 5%}
</style>
{% endblock %}

{% block body %}{{ block.super }}
<select name="spieler[]" multiple class="select2-hidden-accessible" id="spieler_dropdown">
    {% for s in spieler %}<option class="spieler_id" value="{{ s.id }}">{{ s.name }}</option>{% endfor %}
</select>

<div id="char_div">
<select name="chars[]" multiple class="select2-hidden-accessible" id="char_dropdown">
    {% for s in spieler %}{% endfor %}
</select>
</div>


<div id="for_sp" class="apps">
    <p>1 SP kostet 250 Punkte.</p>
    <span>
        <input type="number" min="1" value="1" class="num"> SP
        <button class="btn send">Wählen</button>
    </span>
</div>
{% endblock %}

{% block scripts %}{{ block.super }}
<script src="{% static 'ppServer/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'ppServer/js/ajax.js' %}" type="text/javascript"></script>
<script src="{% static 'ppServer/js/select2.min.js' %}"></script>

<script src="{% static 'quiz/js/chooseSpieler.js' %}" type="text/javascript"></script>
{% endblock %}
