{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/checkbox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'quiz/css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'quiz/css/grades.css' %}" />
{% endblock %}

{% block main %}
<aside class="p-3 text-bg-dark">
    <div>Aktuelle Punktzahl: <b>{{ akt_punktzahl }}</b></div>
    <div><a href="{% url 'quiz:scoreBoard' %}">Score-Board</a></div>
</aside>

    <div id="quiz-accordion" class="accordion mt-3">

        {% for module in timetable %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordionheading-{{ forloop.counter0 }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="accordion-{{ forloop.counter0 }}">
                    
                    <!-- HEAD -->
                    {% if module.icon %}<img src="{{ module.icon }}" class="icon" height=32 width=32 aria-hidden="true"/>{% else %}<span></span>{% endif %}
                    
                    <span class="titel">{{ module.titel }}</span>

                    <!-- stats -->
                    <span class="score {{ module.score_tag_class }}">{{ module.score|default:"-" }}</span>
                    <span class="questions">{{ module.questions }} Frage{% if module.questions != 1 %}n{% endif %}</span>
                    <span class="points">{% if module.points is None %}-{% else %}{{ module.points|floatformat:"-2" }}{% endif %}/{{ module.max_points|floatformat:"-2" }} P.</span>
    
                    <div>
                        {% if spielleiter_service or module.state not in button_states %}
                            <div>{{ module.state }}</div>
                        {% else %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="number" name="id" value="{{ module.id }}" hidden>
                                <input type="submit" class="btn btn-primary" value="{% if module.state == 'opened' %}Quiz me!{% else %}Ergebnis{% endif %}" />
                            </form>
                        {% endif %}
    
                        {% if module.optional %}<span>(optional)</span>{% endif %}
                    </div>
                    <!-- END HEAD -->

                </button>
            </h2>
            <div id="accordion-{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="accordionheading-{{ forloop.counter0 }}" data-bs-parent="#quiz-accordion">
                <div class="accordion-body">

                <!-- CONTENT -->
                <p>Vorher: {{ module.prerequisites|default:'-' }}</p>
                <p>Belohnung: {{ module.reward }}</p>
                <p>{{ module.description }}</p>

                {% if module.spent_reward or module.spent_reward_larp %}
                <small>
                    {% if module.spent_reward %}Ausgegeben.{% endif %}
                    {% if module.spent_reward_larp %}Ausgegeben (Larp).{% endif %}
                </small>
                {% endif %}
                <!-- END CONTENT -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
