{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/list.css' %}" />
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}
{% block body %}
<div class="list-container">
    {% for e in entries %}
    <div class="row">
        <a href="{{ e.url }}">
            <h2 class="card__title">{{ e.titel }}</h2>
            <p class="card__text">{{ e.beschreibung|default:"" }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
