{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/list.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'quiz/css/sp_module_index.css' %}" />
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic plus_url='/quiz/sp/module_add' %}{% endblock %}
{% block body %}
<div class="list-container">
    {% for e in entries %}
    <div class="row">
        <a href="{{ e.url }}" class="list__entry">
            <img src="{{ e.icon }}" alt="icon">
            <div>
                <h2 class="card__title">{{ e.titel }}</h2>
                <p class="card__text">{{ e.beschreibung|default:"" }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
