{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/css/spielleiter_correct.css' %}" />
<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js' type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'quiz/js/spielleiter_correct.js' %}"></script>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}
{% block body %}

{% endblock %}
