{% extends 'base/headed_main.html' %}
{% load static crispy_forms_tags %}

{% block extra-head %}
<style>
    .main-container {
        max-width: 65ch;
        width: min(fit-content, 100%);
        margin: auto;
    }
    form { width: fit-content; }
    p {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: .5em;
    }
    .helptext {
        opacity: .8;
        font-weight: lighter;
        font-size: .8em;
    }
    .errorlist {
        color: var(--bs-danger);
    }
</style>

<script id="send_test_endpoint" type="application/json">{% url 'web_push:send_testmessage' %}</script>
<script defer>
    const endpoint = document.querySelector("#send_test_endpoint").innerHTML;

    function test_push() {
        const csrf_token = document.querySelector("[name=csrfmiddlewaretoken]").value;

        const requestOptions = {
            method: 'POST',
            headers: new Headers({
                'X-CSRFToken': csrf_token,
                'Content-Type': 'application/json',
            }),
            body: "",
        };
    
        return fetch(endpoint, requestOptions)
            .then((response) => response.json());
    }
</script>
{% endblock %}

{% block main %}
<h2>Mein Profil</h2>

<form class="mt-5" method="post">
    {% csrf_token %}
    {% for p_form in profile_forms %}{% crispy p_form %}{% endfor %}

    <button class="btn btn-primary" type="submit">Speichern</button>
</form>
<div class="mt-4">
    <a class="d-block mb-1" href="{% url 'auth:change_email' %}">Email ändern</a>
    <a class="d-block mb-1" href="{% url 'auth:change_password' %}">Passwort ändern</a>
</div>

<h2 style="margin-top: 3em">Benachrichtigungen</h2>

<div class="mt-5">
    <h3>Gerät registrieren</h3>
    <p>Möchtest du dieses Gerät für Benachrichtigungen registrieren?</p>
    <button class="btn btn-primary" onclick="registerForWebPush(true)">Gerät registrieren</button>
</div>

<div class="mt-5">
    <h3>Themen</h3>
    <p>Welche Themen möchtest du mit deinen Geräten abonnieren?</p>
    <form method="post" action="{% url 'web_push:push_settings' %}">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Themen speichern</button>
    </form>
</div>

<div class="mt-5">
    <h3>Benachrichtigungen testen</h3>
    <p>Sende Test-Benachrichtigungen an alle deine Geräte</p>
    <button class="btn btn-primary" onclick="test_push()">Testnachricht senden</button>
</div>
{% endblock %}