.head {
	margin: 1em 1em 2em;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: flex-end;

	& > * {
		margin-bottom: 1em;
	}

	.btns {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;
		gap: 2em;
		
		a:not(.btn) { color: var(--bs-light); }
	}
}
