.head {
	margin: 1em 0 2em;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: flex-start;

	& > * {
		margin-bottom: 1em;
	}
	a.btn {color: #333;}

	.btns {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;
		gap: 2em;

		.btn {
			border: 3px solid #0ff;
			background: unset;
			color: #ddd;
		}
		a {	font-family: Quicksand, "sans-serif"; }
	}
}
