.overlay {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	gap: 1em;

	padding: 1em;
	border-radius: 10px;
	border: 3px solid #ddd;
	color: #ddd;
	background: lighten(#3a3d40, 10%);

	max-width: 700px;
	margin: auto;

	.mini-form {
		background-color: rgba(0, 0, 0, 0.3);
		padding: 0.5em;

		.input-group { max-width: 300px; }
	}

	.separator {
		grid-column: 1 / -1;
		height: 2em;
	}
	img {
		width: var(--itemTile-size);
		height: var(--itemTile-size);
	}

	#overlay__icon {
		grid-column: span 1 / -1;
		justify-self: flex-end;
	}
	#overlay__name {
		font-size: 1.7em;
		font-weight: 900;
	}

	#overlay__ingredients {
		display: flex;
		flex-wrap: wrap;
	}
	.ingredient, #overlay__table {
		margin: 1em;

		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
	}
}

@media only screen and (max-width: 527px) {
	.overlay {
		grid-template-columns: auto;
		gap: .4em;

		label, .btn {
			margin-top: 1.8em;
		}
	}
}
