:root {
	--itemTile-size: 100px;
}

.nav {
	max-width: 700px;
	margin: 0 auto 3em;
}


@import './overlay';
.overlay .ingredient {color: #ddd;}
.overlay .num {margin-right: .3em;}
.overlay {margin: 0 auto;}

.btn-primary { display: block; margin: auto; }