.main-container  {
	min-height: 90vh;

	display: grid;
	justify-content: center;
	align-content: center;
}

.container {

	// center everything
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 3em;

	height: 100%;

	grid-template-columns: auto;

	font-size: 1.5em;
		font-weight: 900;

	label {
		color: #ddd;
	}
}

.btn {
	grid-column: 1 / -1;
	margin: 3em 0 0;
}


.check {
	display: none;

	grid-template-columns: auto 1fr;
	gap: 2em;
}
