:root {
	--itemTile-size: 100px;
}

.add-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	margin-inline: 3px;

	padding: 1em;
	border-radius: 8px;
	background: darken(rgb(4, 201, 245), 60%);

	label { display: block; }
	input, select { padding: 4px; border-radius: 3px; }
	#id_amount { width: 70px; }
}


body:has(#checkbox--show-all:not(:checked)) .item.item--unowned {
	display: none;
}
body:has(#checkbox--show-all:not(:checked)) .category:not(:has(.item.item--visible:not(.item--unowned))),
.category:not(:has(.item--visible)) {
	b { display: none; }
	.grid { margin: 0; }
}

.category .item:not(.item--visible) { display: none; }

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, var(--itemTile-size));
	gap: 20px;
	justify-content: center;

	margin-bottom: 3em;

	.item {
		height: var(--itemTile-size);
		width: var(--itemTile-size);

		border-radius: 5px;
		border: 2px solid transparent;

		cursor: pointer;

		&:hover, &:visited { border: 2px solid #ddd; }

		&.item--unowned { opacity: 0.5; }


		img {
			grid-area: "icon";

			display: block;
			width: 80%;
			height: 80%;

			position: relative;
			top: 10%;
			left: 10%;

			color: #ddd;
		}

		.num {
			// in bottom right corner (move right and up)
			display: block;
			text-align: end;

			position: relative;
			top: calc(-.4em);

			// control size around
			line-height: 1em;
			padding: .2em;

			// fancy
			font-size: .9rem;
			font-weight: 600;
			color: #fff;
			text-shadow: #000 0 0 5px;
		}
	}
}


@import './_head';
@import './_overlay';
.overlay {display: none;}
