{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">
{% endblock %}

{% block main %}
<div class="text-container">

    <table style="border-spacing: 5px;">
        {% for card in object_list %}
            <tr>
                <td>{{ card.name }}</td>
                <td><a class="btn btn-primary" href="{% url 'cards:show' card.id %}">Angucken</a></td>
                <td><a class="btn btn-primary" href="{% url 'cards:transaction' card.id %}">Transaktion</a></td>
            </tr>
        {% empty %}
            <tr>Noch keine Karten vorhanden.</tr>
        {% endfor %}
    </table>
</div>
{% endblock %}