{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">
    <link rel="stylesheet" href="{% static 'cards/css/show.css' %}">
{% endblock %}

{% block main %}
<div class="text-container">

    Guthaben: {{ object.money }} Dr.

    <h2>Transaktionen</h2>

    <div class="transaction-container">

        {% if transactions|length %}
        <div class="table-container table-responsive">
            <table class="table table-hover transactions">
                <tr>
                    <td>Betrag</td>
                    <td>Person</td>
                    <td>Grund</td>
                    <td>Zeitpunkt</td>
                </tr>
        
                {% for t in transactions %}
                    <tr class="{% if t.sender == object %}send{% else %}received{% endif %}">
                        <td class="amount">{% if t.sender == object %}-{% else %}+{% endif %}{{ t.amount }} Dr.</td>
                        <td>{% if t.sender == object %}an {{ t.receiver|default:"-" }}{% else %}von {{ t.sender|default:"-" }}{% endif %}</td>
                        <td class="reason">{{ t.reason }}</td>
                        <td class="timestamp">{{ t.timestamp }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
            Noch keine Transaktionen vorhanden
        {% endif %}
    </div>

    {% if object.money %}
    <a class="btn btn-primary" href="{% url 'cards:transaction' object.id %}">Geld senden</a>
    {% endif %}
</div>
{% endblock %}