{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">
    <style>
        .main-container { background-image: none; }
    </style>
{% endblock %}

{% block main %}
<div class="text-container">
    <h1>{{ sender.name|default:"neue Transaktion"}}</h1>

    {% if sender %}
        <a href="{% url 'cards:show' sender.pk %}">Zur Kontoübersicht</a>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% for error in errors %}<p>{{ error }}</p>{% endfor %}

        <input type="submit" class="btn btn-lg btn-primary" value="Geld senden">
    </form>
</div>
{% endblock %}