{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}<link rel="stylesheet" href="{% static 'base/css/list.css' %}">{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}

{% block body %}
<div class="list-container">
    {% for m in maps %}
    <div class="row">
        <a href="{% url 'file:map' m.id %}">
            <h2 class="card__title">{{ m.titel }}</h2>
            <p class="card__text">{{ m.beschreibung|default:"" }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
