{% extends 'base/main.html' %}
{% load static %}
{% block title %}Wiki{% endblock %}
{% block extra-head %}
<style>.main-container { padding: 3em 5% 100px; }</style>
{% endblock %}
{% block header %}{% include 'base/header.html' with topic='Allesdex' %}{% endblock %}
{% block main %}
<ul>
    <li><a class="text-light" href="{% url 'dex:monster_index' %}">Monster</a></li>
    <li><a class="text-light" href="{% url 'dex:attack_index' %}">Attacken</a></li>
    <li><a class="text-light" href="{% url 'dex:type_table' %}">Typentabelle</a></li>
</ul>
{% endblock %}
