{% extends 'base/headed_main.html' %}

{% block extra-head %}
<style>
  body {
    color: {{ object.textfarbe }};
    background-color: {{ object.farbe }};
    --background-color--main: rgba(0, 0, 0, 0.25);
  }
  .base-container {
    max-width: 400px;
    margin: auto;
  }

  .monster-container {
    --del-btn-size: 35px;

    position: relative;

    margin-top: calc(.7* var(--del-btn-size));
  }
  .del-monster-btn {
    border-radius: 200px;
    position: absolute;
    top: calc(-0.5 * var(--del-btn-size));
    right: calc(-0.5 * var(--del-btn-size));

    height: var(--del-btn-size);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %}

{% block main %}
<div class="base-container">

  <h2>Settings:</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-light border-dark">Speichern</button>
  </form>

  <h2 class="mt-5">Monster:</h2>
  <ul class="list-unstyled">
    {% for sp_mo in object.monster.all %}
      <li class="monster-container">
        {% include 'dex/monster-farm-listentry.html' with sp_mo=sp_mo monster=sp_mo.monster id=obj.id include_styles=forloop.first %}

        <form action="{% url 'dex:monster_team_delete_monster' object.id %}" method="post">
          {% csrf_token %}
          <input hidden type="number" name="monster_id" value="{{ sp_mo.id }}">
          <button class="del-monster-btn btn btn-sm btn-danger" data-monster-id="{{ sp_mo.id }}" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
              <path fill="#ffffff" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
            </svg>
          </button>
        </form>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}

<footer class="bg-dark">
  <button class="open-modal-btn btn btn-lg btn-outline-light d-block mx-auto my-2" type="button" data-bs-toggle="modal" data-bs-target="#monster-modal">
    + Monster
  </button>
</footer>

<!-- Modal -->
<div class="modal fade" id="monster-modal" tabindex="-1" aria-label="Neues Monster fangen">
  <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
          <div class="modal-body">

            
            <form action="{% url 'dex:monster_team_add_monster' object.id %}" method="post" id="catch-form">
              {% csrf_token %}
              <p>
                <label for="id_monster">Deine Monster: </label>
                <select id="id_monster" name="monster_id" required>
                  <option value="" selected>---------</option>
                  {% for monster in own_monsters %}
                  <option value="{{ monster.id }}">{{ monster.name|default:monster.monster.name }}</option>
                  {% endfor %}
                </select>
              </p>
            </form>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary" form="catch-form">Monster zufügen</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
          </div>
      </div>
  </div>
</div>
{% endblock %}