{% extends 'base/headed_main.html' %}
{% load static dice %}

{% block extra-head %}
<style>
  main.main-container {
    max-width: 400px;
    margin: auto;
    }
</style>
{% endblock %}

{% block main %}
  {% include 'dex/monster-listentry.html' with monster=object include_styles=True %}

  <!-- Allgemeines -->
  <h2 class="mt-5">Allgemeines</h2>
  <div class="card bg-dark mb-2">
    <div class="card-body">
      <div class="card-text">{{ monster.description }}</div>

      <hr>
      <ul>
        <li><b>Rang: </b><span>{{ monster.wildrang }}</span></li>
        <li><b>Größe: </b><span>{{ monster.height }} m</span></li>
        <li><b>Gewicht: </b><span>{{ monster.weight }} kg</span></li>
        <li><b>Habitat: </b><span>{{ monster.habitat }}</span></li>
      </ul>
    </div>
  </div>

  <!-- Werte -->
  <h2 class="mt-5">Werte</h2>
  <div class="card text-dark" style="background-color: var(--bs-orange)">
    <div class="card-body">
      <div class="card-text">
        <ul>
          <li><b>Fähigkeiten: </b><span>
            {% for f in monster.fähigkeiten.all %}
              <a href="{% url 'dex:monster_fähigkeit_index' %}#{{ f.id }}" class="text-dark">{{ f.name }}</a>{% if not forloop.last %}, {% endif %}
            {% empty %}-
            {% endfor %}
          </span></li>
          <li><b>HP: </b><span>{{ monster.base_hp|add:monster.rang_hp }} HP</span></li>
          <li><b>Schadenswiderstand: </b><span>{{ schadensWI }}</span></li>
          <li><b>Angriffsbonus: </b><span>{{ monster.base_attackbonus|add:monster.rang_angriffsbonus }}</span></li>
          <li><b>Reaktionsbonus: </b><span>{{ monster.base_reaktionsbonus|add:monster.rang_reaktionsbonus }}</span></li>
        </ul>
      </div>
    </div>
  </div>
  
  {% if monster.evolutionPre.exists %}
  <h2 class="mt-5">Vorentwicklung</h2>
  <ul class="list-unstyled">
    {% for m in monster.evolutionPre.all %}
      <li>{% include 'dex/monster-listentry.html' with monster=m include_styles=False %}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if monster.evolutionPost.exists %}
  <h2 class="mt-5">Weiterentwicklung</h2>
  <ul class="list-unstyled">
    {% for m in monster.evolutionPost.all %}
      <li>{% include 'dex/monster-listentry.html' with monster=m include_styles=False %}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if monster.alternativeForms.exists %}
  <h2 class="mt-5">Andere Formen</h2>
  <ul class="list-unstyled">
    {% for m in monster.alternativeForms.all %}
      <li>{% include 'dex/monster-listentry.html' with monster=m include_styles=False %}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if monster.opposites.exists %}
  <h2 class="mt-5">Gegenmonster</h2>
  <ul class="list-unstyled">
    {% for m in monster.opposites.all %}
      <li>{% include 'dex/monster-listentry.html' with monster=m include_styles=False %}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <!-- Attacken -->
  {% if monster.attacken.exists %}
  <h2 class="mt-5">Attacken</h2>
  <ul class="list-unstyled">
    {% for a in monster.attacken.all %}
      <li>{% include 'dex/attack-listentry.html' with attack=a include_styles=forloop.first %}</li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}

{% block footer %}
{{ block.super }}
<footer class="bg-dark">
  <button class="open-modal-btn btn btn-lg btn-outline-light d-block mx-auto my-2" type="button" data-bs-toggle="modal" data-bs-target="#monster-modal">
    + Monster fangen
  </button>
</footer>

<!-- Modal -->
<div class="modal fade" id="monster-modal" tabindex="-1" aria-label="Neues Monster fangen">
  <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
          <div class="modal-body">
            <form method="post" id="catch-form">
              {% csrf_token %}
              {{ form.as_p }}
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" form="catch-form">Monster fangen</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
          </div>
      </div>
  </div>
</div>
{% endblock %}