{% extends 'base/headed_main.html' %}
{% load static %}

{% block extra-head %}
<style>
    .main-container {
        width: fit-content;
        margin: auto;
    }
</style>
{% endblock %}

{% block main %}
<h2>Para-Tiere</h2>

<ul class="mt-2">
    {% for tier in object_list %}
    <li class="my-2">
        {% if spieler in tier.visible.all %}
        <a href="{% url 'dex:para_tier_detail' tier.id %}" class="text-light">
        {% endif %}
            {{ tier.name }}
        {% if spieler in tier.visible.all %}</a>{% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}