@import './_party_accordion';

.party.accordion-button::after {
    margin-left: 0;
}

#party-votes, .table--vote-result {
    max-width: 700px;
}

.party, .party__politician {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1.5em;
}

.party__select-utils {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

// radio & checkbox colors
#id_voting_done:checked { accent-color: currentColor; }
.form-check-input[type=radio]:where(:checked, :indeterminate) {
    background-color: currentColor;
    border-color: currentColor;
}
.form-check-input[type=checkbox] {
    background-color: var(--bs-accordion-btn-color) !important;
    border-color: var(--bs-accordion-btn-color) !important;
}
.form-check-label { color: var(--bs-accordion-btn-color, var(--bs-body-color)); }

// focus styles
.form-check-input:focus {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 .25rem rgba(180,180,180,.5);
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}



/* reset bs, use dj styles (again) */

.required label, label.required {
    font-weight: bold;
    color: var(--body-fg);
}
.helptext {
    display: block;
    font-size: 0.6875rem;
    color: var(--body-quiet-color);
}
.submit-row a.deletelink { height: unset; }
form > div > p {
    overflow: hidden;
    padding: 10px;
    font-size: 0.8125rem;
    border-bottom: 1px solid var(--hairline-color);
}