{% extends 'base/headed_main.html' %}
{% load static %}

{% block extra-head %}
{{ spieler_einheiten|json_script:"spieler_einheiten" }}
<style>
    #einheiten_list { width: fit-content; }
    .form-select { width: unset; }
</style>
<script src="{% static 'lerneinheiten/js/access.js' %}" defer></script>
{% endblock %}

{% block main %}
<form method="POST" id="form">
    {% csrf_token %}
    
    <label class="mb-1" for="spieler-select">Spieler*:</label>
    <select class="form-select" id="spieler-select" name="spieler" required>
        <option selected disabled value="">---------</option>
        {% for spieler in object_list %}
        <option value="{{ spieler.pk }}">{{ spieler }}</option>
        {% endfor %}
    </select>

    <input name="einheiten" hidden>

    <label for="einheiten_list" class="mt-3 mb-1">Einheiten:</label>
    <ul class="list-group m-0" id="einheiten_list">
        {% for einheit in einheiten %}
        <li class="list-group-item">
            <input type="checkbox" id="einheit-{{ einheit.pk }}" class="form-check-input me-1">
            <label for="einheit-{{ einheit.pk }}">#{{ einheit.number }} {{ einheit.titel }}</label>
        </li>
        {% endfor %}
    </ul>
</form>
{% endblock %}

{% block footer %}
{{ block.super }}
<div class="fixed-bottom">
    <footer class="sticky-footer bg-dark p-2">
        <button class="btn btn-primary d-block m-auto" type="submit" form="form">Speichern</button>
    </footer>
</div>
{% endblock %}