{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<style>
.high-max {color: #7f7;}
.low-max {color: #f55;}
.attr {font-weight: bold;}
.col1 a {
    text-shadow: 2px 2px 5px #010a0c;
}

div.grid-container {
    grid-template-columns: repeat({{ heading|length|add:2 }}, auto);
}
</style>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}
{% block body %}
<div class="grid-container">
<div class="col1 heading">Gfs/Klasse</div>
<div class="heading">Ap-Kosten</div>

{% for h in heading %}
<div class="heading {% if forloop.last %}heading--last{% endif %}">{{ h.titel }}</div>
{% endfor %}

{% for e in gfs %}
    <!-- Gfs -->
    <div class="col1"><a href="{% url 'wiki:stufenplan' e.id %}">{{ e.titel }}</a></div>

    <!-- Kosten -->
    <div>{{ e.ap }} AP</div>

    <!-- attribute -->
    {% for a in e.attr_calc %}
    <div class="
        {% if a.maxWert > 9 %}high-max">
        {% elif a.maxWert < 4 %}low-max">
        {% else %}">{% endif %}

        {{ a.aktuellerWert }}/{{ a.maxWert }}
    </div>
    {% endfor %}
{% endfor %}
{% endblock %}
