{% extends 'base/main.html' %}
{% load static %}
{% block title %}Wiki{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/cards.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'wiki/css/index.css' %}" type="text/css">
<style>.main-container { padding: 3em 5% 100px; }</style>
{% endblock %}
{% block header %}{% include 'base/header.html' with topic='Wiki' %}{% endblock %}
{% block main %}
<div class="left-col">
    <div class="sec sec--teil">
        <a class="text-light" href="{% url 'wiki:vorteile' %}">Vorteile</a>
        <a class="text-light" href="{% url 'wiki:nachteile' %}">Nachteile</a>
        <a class="text-light" href="{% url 'wiki:talente' %}">Talente</a>
    </div>
    <div class="sec sec--fert">
        <a class="text-light" href="{% url 'wiki:spezial' %}">Spezialfertigkeiten</a>
        <a class="text-light" href="{% url 'wiki:wissen' %}">Wissensfertigkeiten</a>
    </div>
    <div class="sec sec--wesen">
        <a class="text-light" href="{% url 'wiki:gfs' %}">Klassen/Gfs</a>
        <a class="text-light" href="{% url 'wiki:persönlichkeiten' %}">Persönlichkeiten</a>
        <a class="text-light" href="{% url 'wiki:wesenkraft' %}">Wesenkräfte</a>
        <a class="text-light" href="{% url 'wiki:rangRanking' %}">Erfahrungsranking</a>
    </div>
    <div class="sec sec--berrel">
        <a class="text-light" href="{% url 'wiki:profession' %}">Professionen</a>
        <a class="text-light" href="{% url 'wiki:berufe' %}">Berufe</a>
        <a class="text-light" href="{% url 'wiki:religionen' %}">Religionen</a>
    </div>
    <div class="sec sec--geburtstag">
        <a class="text-light" href="{% url 'wiki:geburtstage' %}">Geburtstage</a>
    </div>
</div>
<div class="right-col cards">
    <div class="card" id="files">
        <a href="{% url 'file:index' %}">
            <div class="card__icon bg-primary">
                <img class="card__icon__img" src="{% static 'res/img/icon-book.png' %}">
            </div>
        </a>
        <div class="card__container text-bg-dark">
            <h2 class="card__heading">Dateien</h2>
            <p class="card__text">
                Alles was nicht im Wiki Platz gefunden hat landet hier.
                Vom Schmiedesystem zu Landkarten und Hacking.
            </p>
            <div class="btns">
                <a href="{% url 'file:index' %}" class="btn btn-primary">Zeich ma her</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
