{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<style>
	div.grid-container { grid-template-columns: repeat(3, auto); }
</style>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}
{% block body %}
<div class="grid-container">
	<div class="col1 heading">Profession</div>
	<div class="heading">Positiv</div>
	<div class="heading heading--last">Negativ</div>

	{% for e in rows %}
			<div class="col1">{{ e.titel }}</div>
			<div>{{ e.positiv|default:'-' }}</div>
			<div>{{ e.negativ|default:'-' }}</div>
	{% endfor %}
</div>
{% endblock %}
