{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<style>
	.attr {
		font-weight: bold;
	}

	.col1 a {
		text-shadow: 2px 2px 5px #010a0c;
	}

	div.grid-container {
		grid-template-columns: repeat(7	, auto);
	}
	.emphasis {
		font-size: 1.2rem;
		font-weight: 700;
	}
</style>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}
{% block body %}
<div class="grid-container">
	<div class="col1 heading">Profession</div>
	<div class="heading">Attribut Bonus</div>
	<div class="heading">Attribut Max Bonus</div>
	<div class="heading">Fertigkeit Bonus</div>
	<div class="heading">Talente</div>
	<div class="heading">Spezialfert.</div>
	<div class="heading heading--last">Wissensfert.</div>

	{% for e in professionen %}
			<!-- Profession -->
			<div class="col1"><a href="{% url 'wiki:stufenplan_profession' e.id %}">{{ e.titel }}</a></div>

			<!-- Attribut bonus -->
			<div>{% autoescape off %}{{ e.aktuell_bonus|default:'-' }}{% endautoescape %}</div>

			<!-- Attribut max bonus -->
			<div>{% autoescape off %}{{ e.max_bonus|default:'-' }}{% endautoescape %}</div>

			<!-- Fertigkeit bonus -->
			<div>{% autoescape off %}{{ e.fp_bonus|default:'-' }}{% endautoescape %}</div>

			<!-- talente -->
			<div>{{ e.talente|default:'-' }}</div>

			<!-- spezial -->
			<div>{{ e.spezial|default:'-' }}</div>

			<!-- wissen -->
			<div>{{ e.wissen|default:'-' }}</div>
			{% endfor %}
	</div>
	{% endblock %}
