{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}
{% block body %}

<div class="grid-container">
    <div class="col1 heading">Titel</div>
    <div class="col2 heading">Beschreibung</div>
    <div class="col3 heading heading--last">Anhänger</div>

    {% for r in religionen %}
    <div class="col1">{{ r.titel }}</div>
    <div class="col2">{{ r.beschreibung|default:'-' }}</div>
    <div class="col3">
        {% for a in r.charakter_set.all %}
            {{ a.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}-
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
