{% extends 'base/headed_main.html' %}
{% load static django_tables2 csv_to_table %}

{% block extra-head %}
<style>
    p, th, td { max-width: 60ch; }

    #rule-list li {--bs-body-color: var(--bs-dark); }
</style>
<script src="{% static 'res/js/easymde@2.18.0.min.js' %}"></script>
<script src="{% static 'res/js/markdown.js' %}" defer></script>
{% endblock %}

{% block main %}
    <ul id="rule-list" class="list-group">

        {% for o in object_list %}
        <li class="mb-5 text-bg-light p-3 rounded">
            <h2>{{ o.nr }}: {{ o.titel }}</h2>
            <div class="markdown" data-text="{{ o.text }}"></div>
        </li>
        {% endfor %}
{% endblock %}
