{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'wiki/css/stufenplan_profession.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <section class="content description">
        <h2 class="title">Beschreibung</h2>
        <p class="description__text">{{ profession.beschreibung }}</p>
    </section>

    <section class="content startbonus">
        <h2 class="title">Bonus bei Wahl</h2>
        <table class="table table-dark table-striped table-hover">
            <tbody>
                <tr>
                    <td>Attribut Wert Bonus</td>
                    <td>{{ profession.aktuell_bonus|default:'-' }}</td>
                </tr>
                <tr>
                    <td>FP Bonus</td>
                    <td>{{ profession.fp_bonus|default:'-' }}</td>
                </tr>
                <tr>
                    <td>Spezialfertigkeiten</td>
                    <td>{{ profession.spezial|default:'-' }}</td>
                </tr>
                <tr>
                    <td>Wissensfertgkeiten</td>
                    <td>{{ profession.wissen|default:'-' }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

<section class="content ep-tree">
    <h2 class="title">EP-Tree</h2>
    <table class="ep-tree__table table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Stufe (EP)</th>
                <th>TP</th>
                <th>Weiteres</th>
            </tr>
        </thead>

        <tbody>
            {% for e in stufenplan_entries %}
            <tr>
                <td><b>{{ e.stufe }}</b><br><small>({{ e.ep }} EP)</small></td>
                <td>{{ e.tp|default:"-" }}</td>
                <td>{{ e.weiteres|default:"-" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
