{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<style>
    /* easily readable description without scrolling */
.description__text {
	max-width: 75ch;
	line-height: 1.35em;
}

.row > * { margin-bottom: 2em; }

.image-container {
    height: fit-content;
    max-width: 500px;
}
</style>
{% endblock %}

{% block main %}
<section class="container">
    <div class="row">

        <!-- image/s -->
        {% if gfs.gfsimage_set.all|length == 0 %}<img src="{% static 'res/img/goren_logo.svg' %}" class="col-12 col-sm image-container">{% endif %}
        {% if gfs.gfsimage_set.all|length == 1 and gfs.gfsimage_set.all.0.text|length == 0 %}<img src="{{ gfs.gfsimage_set.all.0.img.url }}" class="col-12 col-sm image-container">{% endif %}
        {% if gfs.gfsimage_set.all|length == 1 and gfs.gfsimage_set.all.0.text|length > 0 %}
            <div class="col-12 col-sm image-container">
                <img id="img" src="{{ gfs.gfsimage_set.all.0.img.url }}" class="w-100">
                <label for="img" class="d-block my-2">{{ gfs.gfsimage_set.all.0.text }}</label>
            </div>
        {% endif %}

        {% if gfs.gfsimage_set.all|length > 1 %}
        <div id="image-carousel" class="carousel slide carousel-fade col-12 col-sm image-container" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for img in gfs.gfsimage_set.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ img.img.url }}" class="d-block w-100">

                    {% if img.text %}<div class="carousel-caption d-none d-md-block">{{ img.text }}</div>{% endif %}
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Zurück</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Weiter</span>
            </button>

            <div class="carousel-indicators">
                {% for img in gfs.gfsimage_set.all %}
                <button type="button" data-bs-target="#image-carousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="{{ img.text }}"></button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- description -->
        <div class="col-12 col-sm">
            <h2 class="title">Eigenschaften</h2>
            <p class="description__text">{{ gfs.eigenschaften_rendered|default_if_none:"-"|safe }}</p>

            <h2 class="title">Beschreibung</h2>
            <p class="description__text">{{ gfs.beschreibung_rendered|default_if_none:"-"|safe }}</p>
        </div>
    </div>

    <div class="row my-4">

        <!-- start-values -->
        <div class="col-12 col-sm-6">
            <h2 class="title">Bonus bei Wahl</h2>
            <div class="table-container table-responsive">
                <table class="startbonus__table table table-dark table-striped table-hover">
                    <tbody>
                        {% for b in boni %}
                        <tr>
                            <td>{{ b.field }}</td>
                            <td>{{ b.val|default:'-'|linebreaks }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="col-12 col-sm-6">

            <!-- skilltree -->
            <h2 class="title">Skilltree</h2>
            <div class="table-container table-responsive">
                <table class="skilltree__table table table-dark table-striped table-hover">
        
                    <thead>
                        <tr>
                            <th>Stufe (SP)</th>
                            <th>Gibt</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        {% for e in skilltree %}
                        <tr>
                            <td>
                                <b>{{ forloop.counter0|add:2 }}</b><br><small>({{ e.sp }} SP)</small>
                            </td>
                            <td>{{ e.text|join:', '|default:'-'|linebreaks }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- EP-tree -->
<section class="content ep-tree">
    <h2 class="title">EP-Tree</h2>
    <div class="table-container table-responsive">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>Stufe (EP)</th>
                    <th>Vorteile</th>
                    <th>AP</th>
                    <th>FP, FG</th>
                    <th>TP</th>
                    <th>Zauber</th>
                    <th>Wesenkräfte</th>
                    <th>Gfs-Fähigkeiten</th>
                </tr>
            </thead>

            <tbody>
                {% for e in stufenplan_entries %}
                <tr>
                    <td><b>{{ e.stufe }}</b><br><small>({{ e.ep }} EP)</small></td>
                    <td>{{ e.vorteile|default:"-" }}</td>
                    <td>{{ e.ap|default:'-' }}</td>
        
                    <td>
                        {% if e.fert.0 %}{{ e.fert.0 }}
                            {% if e.fert.1 %}, {{ e.fert.1 }}{% endif %}
                        {% elif e.fert.1 %}{{ e.fert.1 }}
                        {% else %}-{% endif %}
                    </td>
                    
                    <td>{{ e.tp|default:"-" }}</td>
                        <td>{{ e.zauber|default:"-" }}</td>
                            <td>{{ e.wesenkräfte|default:"-" }}</td>
        
        
                    <td>
                        {% if not e.ability  %}-{% else %}
                        <strong>{{ e.ability.name|default:"-" }}</strong><br>
                        {{ e.ability.beschreibung|default:"-"|linebreaks }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
