{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<style>
div.grid-container {
    grid-template-columns: auto auto auto auto auto auto;
}
</style>
<script>
    breakpoint = 560;
        window.dispatchEvent(new Event('resize'))
</script>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic=topic %}{% endblock %}
{% block body %}
<div class="grid-container">
    <div class="col1 heading">Titel</div>
    <div class="col2 heading">Attr1</div>
    <div class="col3 heading">Attr2</div>
    <div class="col4 heading">Attr3</div>
    <div class="col5 heading">Fertigkeiten</div>
    <div class="col6 heading heading--last">Beschreibung</div>

    {% for w in wissen %}
    <div class="col1">{{ w.titel }}</div>
    <div class="col2">{{ w.attr1 }}</div>
    <div class="col3">{{ w.attr2 }}</div>
    <div class="col4">{{ w.attr3 }}</div>
    <div class="col5">
        {% for a in w.fertigkeit.all %}
            {{ a.titel }}
            {% if not forloop.last %}, {% endif %}
            {% empty %}-
        {% endfor %}
    </div>
    <div class="col6">
        {% if s.beschreibung %}
            {{ s.beschreibung|linebreaks }}
        {% else %}-{% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
