body {
    color: #ddd;
}

main {
    display: flex;
    justify-content: center;

    margin-top: 80px;
}
#mining-window {
    
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    height: min(50vh, 50vw);
    width: min(50vh, 50vw);

    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;

    font-size: xx-large;
    font-weight: 900;
    color: #fff;

    cursor: pointer;
    position: relative;
}
#mining-window:active {
    transform: scale(0.99);
}
#mining-window b {
    z-index: 2;
    transition: opacity 1s;
}
#mining-window::after {
    content: "";

    background-repeat: no-repeat;
    background-size: cover;
    opacity: .25;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.broken-1::after { background-image: url("/static/res/img/crafting/abbauoverlay/1.png"); }
.broken-2::after { background-image: url("/static/res/img/crafting/abbauoverlay/2.png"); }
.broken-3::after { background-image: url("/static/res/img/crafting/abbauoverlay/3.png"); }
.broken-4::after { background-image: url("/static/res/img/crafting/abbauoverlay/4.png"); }
.broken-5::after { background-image: url("/static/res/img/crafting/abbauoverlay/5.png"); }
.broken-6::after { background-image: url("/static/res/img/crafting/abbauoverlay/6.png"); }
.broken-7::after { background-image: url("/static/res/img/crafting/abbauoverlay/7.png"); }
.broken-8::after { background-image: url("/static/res/img/crafting/abbauoverlay/8.png"); }
.broken-9::after { background-image: url("/static/res/img/crafting/abbauoverlay/9.png"); }
.broken-10::after { background-image: url("/static/res/img/crafting/abbauoverlay/10.png"); }

aside {
    display: grid;
    grid-template-columns: auto auto;

    margin: 20px auto 0;
}