.main-container {
    height: 100vh;
    width: 100vw;
    padding-left: 50px;
    padding-right: 10px;

    display: grid;
    justify-content: start;
    align-content: flex-start;
    gap: 1em;

    grid-template-areas:
        "materials layers toolbar"
        "materials layers field"
        "info      info   ok";

    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: auto 1fr auto;

    color: #ddd;
}

main {
    grid-area: field;
    overflow: auto;
}

.field-container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    justify-content: start;
    align-content: flex-start;

    /* x-offset-keyword y-offset-keyword */
    transform-origin: left top;


    & > * {
        border-right: solid var(--field-border-width) #fff;
        border-bottom: solid var(--field-border-width) #fff;

        background-position: center;
        background-size: cover;
        cursor: pointer;
    }
    &.field-container--bg {
        --unselected-field-opacity: 1;

        & > * { background-color: var(--field-bg-color); }
    }

    opacity: var(--unselected-field-opacity);
    &.selected {
        opacity: 1;
    }
}


.toolbar {
    grid-area: toolbar;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    & > * {
        display: flex;
        align-items: center;
        gap: .5em;
    }
}
.material-container { grid-area: materials; }
.material img { background: var(--field-bg-color); }

.layer-container { grid-area: layers; }
.material-container, .layer-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5em 0;

    display: flex;
    flex-direction: column;

    gap: .5em;
    img { display: block; }

    & > * {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
    }

    .selected {
        cursor: initial;
        transform: scale(1.1);
        & > * { border: solid 4px red; }
    }
}

.info-container {
    grid-area: info;
    justify-self: center;
    align-self: flex-end;

    display: flex;
    align-items: center;
    gap: .5em;
}
.button--ok {
    grid-area: ok;
    justify-self: center;
    align-self: flex-end;
    padding: 1em 3em;
}
