:root {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.main-container {
    min-height: 100vh;
    width: 100vw;
    padding-left: 50px;
    padding-right: 10px;

    display: grid;
    justify-content: start;
    align-content: flex-start;
    gap: 1em;

    grid-template-areas:
        "materials layers toolbar"
        "materials layers field"
        "info      info   ok";

    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: auto 1fr auto;

    color: #ddd;
}

.field {
    grid-area: field;
    overflow: auto;

    /* x-offset-keyword y-offset-keyword */
    transform-origin: left top;


    & > * {
        border-right: solid var(--field-border-width) #fff;
        border-bottom: solid var(--field-border-width) #fff;

        background-position: center;
        background-size: cover;
        cursor: pointer;
    }
    &.field-container--bg {
        --unselected-field-opacity: 1;

        & > * { background-color: var(--field-bg-color); }
    }

    opacity: var(--unselected-field-opacity);
    &.selected {
        opacity: 1;
    }
}


.toolbar {
    grid-area: toolbar;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    border: 2px solid #ddd;
    padding: .5em;

    & > * {
        display: flex;
        align-items: center;
        gap: .5em;
    }
}
.material-container { grid-area: materials; }
.material img { background: var(--field-bg-color); }

.layer-container { grid-area: layers; }
.material-container, .layer-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5em 0;

    display: flex;
    flex-direction: column;

    gap: .5em;
    img {
        display: block;
        max-width: 100%;
    }

    .material, .layer {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 5px;

        &.selected {
            cursor: initial;
            transform: scale(1.1);
            & > * { border: solid 4px red; }
        }
    }

    .materialgroup {
        border: 2px solid #fff;

        &:not(.selected) .material { display: none; }

        .groupname {
            display: block;
            margin: .5em 5px 1em;
        }
    }

}

.info-container {
    grid-area: info;
    justify-self: center;
    align-self: flex-end;

    display: flex;
    align-items: center;
    gap: .5em;
}
.button--ok {
    grid-area: ok;
    justify-self: center;
    align-self: flex-end;
    padding: 1em 3em;
}
