@import "./base";
@import "./stats_container";
@import "./del_btn";
@import "./attack-filter";

.main-container { --booble-size: 1em; }

#badge {
    --size: 125px;
  
    position: absolute;
    right: calc(-1 * var(--size));
    top: 50px;

    background-image: url("/static/res/img/badge.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    
    width: var(--size);
    padding: calc(var(--size) * 0.24) calc(var(--size) * 0.25) calc(var(--size) * 0.3);
    aspect-ratio: 1;

    word-wrap: break-word;
    text-align: center;
    font-size: calc(var(--size) / 10);
}
.main-container { position: relative; }



.stats-container {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: stretch;
}
.booble-container {
    display: flex;

    // no button styles
    border: 0;
    background-color: transparent;
    height: var(--booble-size);
    aspect-ratio: 5;
    
    /* off */
    &.booble-container:not(.skilled) .booble--skilled,
    &.booble-container:not(.trained):not(:hover) .booble--trained { opacity: 0; height: 0; width: 0; overflow: hidden; }
    /* turn off? */
    &.booble-container.trained:hover .booble--trained { opacity: 1; --bg-color: hsl(302, 100%, 18%); }
    &.booble-container.trained:hover .booble--trained:after { content: "x"; color: #ddd; margin-top: -.4em; display: block; text-align: center; }
    /* turn on? */
    &.booble-container:hover:not(.trained) .booble--trained { opacity: .5; }
}

#accordion--new-attack {
    
    .accordion-button {
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-light-rgb), 0.25);
    }
    .accordion-button:not(.collapsed)::after,.accordion-button.collapsed::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    .accordion-header {
        z-index: 1000;
        position: relative;
    }

    .filter-container.bg-dark {
        margin-block: 0 2em;

        border: 1px solid var(--bs-light);
        border-top: none;
        box-shadow: 1px 1px 2px var(--bs-light);

        color: var(--bs-light);
    }
}