{% extends 'admin/index.html' %}
{% load i18n has_group %}

{% block content %}
<div id="content-main">

  {% if request.user|has_group:"spielleiter" %}
  <div class="app-shortcuts module">
      <table>
        <caption>
          <span class="section" title="viel genutzte Shortcuts">Floofys Shortcuts</span>
        </caption>

          <tr class="model-shotrcuts">
              <th scope="row"><a href="{% url 'admin:logRequest_request_changelist' %}">Anfragen</a></th>
              <td></td>
              <td></td>
          </tr>

          <tr class="model-shotrcuts">
              <th scope="row"><a href="{% url 'admin:planner_day_changelist' %}">Termine blocken</a></th>
              <td><a href="{% url 'admin:planner_day_add' %}" class="addlink">{% translate 'Add' %}</a></td>
              <td></td>
          </tr>

          <tr class="model-shotrcuts">
              <th scope="row"><a href="{% url 'admin:app_list' 'shop' %}">Shop</a></th>
              <td></td>
              <td></td>
          </tr>

          <tr class="model-shotrcuts">
              <th scope="row"><a href="{% url 'admin:create_newcharakter_changelist' %}">Neue Charaktere</a></th>
              <td></td>
              <td></td>
          </tr>
      </table>
    </div>
    {% endif %}

    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}