Django==4.*						# need django for django. Makes sense, right?

# necessary shit
django-dbbackup==4.0.*                 # db + media backup utility
tzdata==2022.*                         # used to let django organize time zones
Pillow==9.4.*				    # image library
django-resized==1.0.*           # aloow model field to automatically resize an image
psycopg2-binary==2.9.*			# for postgresql usage
six==1.16.*                     # generate token for email confirmation on signup

# production env
channels[daphne]==4.0.*                # ws channels; daphne: prod env for (sync django &) async django channels (via ws)
Twisted[tls,http2]==22.10.*              # needed for HTTP/2 support of daphne

# logging/debug
sentry-sdk==1.16.*                     # sentry-integration
django-debug-toolbar==3.8.*            # debug shit when in debug mode (not prod)

django-bootstrap5==22.*     # styling :)

# tables
tablib==3.3.*               # export table
django-filter==22.*         # filter queryset-data (for tables)
django-tables2==2.5.*       # add table-templates

django-markdownfield==0.10.*

XlsxWriter==3.1.*           # Export (characters) to xlsx

# complete view + template for a .md file
django-markdown-view==0.0.*