{% extends 'base/headed_main.html' %}
{% load static crispy_forms_tags shop.update_querystring %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'shop/css/list.css' %}">
<style>
    p { max-width: 60ch; }
    td:first-of-type { font-weight: bold; }
    h2 { margin-top: 1em; }
    .top {
        grid-template-columns: 35vw 1fr 25vw;
    }

    .icon-container {
        max-width: 800px;
        position: relative;

        .icon {
            aspect-ratio: 1;
            width: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
        .ab-stufe {
            position: absolute;
            top: 0;
            left: 0;
            padding: .25em .5em;
            background-color: rgba(0, 0, 0, .6);
            border-radius: 0 0 5px 0;
            line-height: 1em;
        }
    }

    .sale {
        padding: .25em .5em;
        background-color: var(--bs-indigo);
    }
    .ovp { text-decoration: line-through; }

    .table-container { max-width: 400px; }

    .slot-container {
        padding-block: .2em;
        display: flex !important;
        flex-wrap: wrap;
        gap: 1px;

        .hexagon {
            --hexagon-height: 4.5rem;

            height: var(--hexagon-height);
            width: calc(var(--hexagon-height) * cos(30deg));
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            background-color: var(--bs-body-color);
            color: var(--bs-text-color, #000000);
            opacity: .85;

            display: grid;
            align-content: center;
            justify-items: center;

            &.hexagon--2, &.hexagon--3, &.hexagon--4 {
                grid-template-columns: 1fr 1fr;

            }

            .img-container {
                width: 100%;
            }
            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    }
</style>
{% endblock %}

{% block main %}
<div class="top d-md-grid d-block gap-2">
    <!-- img -->
    <div class="icon-container">
        {% if object.ab_stufe %}<span class="ab-stufe fs-6">ab Stufe {{ object.ab_stufe }}</span>{% endif %}
        
        <img class="icon" src="{% if object.icon %}{{ object.icon.url }}{% else %}{% static 'res/img/goren_logo.png' %}{% endif %}" loading='lazy'>
    </div>
    
    <div class="base-info-container">
        <h1>{{ object.name }}</h1>
        {% if object.firma %}<a class="fs-6 fw-lighter text-muted" href="{% url 'shop:all' %}{% update_querystring firma=object.firma.pk %}">Marke: {{ object.firma.name }}</a>{% endif %}

        {% if object.price is not None and object.discount > 0 %}
        <hr>
        <span class="sale">Angebot</span>

        <p class="d-flex gap-2 flex-wrap align-items-baseline">
            <span class="fs-2 fw-lighter text-warning">-{{object.discount}} %</span>
            <span class="price fs-2">{{ object.curr_price }} Dr.</span>
            <span class="fs-6 fw-lighter p-1 text-muted">(<span class="ovp">statt {{ object.price }} Dr. / Stück{% if object.stufenabhängig %} und Stufe{% endif %}</span>)</span>
        </p>
        {% endif %}

        <p>{{ object.beschreibung }}</p>

    </div>
    <div class="price-container border border-light p-2 rounded">
        {% if object.price is not None and object.discount > 0 %}
            <p><b class="fs-6">Angebotspreis</b></p>
        {% endif %}
        {% if not object.frei_editierbar %}
            <p>
                <b class="price fs-2">{{ object.curr_price|default_if_none:'nicht kaufbar mit ' }} Dr.{% if object.stufenabhängig %} * Stufe{% endif %}</b>
            </p>
        {% else %}
            <p><b class="price fs-2">nicht kaufbar{% if object.stufenabhängig %} , hat Stufen{% endif %}</b></p>
        {% endif %}

        <p class="text-muted">zu {{ object.verfügbarkeit|default:0 }}% verfügbar.</p>
        {% crispy form %}
    </div>
</div>

<h2>Produktdaten</h2>

<div class="table-container table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead class="visually-hidden"><tr><th>Attribut</th><th>Wert</th></tr></thead>
    
        <tbody>
            {% for field in table_fields %}
            <tr>
                <td>{{ field.name|title }}</td>
                <td>{{ field.value|default:'-' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if not object.has_implementation %}
<p class="text-warn">Achtung! Teile dieses Items sind nictht implementiert !</p>
{% endif %}

{% if slots %}
<h2>Slots</h2>
<div class="slot-container">
    {% for slot in slots %}
    {% with ''|center:slot.num as range %}{% for _ in range %}
    <div title="{{ slot.tag_names }}" class="hexagon hexagon--{{ slot.num_tags }}">
        {% for tag in slot.tag.all  %}
            {% if tag.icon %}<div class="img-container"><img src="{{ tag.icon.url }}"></div>{% else %}<span>{{ tag.name.0 }}</span>{% endif %}
        {% endfor %}
    </div>
    {% endfor %}{% endwith %}
    {% endfor %}
</div>
{% endif %}

{% if upgrades %}
<h2>Upgrades</h2>

<ul>
    {% for upgrade in upgrades %}
    <li>{% include 'shop/list_item/upgrade.html' with obj=upgrade %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if object.fernkampfwaffe_set or object.munition %}
<h2>Dazu passt</h2>

<ul>
    {% for muni in object.munition.annotate_price %}
    <li>{% include 'shop/list_item/default.html' with obj=muni %}</li>
    {% endfor %}
    {% for fwaffe in object.fernkampfwaffe_set.annotate_price %}
    <li>{% include 'shop/list_item/default.html' with obj=fwaffe %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if object.firma and firma_peers %}
<h2>Von der Marke</h2>
<div class="row row-cols-1 row-cols-sm-3 row-cols-md-6 g-2">
    {% for obj in firma_peers %}{% include 'shop/generic_itemcard.html' with obj=obj %}{% endfor %}
</div>
{% endif %}

{% comment %}
<h2>Kundenrezensionen</h2>
<!-- TODO -->
...
{% endcomment %}
{% endblock %}
