{% load static shop.get_detail_url %}
<style>
    .info-row--price {
        display: flex;
        flex-direction: column;
        gap: .5em;
        align-items: baseline;
        font-size: 0.8rem;
    }

    .titel, .price {
        color: var(--bs-body-color);
        font-size: 1.1rem;
        font-weight: bold;
        text-decoration: none;
    }
    .base-price {
        text-decoration: line-through;
    }

    .discount {
        padding: .25em .5em;
        background-color: var(--bs-indigo);
    }
</style>
<div class="col">
    <div class="card bg-dark text-light h-100">
        <img class="icon" style="aspect-ratio: 1;" src="{% if obj.icon %}{{ obj.icon.url }}{% else %}{% static 'res/img/goren_logo.png' %}{% endif %}" loading='lazy'>
        <div class="card-body">
            <h5 class="card-title titel">{{ obj.name }}</h5>
            <div class="card-text">
                <div class="info-row info-row--price">
                {% if not obj.frei_editierbar %}
                    {% if obj.price is not None and obj.discount > 0 %}
                    <span class="base-price text-muted">statt {{ obj.price }} Dr.</span>
                    <span class="discount">Spare {{ obj.discount }}%</span>
                    {% endif %}
                    <b class="price d-block">{{ obj.curr_price|default_if_none:'nicht kaufbar mit ' }} Dr.{% if obj.stufenabhängig %} * Stufe{% endif %}</b>
                {% else %}
                    <b class="price">nicht kaufbar{% if obj.stufenabhängig %} , hat Stufen{% endif %}</b>
                {% endif %}
                </div>
            </div>
            <a class="stretched-link" href="{% if obj.detail_url %}{{ obj.detail_url }}{% else %}{{ obj|get_detail_url }}{% endif %}"></a>
        </div>
        <div class="card-footer pt-0">
            <a class="btn btn-sm btn-outline-light" href="{% if obj.detail_url %}{{ obj.detail_url }}{% else %}{{ obj|get_detail_url }}{% endif %}">Optionen anzeigen</a>
        </div>
    </div>
</div>