{% extends 'base/main.html' %}
{% load static %}
{% block title %}{{ topic }}{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'mining/game/css/app.css' %}">

{{ field_width|json_script:"width" }}
{{ field_height|json_script:"height" }}
{{ region_id|json_script:"region-id" }}

{{ layers|json_script:"layers" }}
{{ materials|json_script:"materials" }}
{{ char_index|json_script:"char-layer-index" }}
{{ bg_color|json_script:"bg-color" }}
{{ username|json_script:"username" }}
{{ inventory|json_script:"inventory" }}
{{ inventory_items|json_script:"inventory-items" }}
<script type="text/javascript" src="{% static 'base/js/draggable_reorder.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/config.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/resources.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/sprite.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/collision.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/entity.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/player.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/input.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/websocket.js' %}"></script>
<script type="text/javascript" src="{% static 'mining/game/js/inventory.js' %}"></script>
{% endblock %}

{% block absolute %}
<div class="backdrop">
    <div class="inventory">
        <div class="background-grid"></div>
        <div class="items reorder-container"></div>
    </div>
</div>
{% endblock %}
{% block body %}{% endblock %}