{% extends 'base/dynamic-table.html' %}
{% load static levelUp.resources l10n %}
{% block extra-head %}{{ block.super }}
<script src="{% static 'levelUp/js/fert.js' %}" type="text/javascript"></script>

<style>
    table {
        max-width: 700px;
        margin-inline: auto;
    }
    tbody tr:not(.impro_possible) td:first-of-type {
        color: var(--bs-danger) !important;
    }
    tbody tr:nth-of-type(3n-2) {
        border-top: 4px solid #ddd;
    }
</style>
{% endblock %}

{% block asides %}{{ block.super }}
    {% resources %}{% localize off %}
        <p><b id="fp_pool">{{ char.fp }}</b> FP übrig</p>
        <p><b id="fg_pool">{{ char.fg }}</b> FG übrig</p>
    {% endlocalize %}{% endresources %}
{% endblock %}

{% block after_table %}
<div class="fixed-bottom">
    <form id="form" method="post" class="d-flex justify-content-center sticky-footer">
        {% csrf_token %}
    
        <button type="submit" class="btn btn-primary" disabled>Speichern</button>
        <a class="btn btn-outline-primary mx-2" href="{{ back_url }}">Zurück</a>
    </form>
</div>
{% endblock %}
