{% extends "admin/base.html" %}:

{% block extrastyle %}
<style>
    #header, .module caption {
        background-color: #4CAF50;
    }

    a:link, a:visited {
        color: gray;
    }

    #branding h1, #branding h1 a:link, #branding h1 a:visited {
        color: green;
    }

    div.breadcrumbs {
        background-color: #6CCF70;
    }

    .button:active, input[type="submit"]:active, input[type="button"]:active,
    .button:focus, input[type="submit"]:focus, input[type="button"]:focus,
    .button:hover, input[type="submit"]:hover, input[type="button"]:hover {
        background: #4CAF50;
    }

    .button, input[type="submit"], input[type="button"], .submit-row input, a.button {
        background: #6CCF70;
    }

    .button.default, input[type="submit"].default, .submit-row input.default {
        background: #4CAF50;
    }

    .module h2, .module caption, .inline-group h2 {
             background-color: #4CAF50;
    }

    .button.default:active, input[type="submit"].default:active,
    .button.default:focus, input[type="submit"].default:focus,
    .button.default:hover, input[type="submit"].default:hover {
        background: #0C6F10;
    }

    #header a:hover {
        color: black;
    }
</style>

{% endblock %}

{% block title %}{{ title }} | PnP{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">PnP</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}