main {
    font-family: Underwood, monospace;

    background-image: url("/static/res/img/old_paper.jpg");
    background-repeat: repeat;
    color: var(--bs-dark);

    max-width: 70ch;
    margin: 3em auto;
    padding-bottom: 2em !important;
    box-shadow: 3em 1em  3em black;
}

.pia-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    .pia-logo {
        display: block;
        height: 1.2em;
        object-fit: contain;
    }
}

.geschöpftitle-container {
    position: relative;

    .title {
        text-align: center;
        margin-block: 2.5em;
    }
    .stamp {
        z-index: 2;
        font-family: Army, monospace;
        font-size: 7rem;
    
        position: absolute;
        top: 0;
        right: 2%;
        rotate: 3deg;

        &.stamp--L { color: var(--bs-danger); }
        &.stamp--B { color: var(--bs-orange); }
        &.stamp--H { color: var(--bs-purple); }
        &.stamp--S { color: var(--bs-green); }
    }
}

.img-container {
    position: relative;
    border: 2px solid var(--bs-dark);
    float: left;
    margin: 24px 1em 0 0;

    width: 50%;
    max-width: 300px;
    aspect-ratio: 1;

    box-shadow: .1em .1em 1em rgba(0, 0, 0, .2);

    img {
        width: 100%;
        height: 100%;
    }

    &::before {
        content: "";
        background-image: url("/static/res/img/paperclip.png");
        background-repeat: no-repeat;
        background-size: contain;
        rotate: -40deg;
        
        position: absolute;
        width: 20%;
        height: 50%;
        top: -5%;
        left: -2.5em;
    }
}

h3 {
    margin-top: 35px;
}

.werte-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 2em;
}


.blackening {
    background-color: black;
    color: transparent;
    height: 1em;
    margin-block: .5em;
}

@media only screen and (max-width: 400px) {
    .main-container {
        padding-inline: 5px;
        margin-block: 0;
    }

    .pia-header .status { font-size: small; }
}