main {
    max-width: 400px;
    margin: auto;
}

.filter-container {
    position: sticky;
    top: 0;
    margin: auto;
    border-radius: 0 0 10px 10px;
    
    width: fit-content;
    max-width: 100dvw;
    gap: min(1em, 3%);

    z-index: 100;
}

.dropdown-menu.dropdown-menu--grid.show { display: grid; }
.grid-col-2 { grid-template-columns: 1fr 1fr; }

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    height: 0px;
    width: 0px;
}