.main-container {
    padding-inline: 5px;
    padding-bottom: 20px;

    width: fit-content;
    margin: auto;
}

#efficiency {
    position: sticky;
    top: 0;
    z-index: 100;
    
    font-size: 1.2rem;
    font-weight: bold;
    padding-inline: .2em;
    display: block;
    text-shadow: #333 2px 2px;
}
.tag--placeholder {
    --opacity: .8;
    z-index: 10;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    
    margin: auto;
    color: var(--bs-light);
    --bg-rgb: 33, 37, 41;
    
    // sticky type tags
    th.tag { position: sticky; top: 0; }
    td.tag { position: sticky; left: 0; }
    th, td { cursor: pointer; }
    .tag { font-size: 12px; }

    // cell base format & colors
    td:not(.tag) {
        font-weight: bold;
        text-align: center;

    }
    td, th {
        background-color: rgba(var(--bg-rgb), var(--opacity, .3));
        padding: 2px;
    }
    
    .cell-effective { --bg-rgb: 31, 201, 151; }
    .cell-noneffective { --bg-rgb: 249, 63, 155; }
    .cell-nohit { --bg-rgb: 0, 0, 0; }

    // user interactions
    .highlight {
        --opacity: 0.5;
        --border: 2px solid #888;

        &.highlight--attack { border-block: var(--border); }
        &.highlight--victim { border-inline: var(--border); }
    }
    .show {
        --opacity: 1;
        --border: 2px solid white;

        &.show--attack { border-block: var(--border); }
        &.show--victim { border-inline: var(--border); }
        &.show--attack.show--victim, &.tag.show--attack, &.tag.show--victim { border-width: 4px; }
    }
}