// colors
:root {
	--bg-selected: var(--bs-info);
	--color-selected: #000;

	--bg-blocked: var(--bs-purple);
	--color-blocked: #fff;

	--bg-grayed-out: transparent;
	--color-grayed-out: #000;

	--bg-hover: var(--bs-info);
	--color-hover: #000;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
table {
	background-color: var(--bs-light);
	color: #000;
	margin-block: 2em;
}


td {
	padding: .5em 1em;
	border: 1px solid black;
	cursor: pointer;

	background-color: var(--background-color);
	color: var(--color);

	&:hover {
		background-color: var(--background-color, var(--bg-hover));
		color: var(--color, var(--color-hover));
	}
}

.selected {
	--background-color: var(--bg-selected);
	--color: var(--color-selected);
	font-weight: 800;
}
.grayed_out {
	--background-color: var(--bg-grayed-out);
	--color: var(--color-grayed-out);
	cursor: not-allowed;
}
.blocked {
	--background-color: var(--bg-blocked);
	--color: var(--color-blocked);
	cursor: not-allowed;
	text-decoration: line-through;
}

#ap-left-text { display: none; }
