.main-container {
    max-width: 100%;
    min-height: 100vh;
    
    padding-inline: 2em;
    padding-bottom: 1em !important;
    
    margin-inline: auto;
    width: fit-content;
}

.pools {
    margin-bottom: 1em;
    color: #c8c8c8;
}

input:invalid { border: 2px dashed red; }

.btn {
	margin: 4em auto;
	padding: 1em 8em;
	font-size: 1.1rem;
    display: block;
}
