{% extends 'base/main.html' %}
{% load static %}
{% block title %}Logs{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<link rel="stylesheet" href="{% static 'log/css/userLog.css' %}">

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js' type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'shop/js/show.js' %}"></script>
{% endblock %}
{% block absolute %}
{% include 'base/header.html' with topic="Logs" %}
{% endblock %}


{% block body %}
    <div class="container">

        <div class="filters">

            <div class="filter filter--char">
                <label for="char_dropdown">Charaktere:</label>
                <select multiple id="char_dropdown">
                    <option selected value="all">Alle</option>
                    {% for i in filter.char %}<option value="{{ i.id }}">{{ i.name }}</option>{% endfor %}
                </select>
            </div>

            <div class="filter filter--spieler">
                <label for="spieler_dropdown">Spieler:</label>
                <select multiple id="spieler_dropdown">
                    <option selected value="all">Alle</option>
                    {% for i in filter.spieler %}<option value="{{ i.id }}">{{ i.name }}</option>{% endfor %}
                </select>
            </div>

            <div class="filter filter--category">
                <label for="kategorie_dropdown">Kategorien:</label>
                <select multiple id="kategorie_dropdown">
                    <option selected value="all">Alle</option>
                    {% for i in filter.kategorie %}<option value="{{ i.0 }}">{{ i.1 }}</option>{% endfor %}
                </select>
            </div>
        </div>

        <div class="pagination"></div>

        <div class="grid-container"></div>

        <div class="pagination"></div>


    <script type="text/javascript" src="{% static 'log/js/userLog.js' %}"></script>
{% endblock %}
