.party {
    color: var(--bs-accordion-btn-color);

    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-active-color: var(--bs-accordion-btn-color);
    --bs-accordion-active-bg: var(--bs-accordion-btn-bg);
    --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);

    --bs-accordion-btn-focus-border-color: black;

    .party__abbr {
        font-size: 1.2rem;
        padding-block: .3em;
        line-height: 1em;
    }

    // color accordion button
    &.accordion-button::after {
        margin-left: 0;
        background-image: none;
        mask-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        mask-repeat: no-repeat;
        background-color: var(--bs-accordion-btn-color);
    }
    &.accordion-button:disabled::after {
        filter: opacity(35%);
    }
}

#party-votes, .table--vote-result {
    max-width: 700px;
}

.party, .party__politician {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1.5em;
}

.party__select-utils {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

// radio & checkbox colors
#id_voting_done:checked { accent-color: currentColor; }
.form-check-input[type=radio]:where(:checked, :indeterminate) {
    background-color: currentColor;
    border-color: currentColor;
}
.form-check-input[type=checkbox] {
    background-color: var(--bs-accordion-btn-color) !important;
    border-color: var(--bs-accordion-btn-color) !important;
}
.form-check-label { color: var(--bs-accordion-btn-color, var(--bs-body-color)); }

// focus styles
:where(.party, .form-check-input):focus {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 .25rem rgba(180,180,180,.5);
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}



/* reset bs, use dj styles (again) */

.required label, label.required {
    font-weight: bold;
    color: var(--body-fg);
}
.helptext {
    display: block;
    font-size: 0.6875rem;
    color: var(--body-quiet-color);
}
.submit-row a.deletelink { height: unset; }
form > div > p {
    overflow: hidden;
    padding: 10px;
    font-size: 0.8125rem;
    border-bottom: 1px solid var(--hairline-color);
}