/* hero section */
.hero-container {

	// general settings
	--hero-height: 70vh;
	--hero-width: 100vw;

	&, * {
		margin: 0;
		padding: 0;
	}

	// no heros to display
	&.empty ~ .main-container {
		top: 0;
		z-index: 0;
	}

	// config for hero section
	width: var(--hero-width);
	height: var(--hero-height);

	position: sticky;
	top: 0;
	left: 0;
	overflow: hidden;

	// slider
	.slider {
		height: 100%;

		display: flex;
		.hero { flex: 0 0 var(--hero-width); }

		transform: translateX(0px);
		transition: transform 1s;
	}


	// arrows
	.arrow--left, .arrow--right {
		z-index: 1;
		position: absolute;
		top: calc(70vh / 2 - 4em / 2);
	
		background: transparent;
		transition: transform 200ms;
	
		& > * { height: 4em; }
	}
	.arrow--left { left: 30px; }
	.arrow--right { right: 30px; }
	/* arrow transition on hover */
	.arrow--left:hover {transform: translateX(-10px);}
	.arrow--right:hover {transform: translateX(10px);}
}


/* arrange content */
.hero {
	display: grid;
	grid-gap: 5em 12em;

	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		". words"
		". btn";

	padding: 10vh 100px 5vh;

	background-size: cover;
}
.img { grid-area: img; }
.words { grid-area: words; }
.btn { grid-area: btn; }

/* img as element, not bg */
.hero--quiz {
	background-color: #010a0c;

	grid-template-columns: 1fr 1fr;
	grid-template-areas:
			"img words"
			"img btn";
}
/* extra col not to cover pencil of bg */
.hero--poll {
	background-image: url('/static/res/img/img pencil-panorama.png');
	background-size: 100% 100%;
}
/* uncomplicated */
.hero--shop {
	background-image: url('/static/res/img/hero-coal.png');
	grid-template-columns: 1fr 3fr;

	.words { color: white; }
}
.hero--monsterdex {
	background-image: url('/static/res/img/hero-monsterdex.jpg');
	grid-template-columns: 1fr 1fr;

	.words {
		color: #000;
		text-shadow: #333 1px 1px 1px;
	}
}
.hero--crafting {
	background-image: url('/static/res/img/hero-crafting.jpg');
	filter: grayscale(80%);

	grid-template-columns: 3fr 2fr;

	align-content: flex-start;

	.words {
		color: white;
		text-shadow: #111 2px 2px 1px;
		font-weight: 900;
	}
}
.hero--daily-fact {
	background-image: url('/static/res/img/hero-nature.jpg');
	background-position: center bottom;
	padding: 0 30% 0 20%;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "words";

	.words {
		color: #000;
		justify-self: center;
		align-self: center;
	}
}


/* written content */
.words {
	color: #c8c8c8;
	text-align: left;
	align-self: end;
	
	.heading {
		font-size: 2.5rem;
		font-family: 'Quicksand', sans-serif;
	}
	.text {
		margin: 1.5em 0 0;
		max-width: 70ch;
	}
}



/* img as element of hero--quiz */
.img {
	display: block;

	max-width: min(100%, 350px);
	max-height: 100%;

	align-self: center;
	justify-self: center;
}

/* cta */
.btn {
	font-size: 1.1rem;
	width: fit-content;
	height: fit-content;

	justify-self: left;
	align-self: start;

	padding: .75em 1.25em;
}

@media only screen and (max-width: 1200px) {

	// generally closer together
	.hero {
		grid-gap: 2em;
		background-size: cover;
	}

	// mind that pencil
	.hero--poll { grid-template-columns: 150px 1fr; }
}

@media only screen and (max-width: 650px) {

	// stack elements in hero--quiz
	// center everything in hero
	.hero--quiz {
		grid-template-columns: 1fr;
		grid-template-areas:
			" words"
			"btn";

		background: none;
		position: relative;

		.img {display: none;}
		.words { color: white; }
	}

	// replace explicit img with background
	.hero--quiz:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: var(--hero-height);
		width: var(--hero-width);

		background-image: url('/static/res/img/hero-bulb-hand-cut.png');
		background-repeat: no-repeat;
		background-size: 50% auto;
		background-position: center;
		filter: contrast(20%);
		background-color: #010a0c;
	}


	.words {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.btn { justify-self: center; }

	// mind that pencil
	.hero--poll {
		grid-template-columns: 4em 1fr;
		background-position: -35px 0;
		grid-gap: .5em;
	}

	// center
	.hero--shop, .hero--crafting {
		grid-template-columns: 0 1fr;
		align-content: stretch;
	}
}
