/*
set breakpoint to design of smaller widths by
adding data-size="small" to header tag, e.g. by including

document.addEventListener("DOMContentLoaded", function () {
		breakpoint = 400;
		window.dispatchEvent(new Event('resize'));
});

somewhere/not in header.*, ideally in the head-tag (before header.js loads)

And don't forget to trigger the event, see window.dispatchEvent(new Event('resize'));!
*/
*, *::before, *::after {
	box-sizing: border-box;
}

.main-container {
	padding-top: 7em;
}

header {
	display: flex;
	grid-template-columns: repeat(5, auto);
	justify-content: space-around;
	width: 100%;
  min-width: fit-content;

	position: absolute;
	top: 0;
	left: 0;

	/* nav */
	.nav-block {
		display: inline-block;
		text-align: center;
		border-radius: 0 0 10px 10px;
		background-color: #494e54;
		justify-content: center;
		color: #c8c8c8;
		padding: 0.5em;
	}
	.nav-block:hover {
		opacity: var(--hover-opacity);
	}
	header img {
		vertical-align: middle;
		margin: 0 0.5em 0.7em;

		cursor: pointer;
	}

	/* min gap between elements */
	.nav__change-data, .nav__logout, .nav__more, .nav__plus {
		margin-left: 1.7rem;
	}

	.nav__more__img {
		width: 30px;
		margin-bottom: .16em;
	}
	.nav__plus__img {
		width: 40px;
		background-color: #285401;
	}

	/* for heading between logo and nav */
	.topic {
		color: #97b0c9;
		font-size: 2rem;
	}

	/* Dropdown of small nav */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: lighten(#97b0c9, 20%);
		min-width: fit-content;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 100;
		border-radius: 5px;
	}
	.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		border-radius: 5px;
	}
	.dropdown-content a:hover {
		background-color: #fff;
	}

	/* Show the dropdown menu on hover */
	.nav--small:hover .dropdown-content {
		display: block;
	}
}

/* layout for small widths */
header[data-size="small"] {

	.nav--small {
		display: inline-block;
	}
	.nav--large {
		display: none;
	}
}
.nav--small {
		display: none;
	}
