@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand&display=swap');
@import "./hero";

.main-container {

	// for scrolling over hero
	position: relative;
	margin-top: -16px;
	border-radius: 15px;

	// for cards full screen width
	padding: 0;
	z-index: 1;
}
.cards {padding: 0 3em;}
header {z-index: 1;}		// on top of hero

#logs .card__icon:hover, #quizkontrolle .card__icon:hover {
	opacity: 1;
}
