@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand&display=swap');

:root {
	--hover-opacity: 80%;
}

/* general styling rules */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	box-sizing: border-box;
}
body {
	background: #3a3d40;
}
ul {list-style-type: none;}
a, a:visited {
	text-decoration: none;
	color: #0ff;
}
a:hover, button:hover, .btn:hover {
	opacity: var(--hover-opacity);
}

select, option {
	cursor: pointer;
	max-width: 600px;
}
select, input {
	border-radius: 10px;
	padding: .7em;
}

button, .btn {
	display: block;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;

	border-radius: 5px;
	border: none;
	background: #0ff;
	padding: .7em;
}
a.btn {
	color: #444;
	text-align: center;
}

/* frequently used classes */

.btn__text {
	margin: 0.6em;
}
.btn:disabled, .btn:disabled:hover {
	background: #c8c8c8;
	cursor: not-allowed;
}
.hide {
	display: none;
}

.main-container {
	width: 100%;
	padding: 0 15% 2em;
	background: #3a3d40;
	min-width: fit-content;

	padding-bottom: 100px !important;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;
	padding: .5em 1em;
	z-index: 100;

	background-color: #ffdab9;

	a { color: #8b0000; }
}

.planner, .chat {
	position: fixed;
	top: 75px;
	right: 0;
	
	background-color: #ffdab9;
	a, a:visited { color: black; }
	font-size: 1.2rem;
	text-decoration: underline;
	
	padding: .25em .5em .25em 1em;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 20% 49%);
	opacity: 0.75;
	z-index: 1000;
}
.chat {
	top: 150px;
	padding: .25em .5em .25em 1em;
	background-color: #fd7e14;

	.chat-container {
		position: relative;
		display: block;
		height: 90%;
		padding: 5% 0;
		aspect-ratio: 1;

		height: 50px;
	}
	.bg {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .6;
	}
	.new_messages {
		position: absolute;
		top: 3px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 1em;
		font-weight: 700;
	}
}


@media only screen and (max-width: 1017px) {
	.main-container {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media only screen and (max-width: 758px) {
	.main-container {
		margin: 0;
	}
}


@media only screen and (max-width: 527px) {
	*, *::before, *::after {text-align: center;}
}
