/* general styling rules */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* extend child .main-container at least over remaining screen height */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	// apply general bg & text colors
	--background-color--main: #3a3d40;
	background-color: var(--background-color--main);
	--bs-body-color: var(--bs-light);
}
.modal {
	--bs-modal-color: var(--bs-dark);
}

#top-navbar {
	flex-wrap: nowrap;

	.container-fluid {
		gap: var(--bs-navbar-brand-margin-end);
	}

	.navbar-brand {
		flex: 1 0 30px;
		max-width: fit-content;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


/* styles for messages */
.messages { list-style: none; }
.message.success {
	background-color: var(--bs-success);
	color: #fff;
}
.message.info {
	background-color: var(--bs-info);
	color: #000;
}
.message.warning {
	background-color: var(--bs-warning);
	color: #000;
}
.message.error {
	background-color: var(--bs-danger);
	color: #fff;
}



/* styles found in main.html */

.main-container {
	// cover at least remaining screen (width &) height
	flex: 1;
	width: 100%;

	// room for footer
	padding: 2.4em 2em 200px;

	// apply general bg
	background-color: var(--background-color--main);
}


.bookmark {
	--color: #000;
	--background-color: var(--bs-warning);


	position: fixed;
	right: 0;

	color: var(--color);
	background-color: var(--background-color);
	a, a:visited { color: var(--color); }
	font-size: 1.2rem;
	text-decoration: underline;
	
	padding: .25em .5em .25em 1em;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 20% 49%);
	opacity: .8;
	z-index: 1024;

	&:where(:hover, :focus) { filter: brightness(.8); }
}
.planner {
	top: 75px;
	--background-color: #ffdab9;
}
.chat {
	top: 150px;
	--background-color: #fd7e14;

	.chat-container {
		position: relative;
		display: block;
		height: 90%;
		padding: 5% 0;
		aspect-ratio: 1;

		height: 50px;
	}
	.bg {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .6;
	}
	.new_messages {
		position: absolute;
		top: 3px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 1em;
		font-weight: 700;
	}
}

// remove z-index of 3 to scroll behind footers
.active > .page-link, .page-link.active { z-index: 0 !important; }

footer.email-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;
	padding: .5em 1em;

	background-color: #ffdab9;

	a { color: #8b0000; }
}

.sticky-footer {
	position: sticky;
	bottom: 0;
	backdrop-filter: blur(1px);
}


/* frequently used classes */

.list-group {
	margin: 3em 5% 0;
	list-style: none;

	border-radius: 5px;
	overflow: auto;
}