#scrolling-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform .25s .1s ease-in-out;
}
.hidden-header #scrolling-header {
    transform: translateY(-100%);
}