{% extends 'base/headed_main.html' %}
{% load static crispy_forms_tags %}

{% block extra-head %}
    <link rel="stylesheet" href="{% static 'httpChat/css/list.css' %}">
{% endblock %}

{% block main %}

<div class="d-flex justify-content-between mb-3 flex-wrap">
    <h2 class="text-light">Wer bist du?</h2>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-account-modal">
        + Neuer Account
    </button>
</div>

<ul class="list-group">
{% for account in accounts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <img src="{{ account.get_avatar_url }}" class="rounded-circle border border-primary" style="height: 47px; aspect-ratio: 1">
        <a href="{% url 'httpchat:account_chats' account.slug %}" class="ms-2 me-auto fw-bold text-dark">
            {{ account.name }}
        </a>

        {% if account.unread_messages %}
        <span class="badge bg-primary rounded-pill fs-6">{{ account.unread_messages }}</span>
        {% endif %}
    </li>
{% endfor %}
</ul>


<!-- New Account Modal -->
<div class="modal fade" id="new-account-modal" tabindex="-1" aria-labelledby="newAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAccountModalLabel">Neuer Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Abbrechen"></button>
      </div>
      <div class="modal-body">
        <form id="new-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Zurück</button>
        <input type="submit" class="btn btn-primary" value="Erstellen" form="new-form">
      </div>
    </div>
  </div>
</div>

{% endblock %}
