{% load static django_bootstrap5 weekday %}
{% spaceless %}
<!DOCTYPE html>
<html lang="de">

	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ topic }}</title>
		<link rel="shortcut icon" href="{% static 'res/img/goren_logo.png' %}" type="image/x-icon">

		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link rel="stylesheet" type="text/css" href="{% static 'httpChat/css/chatroom.css' %}" />
		<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
		<script src="{% static 'httpChat/js/chatroom.js' %}"></script>
	</head>

	<body>
		<main id="message-container">
			{% for message in chatroom.message_set.all %}

				<!-- add date info -->
				{% if chatroom.message_set.all|previousMessageWasAtAnotherDay:forloop.counter0 %}
					<div class="info">{{ message.created_at|weekday  }}</div>
				{% endif %}

				<!-- chat message -->
				{% if message.type == "i" %}
				<div class="info">{{ message.text }}</div>
				{% else %}

				<div class="message
					{% if message.author == account %}message--own{% else %}message--foreign{% endif %}
					{% if latest_access is None or message.created_at > latest_access %} message--new{% endif %}"
				>
					{% if message.author != account %}<div class="message__author">{{ message.author.name }}</div>{% endif %}
					<div>{{ message.text }}</div>
					<div class="message__timestamp">{{ message.created_at|date:'G:i'  }}</div>
				</div>
				{% endif %}
			{% endfor %}
		</main>

		<footer>
			<form method="post" class="footer" id="prompt-form">
				{% csrf_token %}
				<input type="text" id="prompt" name="message-text" placeholder="Nachricht">
				<input type="submit" id="submit-prompt-btn" value=">">
				<button id="refresh-btn" type="button" onclick="location.reload()" aria-label="Refresh page">⟳</button>
			</form>
		</footer>
	</body>
</html>
{% endspaceless %}
