{% extends 'base/main.html' %}
{% load static chatroom_exclude_acc %}

{% block title %}{{ account.name }}{% endblock %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'httpChat/css/list.css' %}">
    <link rel="stylesheet" href="{% static 'httpChat/css/avatars.css' %}">
{% endblock %}
{% block header %}{% include 'base/header.html' with topic=account.name %}{% endblock %}

{% block main %}
<a href="{% url 'httpchat:index'%}" class="btn btn-outline-light" style="margin-bottom: 1em;">< Zurück</a>

<div class="d-flex justify-content-between mb-3 flex-wrap">
    <h2 class="text-light">Mit wem willst du sprechen?</h2>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-chatroom-modal">
        + Neuer Chat
    </button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-account-modal">
        Account bearbeiten
    </button>
</div>

<ul class="list-group">
    {% for chat in chatrooms %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="avatar-container">
              {% for url in chat|get_avatar_urls:account %}
                  <img src="{{ url }}" class="rounded-circle border border-primary" style="height: 47px; aspect-ratio: 1">
              {% endfor %}
            </div>
            <a href="{% url 'httpchat:chatroom' account.slug chat.id %}" class="ms-2 me-auto text-dark">
                <div class="fw-bold">{{ chat|titel:account }}</div>
                {% if  chat.message_set.count %}
                <i>
                    {% if  chat.message_set.last.author == account %}Du{% else %}{{ chat.message_set.last.author }}{% endif %}:
                    {{ chat.message_set.last.text|truncatechars:30 }}
                </i>
                {% endif %}
            </a>
            {% if chat.new_messages %}
            <span class="badge bg-primary rounded-pill fs-6">{{ chat.new_messages }}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>



<!-- New Chatroom Modal -->
<div class="modal fade" id="new-chatroom-modal" tabindex="-1" aria-labelledby="newChatroomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newChatroomModalLabel">Neuer Chat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Abbrechen"></button>
      </div>
      <div class="modal-body">
        <form id="new-form" method="post">
            {% csrf_token %}
            {{ new_chat_form.as_div }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Zurück</button>
        <input type="submit" class="btn btn-primary" value="Erstellen" form="new-form">
      </div>
    </div>
  </div>
</div>


<!-- edit account Modal -->
<div class="modal fade" id="edit-account-modal" tabindex="-1" aria-labelledby="editAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAccountModalLabel">Account bearbeiten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Abbrechen"></button>
      </div>
      <div class="modal-body">
        <form id="edit-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_account_form.as_div }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Zurück</button>
        <input type="submit" class="btn btn-primary" value="Speichern" form="edit-form">
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
