{% extends 'base/headed_main.html' %}
{% load static politics.votes %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'politics/css/plenum.css' %}">
<style>
    .main-container :where(h2, h3, h4, h5, h5, span, p, table) { max-width: 65ch; }

    h2 { margin-bottom: .5em; }
    * + h2 { margin-top: 1.5em; }

    .collapse { overflow: auto; }
</style>
{{ parties|json_script:"parties" }}
{{ plenum|json_script:"plenum" }}
{% for act in legalActs %}
    {{ act.votes|json_script:act.label }}
{% endfor %}
<script src="{% static 'politics/js/plenum.js' %}" defer></script>
{% endblock %}

{% block main %}
<h2>Allgemeine Sitzverteilung</h2>
<p>Innerhalb einer Parteibesteht freie Platzwahl für die Abgeordneten. Lediglich die Parteispitzen haben feste Sitzplätze.</p>

<div class="plenum plenum--main" data-source="plenum"></div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Partei</th>
            <th>Sitze</th>
        </tr>
    </thead>
    <tbody>
        {% for party in parties %}
        <tr>
            <td>
                <div style="background-color:{{ party.color}}; color:{{ party.textColor}}; padding: .3em .5em; line-height: 1em; font-size: 1.2rem;">
                    <b>{{ party.abbreviation }}</b>
                </div>
            </td>
            <td>{{ party.name }}</td>
            <td>{{ party.politician_count }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><small><i>gesamt</i></small></td>
            <td><small><i>{{ plenum|length }}</i></small></td>
        </tr>
    </tbody>
</table>

<hr>
<h2>Parteiprogramme</h2>
<a class="text-dark" href="{% url 'politics:party-programs' %}">zu den aktuellen Parteiprogrammen aller politischen Parteien -></a>


{% for act in legalActs %}
    <hr>

    <h2>{{ act.code }} §{{ act.paragraph }}</h2>
    <p>{{ act.text_rendered|safe }}</p>

    <h3>Abstimmung</h3>
    {% if not act.voting_done %}<p>Die finale Abstimmung steht noch aus.</p>
    {% else %}
        <table class="table table--vote-result">
            <thead>
                <tr>
                    <th>Ergebnis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="currentColor" d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/>
                        </svg> Ja
                    </td>
                    <td>{{ act.votes|vote:"y" }}%</td>
                </tr>
                <tr>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="currentColor" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                        </svg> Nein
                    </td>
                    <td>{{ act.votes|vote:"n" }}%</td>
                </tr>
                <tr>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="currentColor" d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48l8 0 0 19c0 40.3 16 79 44.5 107.5L158.1 256 76.5 337.5C48 366 32 404.7 32 445l0 19-8 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l336 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-8 0 0-19c0-40.3-16-79-44.5-107.5L225.9 256l81.5-81.5C336 146 352 107.3 352 67l0-19 8 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L24 0zM192 289.9l81.5 81.5C293 391 304 417.4 304 445l0 19L80 464l0-19c0-27.6 11-54 30.5-73.5L192 289.9zm0-67.9l-81.5-81.5C91 121 80 94.6 80 67l0-19 224 0 0 19c0 27.6-11 54-30.5 73.5L192 222.1z"/>
                        </svg> Enthalten
                    </td>
                    <td>{{ act.votes|vote:"e" }}%</td>
                </tr>
                <tr>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="transparent" d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376l0 103.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"/>
                        </svg> Abwesend
                    </td>
                    <td>{{ act.votes|vote:"a" }}%</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-outline-dark plenum-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlenum-{{ act.id }}" aria-expanded="false" aria-controls="collapsePlenum-{{ act.id }}">
            Plenare Abstimmung ->
        </button>
        </p>
        <div class="collapse" id="collapsePlenum-{{ act.id }}">
            <div class="plenum card card-body" data-source="{{ act.label }}"></div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
