{% extends 'base/headed_main.html' %}
{% load static l10n %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">

<style>
    .main-container { background-image: none; }

    .text-container {
        padding-right: 0;
        width: unset;
    }
    .text-container > * {
        margin-block: 1em;
        display: block;
    }
    .fix-link {
        --bs-link-color: currentcolor;
        --bs-link-hover-color: currentcolor;

        &:hover { opacity: 0.75; }
    }
</style>
<script src="{% static 'create/js/gfs.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block main %}
<form method="post" class="text-container" id="create-char-form">
    {% csrf_token %}

    <h2>Charakter erstellen</h2>

    <div class="form-field">
        <label for="gfs"><a class="fix-link" href="{% url 'wiki:gfs' %}" target="_blank">Gfs/Genere</a></label>
        <select name="gfs_id" id="gfs" class="form-select">
            {% for g in gfs %}
                <option value=" {% localize off %}{{ g.id }}{% endlocalize %}" id="option{{ forloop.counter0 }}">
                    {{ g.titel }} {% if g.ap %}({{ g.ap }} AP)</small>{% endif %}
                </option>
            {% endfor %}
        </select>
        <small style="font-size: smaller;">
            <a class="fix-link" href="{% url 'create:gfs_characterization' %}" target="_blank">zur Gfs-Enscheidungshilfe -></a>
        </small>
    </div>
    
    <div class="form-field">
        <label for="stufe">Stufe</label>
        <input type="number" id="stufe" name="stufe" min="1" max="30" value="1" class="form-control">
    </div>

    <div class="form-field d-flex align-items-center gap-3">
        <input type="checkbox" name="larp" id="larp" class="form-check-input">
        <label for="larp" class="form-check-label">Im LARP</label>
    </div>

    <fieldset id="fieldset-klassen">
        <div class="d-flex justify-content-start align-items-center gap-2 my-2">
            <legend style="width: unset; margin-bottom: 0;">Klassen</legend>
            <small><a class="fix-link" href="{% url 'wiki:klassen' %}" target="_blank">alle Klassen</a></small>
        </div>
        
        <!-- select stufen -->
        <div id="klassen-container" class="mb-3">
            <!-- will be filled when choosing klasse -->
        </div>

        <!-- choose new klasse -->
        <div class="input-group flex-nowrap">
            <select class="form-select" id="new-klasse-select" aria-label="Neue Klasse für Charakter wählen">
                <option selected disabled value="">Klasse ...</option>
                {% for klasse in klassen %}<option value="{{ klasse.pk }}">{{ klasse.titel }}</option>{% endfor %}
            </select>
            <button type="button" class="btn btn-primary" id="choose-klasse-btn">wählen</button>
        </div>

        <!-- infotext for stufen -->
        <p class="text-danger" id="stufen-errortext"></p>
    </fieldset>


    {% if old_scetches %}
    <div class="text-warning my-4">
        <p>Achtung, alte Entwürfe werden beim Anlegen eines Neuen automatisch gelöscht!</p>
        
        <ul>
            {% for s in old_scetches %}
            <li><a class="btn btn-warning" href="{% url 'create:prio' s.id %}">{{ s.name|default:"Noname" }} ({{ s.gfs.titel }}) fortführen</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="d-flex align-items-start gap-3 flex-wrap">
        <button type="submit" class="btn btn-lg btn-primary" id="submit-char-btn">Weiter</button>

        {% if perms.character.copies_chars %}
        <a class="btn btn-outline-primary" href="{% url 'character:create' %}">bestehenden Charakter übertragen</b></a></li>
        {% endif %}
    </div>
</form>
{% endblock %}
