.color {
    background-color: var(--color);
    height: 1em;
    aspect-ratio: 1;
    border-radius: 1000px;
}

/* white background */
#content-grid {
    background-color: var(--bs-light);
    color: var(--bs-dark);
    padding: 1em 1em 2em;
    margin-block: 2em .1em;

    --bs-body-color: var(--bs-dark); /* set bs-textcolor (e.g. for table text) */
}
@media only screen and (max-width: 800px) {
    #content-grid {
        margin-block: 0;
        padding: 1em .1em .1em;
    }
}


/* remove outer whitespace */
.box--text {
    padding: 0 !important;

    & > * { margin-inline: 0; }
    & > :first-child { margin-top: 0; }
    & > :last-child { margin-bottom: 0; }
}

/* keep resources in container boundaries */
.box--image img, .box--video iframe {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: contain;
    object-position: top left;
}

.box--video:has(iframe) {
    max-height: 70vh;
    aspect-ratio: 880 / 495;
}

/* allow container content to wrap */
.box--container {
    flex: unset;
    flex-wrap: wrap;
}
.grid-row { gap: .5em; min-width: 300px; flex: none !important; }
.grid-column { gap: .5em; }