main {
    --border-radius: 10px;

    .category-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2em;
        margin-block: 2em;
    }
    .category {
        display: flex;
        flex-direction: column;

        border: 1px solid var(--bs-light);
        border-radius: var(--border-radius);
        overflow: hidden;

        & > * { padding: 1em; }
    
        .category__titel { border-bottom: 1px solid var(--bs-light); }
    
    }

    ul.sortable-list {
        min-height: 100px;
        flex: fit-content 1 0;
        background-color: var(--bs-gray-700);
        width: 100%;
        
        overflow: hidden;

        &:before {
            color: var(--bs-gray-400);
            margin: auto;
        }
        
        &#remaining-items {
            max-width: 400px;

            padding: .5em;
            border-radius: var(--border-radius);
            border: 1px solid var(--bs-light);

            margin-block: .5em 2em;

            &:not(:has(> *)):before { content: "alle verteilt 👌"; }
        }
        &:not(#remaining-items) {
            border-radius: 0;

            &:not(:has(> *)):before { content: "ziehe Items hier hin"; }
        }

        &:hover, &:focus {
            background-color: var(--bs-gray-800);
        }
    }
}
