{% load static new_messages %}

{% with unread_messages=request.spieler|newMessages %}
<header>
	<nav id="top-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		
			<!-- brand -->
			<div class="navbar-brand">
				<a href="{% url 'base:index' %}">
					<img class="nav__logo__img nav-block d-inline-block align-text-top" width="30" height="30" src="{% block logo-url %}{% static 'res/img/goren_logo.svg' %}{% endblock %}" aria-hidden>
				</a>
				<span class="topic">
					{% block topic %}{{ topic|default:"Goren PnP" }}{% endblock %}
				</span>
			</div>

			{% block permanent-nav-links %}
			{% if app_index_url and app_index %}
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ app_index_url }}">{% block app %}{{ app_index|default:"INDEX" }}{% endblock %}</a>
				</li>
			</ul>
			{% endif %}
			{% endblock %}

			<!-- toggle button -->
			<button class="navbar-toggler position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#top-nav-toggler" aria-controls="top-nav-toggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>

				{% if unread_messages %}
				<span class="position-absolute top-0 start-100 translate-middle p-2 bg-warning border border-dark rounded-circle">
					<span class="visually-hidden">New alerts</span>
				</span>
				{% endif %}
			</button>
			<div class="collapse navbar-collapse" id="top-nav-toggler">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0" style="gap: 5px">
				{% block collapsible-nav-links-start %}

					{% if plus_url and plus %}
					<li class="nav-item">
						<a class="btn btn-outline-light" href="{{ plus_url }}">{% block plus %}{{ plus|default:"+" }}{% endblock %}</a>
					</li>
					{% endif %}
				{% endblock %}
				</ul>
			
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% block collapsible-nav-links-center %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'admin:index' %}">Daten ändern</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'planner:index' %}">Planer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'httpchat:index' %}">
							Chat
							{% if unread_messages %}
							<span class="badge rounded-pill bg-warning text-dark">
								{{ unread_messages }}
								<span class="visually-hidden">ungelesene Nachrichten</span>
							</span>
							{% endif %}
						</a>
					</li>
					
				{% endblock %}
				</ul>

				<ul class="navbar-nav mb-2 mb-lg-0 justify-content-end align-items-start" style="gap: 7px">
				{% block collapsible-nav-links-end %}

					<li class="nav-item">
						<a class="btn btn-outline-light p-2" href="{% url 'auth:logout' %}">Logout</a>
					</li>
				{% endblock %}
				</ul>
			</div>
		</div>
	</nav>
</header>
{% endwith %}