<div class="hero__container hero--quiz__container">
	<div class="hero__arrow hero__arrow--left">
		<img src="/static/res/img/hero-arrow-left.png" alt="previous">
	</div>

	<div class="hero__img hero--quiz__img">
		<img src="/static/res/img/hero-bulb-hand-cut.png" alt="hand holding a light bulb in the dark">
	</div>

	<div class="hero__words hero--quiz__words">
		<h1 class="hero__words__heading">Goren PnP Quiz</h1>
		<p class="hero__words__text">Du hast noch Fragen offen</p>
	</div>
	<a href="/quiz">
		<button class="hero__btn hero--quiz__btn">
			<p class="btn__text">Ich will Skillpunkte</p>
		</button>
	</a>

	<div class="hero__arrow hero__arrow--right">
		<img src="/static/res/img/hero-arrow-right.png" alt="next">
	</div>
</div>
