<div class="hero__container hero--crafting__container">
	<div class="hero__arrow hero__arrow--left">
		<img src="/static/res/img/hero-arrow-left.png" alt="previous">
	</div>

	<div class="hero__words hero--crafting__words">
		<h1 class="hero__words__heading">Crafting</h1>
		<p class="hero__words__text">NEU! Das generalüberholte Schmiedesystem!1</p>
	</div>
	<a href="/crafting/inventory">
		<button class="hero__btn hero--crafting__btn">
			<p class="btn__text">Jaaaa</p>
		</button>
	</a>

	<div class="hero__arrow hero__arrow--right">
		<img src="/static/res/img/hero-arrow-right.png" alt="next">
	</div>
</div>
