{% load static django_bootstrap5 %}
{% spaceless %}
<!DOCTYPE html>
<html lang="de">

	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{{ topic|default:"Goren PnP" }}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'res/img/goren_logo.png' %}" type="image/x-icon">

		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link rel="stylesheet" href="{% static 'base/css/main.css' %}" type="text/css">
		{% block extra-head %}{% endblock %}
	</head>

	<body>{% csrf_token %}

		{% block header %}{% endblock %}

		{% if messages %}
		<ul class="messages p-0 m-0">
			{% for message in messages %}
			<li class="message w-100 p-2{% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% block asides %}{% endblock %}

		<main class="main-container">
			{% block main %}{% endblock %}
		</main>

	
		{% block footer %}
			{% if request.user.is_authenticated and not request.user.email %}
				<footer class="email-footer text-dark">Magst du eine <a href="{% url 'auth:change_email' %}">Email angeben</a>? Falls du das Passwort vergisst kannst du es über die Email zurücksetzen.</footer>
			{% endif %}
		{% endblock %}
	</body>
</html>
{% endspaceless %}
