{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="de">

	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'res/img/icon-dice.png' %}" type="image/x-icon">

		<link rel="stylesheet" href="{% static 'base/css/main.css' %}" type="text/css">
		<script src="{% static 'base/js/main.js' %}"></script>
		{% block extra-head %}{% endblock %}
	</head>

	<body>
		{% csrf_token %}
		{% block absolute %}{% endblock %}
		<div class="main-container">
			{% block body %}{% endblock %}
		</div>
	</body>

	{% if request.user.is_authenticated and not request.user.email %}
	<footer class="footer">Magst du eine <a href="{% url 'auth:change_email' %}">Email angeben</a>? Falls du das Passwort vergisst kannst du es über die Email zurücksetzen.</footer>
	{% endif %}

	{% if request.user.is_authenticated %}
	<aside class="planner">
		<a href="{% url 'planner:index' %}">Planer</a>
	</aside>
	{% endif %}
</html>
{% endspaceless %}
