{% extends 'base/headed_main.html' %}
{% load static l10n %}
{% block extra-head %}
<link rel="stylesheet"  type="text/css" href="{% static 'crafting/css/craft.css' %}">
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'crafting/js/craft.js' %}"></script>
<script src="{% static 'res/js/sortable@1.15.2.min.js' %}" defer></script>
{% endblock %}

{% block asides %}
  <div class="toast-container m-2"></div>

  <b id="running-recipes-label">laufende Rezepte:</b>
  <ul class="running-recipes-list m-2" aria-labelledby="running-recipes-label"></ul>

  <hr class="my-5 d-none">
{% endblock %}

{% block main %}
<aside class="tables"></aside>

<header class="head">
	<div class="search input-with-btn">
		<input type="text" list="item-search" id="search-input" class="p-1" oninput="update_search_itemname_options(event)" />
		<datalist id="item-search"></datalist>

		<button onclick="search()" id="search-btn" class="btn btn-primary">Suche</button>
	</div>

	<div class="btns">
		<a href="{% url 'crafting:inventory' %}">Inventar</a>
		<a href="{% url 'crafting:regions' %}">Ressourcen sammeln</a>
		<a class="mt-4" href="{% url 'crafting:index' %}?redirect={{ request.path|urlencode }}">Profil wechseln</a>

		{% if request.spieler.is_spielleitung %}
			<a href="{% url 'crafting:sp_give_items' %}">Profilen Items geben</a>
		{% endif %}
	</div>
</header>


<section class="recipes"></section>
{% endblock %}
