{% extends 'base/headed_main.html' %}
{% load static l10n %}
{% block extra-head %}
<link rel="stylesheet"  type="text/css" href="{% static 'crafting/css/craft.css' %}">
<script src="{% static 'base/js/draggable_reorder.js' %}"></script>
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'crafting/js/craft.js' %}"></script>
{% endblock %}

{% block main %}
<aside class="tables reorder-container">
		<div
			class="item reorder-container__element table{% if has_favorite_recipes %} available{% endif %}"
			id="tid-fav"
			draggable="false"
			onclick="tableChange('tid-fav')"
			data-title="Favorisiert">⭑
		</div>
	{% for table in tables %}
		<div
			class="item reorder-container__element table{% if forloop.first %} selected{% endif %}{% if table.available %} available{% endif %}{% if table.durability_left == 0 %} broken{% endif %}"
			id="tid-{% localize off %}{{ table.id }}{% endlocalize %}"
			draggable="true"
			onclick="tableChange('tid-{% localize off %}{{ table.id }}{% endlocalize %}')"
			data-title="{{ table.name }}">

			<img src="{{ table.icon }}" alt="{{ table.name }}">
			{% if table.part %}
			<div class="progressbar" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				<div class="progressbar-inner" style="width: {{ table.percent_durability_left }}%"></div>
			</div>
			{% endif %}
		</div>
	{% endfor %}
</aside>

<header class="head">
	<div class="search input-with-btn">
		<input type="text" list="item-search" id="search-input" class="p-1" oninput="searchChange(event)" />
		<datalist id="item-search"></datalist>

		<button onclick="search()" id="search-btn" class="btn btn-primary">Suche</button>
	</div>

	<div class="btns">
		<a href="{% url 'crafting:inventory' %}">Inventar</a>
		<a href="{% url 'crafting:regions' %}">Ressourcen sammeln</a>
		<a class="mt-4" href="{% url 'crafting:index' %}?redirect={{ request.path|urlencode }}">Profil wechseln</a>

		{% if request.spieler.is_spielleitung %}
			<a href="{% url 'crafting:sp_give_items' %}">Profilen Items geben</a>
		{% endif %}
	</div>
</header>


<section class="recipes"></section>
{% endblock %}
