{% extends 'base/headed_main.html' %}
{% load static l10n crafting.duration %}
{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% static 'crafting/css/details.css' %}">
{% endblock %}

{% block main %}
<div class="nav d-flex justify-content-between">
	<a href="{% url 'crafting:inventory' %}" class="text-light">Inventar</a>
	<a href="{% url 'crafting:regions' %}" class="text-light">Ressourcen sammeln</a>
	<a href="{% url 'crafting:craft' %}" class="text-light">Crafting</a>
	<a href="{% url 'crafting:index' %}?redirect={{ request.path|urlencode }}" class="text-light">Profil wechseln</a>
</div>

<div class="overlay">
	<label for="overlay__duration">Crafting Time:</label><span id="overlay__duration">{{ object.duration|duration }}</span>
	<label for="overlay__spezial">Spezialfertigkeiten:</label><div id="overlay__spezial">{{ object.spezial_names|default:"-" }}</div>
	<label for="overlay__wissen">Wissensfertigkeiten:</label><div id="overlay__wissen">{{ object.wissen_names|default:"-" }}</div>
	<label for="overlay__table">Zutaten:</label><div id="overlay__ingredients">
		{% for ingredient in object.ingredient_set.all %}
			<a class="ingredient" href="{% url 'shop:tinker' %}?name__icontains={{ ingredient.item.name|urlencode }}">
				<img src="{{ ingredient.item.icon.url }}" alt="{{ ingredient.item.name }}">
				<span class="num">{{ ingredient.num|floatformat:-1 }}</span>
				<span class="name">{{ ingredient.item.name }}</span>
			</a>
		{% empty %}<div>-</div>
		{% endfor %}
	</div>
	<label for="overlay__table">Hergestellt an:</label><div id="overlay__table">
		{% if object.table %}
		<a class="ingredient" href="{% url 'shop:tinker' %}?name__icontains={{ object.table.name|urlencode }}">
			<img src="{{ object.table.icon.url }}" alt="{{ object.table.name }}">
			<span class="name">{{ object.table.name }}</span>
		</a>
		{% else %}
		<div class="ingredient">
			<img src="{{ handwerk.icon }}" alt="{{ handwerk.name }}">
			<span class="name">{{ handwerk.name }}</span>
		</div>
		{% endif %}
	</div>
	<label for="overlay__table">Produkte:</label><div id="overlay__table">
		{% for product in object.product_set.all %}
			<a class="ingredient" href="{% url 'shop:tinker' %}?name__icontains={{ product.item.name|urlencode }}">
				<img src="{{ product.item.icon.url }}" alt="{{ product.item.name }}">
				<span class="num">{{ product.num|floatformat:-1 }}</span>
				<span class="name">{{ product.item.name }}</span>
			</a>
		{% empty %}<div>-</div>
		{% endfor %}
	</div>
</div>

<button class="btn btn-lg btn-primary mt-3" onclick="window.history.back()">Zurück</button>
{% endblock %}
