{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}" type="text/css">
<script src="{% static 'crafting/js/index.js' %}" type='text/javascript'></script>
<style>
	form > *:not(datalist) { display: block; margin-block: 1em; }
	[type=checkbox] { width: 20px; aspect-ratio: 1; margin-right: 10px; }
	[type=text] { padding: 5px; }
	#restriction { display: flex; }
</style>
{% endblock %}

{% block main %}
<form method="post" class="text-container">
	{% csrf_token %}

	<label for="name">Crafting für Profil:</label>
	<input type="text" list="profiles" name="name" placeholder="Name" autocomplete="off" value="{{ relProfil.profil.name }}" required autofocus>
	<datalist id="profiles">
		{% for p in profiles %}<option value="{{ p.name }}"></option>{% endfor %}
	</datalist>

	<select name="char" required>
		{% for c in chars %}<option value="{{ c.pk }}" {% if c.pk == relProfil.char.pk %}selected{% endif %}>{{ c.name }}</option>{% endfor %}
	</select>

	<div id="restriction">
		<input type="checkbox" name="restriction">
		<label for="restriction">Fürs PnP eingeschränkt</label>
	</div>

	<button type="submit" class="btn btn-lg btn-primary">GO</button>
</form>
{% endblock %}
