{% extends 'base/headed_main.html' %}
{% load static l10n crafting.dict_key %}

{% block extra-head %}
<link rel="stylesheet"  type="text/css" href="{% static 'crafting/css/inventory.css' %}">
{% endblock %}

{% block main %}
<div class="head">
	<div class="btns">
		<a class="mt-4" href="{% url 'crafting:inventory' %}">Inventar</a>
		<a href="{% url 'crafting:craft' %}">Crafting</a>
		<a class="mt-4" href="{% url 'crafting:index' %}?redirect={{ request.path|urlencode }}">Profil wechseln</a>

		{% if request.spieler.is_spielleiter %}
		<div></div>
		<a href="{% url 'crafting:sp_give_items' %}">Profilen Items geben</a>
		{% endif %}
	</div>
</div>

<h2>Wo willst du abbauen?</h2>

<p class="text-danger">aktuelle Woobles: {{ profil.woobles|floatformat }}</p>

<ul class="list-group">
    {% for region in object_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if region.accessible and region.has_items == region.needs_items %}
        <a href="{% url 'crafting:mining' region.pk %}" class="text-dark d-flex flex-wrap align-items-center justify-content-between w-100">

            <div>
                <img src="{{ region.icon.url }}" class="rounded-circle border border-primary" style="height: 50px; aspect-ratio: 1">
                <span class="mx-2 fw-bold">{{ region.name }}</span>
            </div>
            <span>
            {% for item in drops|dict_key:region.pk %}
                <img class="drop" src="{{ item.icon.url }}" alt="{{ item.name }}" style="height: 27px; aspect-ratio: 1;">
            {% endfor %}
            </span>
        </a>
        {% else %}
        <form method="post" id="region-form--{{ region.pk }}" class="bg-medium text-dark d-flex flex-wrap align-items-center justify-content-between w-100">
            {% csrf_token %}
            <input type="number" value="{{ region.pk }}" name="region_id" hidden>
            <div>
                <img src="{{ region.icon.url }}" class="rounded-circle border border-primary" style="height: 50px; aspect-ratio: 1">
                <span class="mx-2 fw-bold">{{ region.name }}</span>
            </div>
            
            {% if region.needs_items and region.has_items != region.needs_items %}
            <span>
                <span class="text-danger d-block">Fehlende Items, Zugang benötigt:</span>
                {% for item in region.permanently_needs.all %}
                    <img class="drop" src="{{ item.icon.url }}" alt="{{ item.name }}" style="height: 27px; aspect-ratio: 1;" title="{{ item.name }}">
                {% endfor %}
            </span>
            {% endif %}

            <span>
                {% for item in drops|dict_key:region.pk %}
                <img class="drop" src="{{ item.icon.url }}" alt="{{ item.name }}" style="height: 27px; aspect-ratio: 1;" title="{{ item.name }}">
                {% endfor %}
            </span>
        </form>
        {% if not region.accessible %}
        <p><button type="submit" form="region-form--{{ region.pk }}" class="btn btn-dark btn-sm">Zugang kaufen <span class="text-danger">{{ region.wooble_cost }}</span></button></p>
        {% endif %}
    {% endif %}
    </li>
    {% empty %}
    <p>Es gibt (noch) keine Regionen, die du mit deiner Zerstörungswut heimsuchen könntest.</p>
    <a class="text-light" href="{% url 'crafting:index' %}?redirect={{ request.path|urlencode }}">Profil wechseln</a>
    {% endfor %}
</ul>

<h2 class="mt-5">
    Wo willst du kämpfen?
    {% if request.spieler.is_spielleiter %}<a class="btn btn-primary" href="{% url 'combat:region_select' %}">Bearbeiten</a>{% endif %}
</h2>

<ul class="list-group">
    {% for region in combat_regions %}
	<li class="list-group-item">
        <a href="{% url 'combat:fight' region.id %}" class="text-dark d-flex flex-wrap align-items-center justify-content-between w-100">

            <div>
                <img src="{% static 'res/img/goren_logo.svg' %}" class="rounded-circle border border-primary" style="height: 50px; aspect-ratio: 1">
                <span class="mx-2 fw-bold">{{ region.name }}</span>
            </div>
            <span>
                {% for item in region.enemies.all %}
                <img class="drop" src="{{ item.sprite.url }}" alt="{{ item.name }}" style="height: 27px; aspect-ratio: 1;" title="{{ item.name }}">
                {% endfor %}
            </span>
        </a>
	</li>
    {% empty %}
    <p>Keine Regionen vorhanden</p>
	{% endfor %}
</ul>
{% endblock %}