.main-container > * + * {
	margin-top: 2em;
}

#terminal {
	font-family: 'Share Tech Mono', monospace;
	border: 2px solid #fff;

	padding: 1em;

	background-color: #000;
	color: rgb(4, 194, 4);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	max-height: 90vh;
}

#terminal .prompt {
	display: flex;
	align-items: center;
	gap: .7em;
}
#terminal .output {

	overflow-y: auto;

	.line {
		display: block;
	
		&--error { color: var(--bs-danger); }
		&--warn { color: var(--bs-warning); }
	}
}

#command {
	background: transparent;
	border: 0;
	outline: 0;
	color: inherit;
	flex: 1 0 100%;
}





.canvas-container {
    position: relative;
}

canvas, .blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.blur {
    /*
    --tile-size;
    --x;
    --y;
    */

    z-index: 10;
    width: var(--tile-size, 100%);
    height: var(--tile-size, 100%);
    top: calc(var(--y, 0) * var(--tile-size, 0));
    left: calc(var(--x, 0) * var(--tile-size, 0));

    backdrop-filter: blur(10px);
}
.blur.clickable {
    cursor: pointer;
}