{% extends 'base/headed_main.html' %}
{% load static %}
{% load export_url from django_tables2 %}

{% block main %}

    {% block before_table %}{% endblock %}
    {% include 'base/table_template.html' with view=view table=table filter=filter %}
    {% block after_table %}{% endblock %}

    {% if view.export_formats|length %}
    <ul>
        {% for format in view.export_formats %}
            <li><a class="export-link" href="{% export_url format %}">
                download  <code>.{{ format }}</code>
            </a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block after_exports %}{% endblock %}
{% endblock %}