{% extends "base/headed_main.html" %}
{% load static %}
{% block extra-head %}<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">{% endblock %}

{% block main %}
<div class="text-container">
    <h2>{{ question.text }}</h2>
    {% if not question.allow_multiple_selection %}<p>Wähle verschiedene Antworten, mehrfach die Gleiche ist nicht erlaubt.</p>{% endif %}

    <form method="post">
        {% csrf_token %}

        {% with ''|center:question.anz_stimmen as range %}
        {% for _ in range %}
        <select name="answer" class="d-block mb-3 p-1" style="min-width: 170px;" required>
            <option value="" selected>---</option>
            {% for option in question.choice_set.all %}
            <option value="{{ option.id }}">{{ option.text }}</option>
            {% endfor %}
        </select>
        {% endfor %}
        {% endwith %}

        <button class="btn btn-lg btn-primary">OK</button>
    </form>
</div>
{% endblock %}
