// colors
:root {
  --bg: var(--bs-yellow);
  --color: #000;
}

.main-container {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 2em;
}

.table-wrapper {
  overflow: auto;
  justify-self: stretch;
}

#priotable {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

td {
  padding: .25em .5em;
  border: 1px solid black;
  cursor: pointer;

  background-color: var(--background-color);
  color: var(--color);

  &[data-type="prio"] {
    --background-color: var(--bs-dark);
    --color: var(--bs-light);
    cursor: not-allowed;

	small {
		font-weight: lighter;
		font-size: .75rem;
	}
  }

  &:hover {
    background-color: var(--background-color, var(--bg));
    color: var(--color);
  }

  &.selected {
    --background-color: var(--bg);
    --color: var(--color);
  }
  &.blocked {
    --background-color: var(--bg);
    --color: var(--color);
    text-decoration: line-through;
	font-weight: lighter;
	opacity: 0.5;
  }
}
