body {
	margin: 0;
	overflow-y: hidden;
	--min-footer-height: 3em;
	--max-footer-height: 40vh;
	--footer-padding: 10px;
	--header-height: calc(57px + 2*8px);

	background-color: #dac7c7;
}
.chat-navbar-content { max-width: 100%; margin-right: 0px; }
.avatar-container { overflow-x: auto; margin-right: 0px; }

.shadow { box-shadow: 0 0 10px darken(#dac7c7, 10%); }

#message-container {
	height: calc(100vh - min(var(--max-footer-height), var(--footer-height, var(--min-footer-height))) - 2*var(--footer-padding));
	padding: 1em 1em calc(var(--min-footer-height) + 2*var(--footer-padding));

	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5em;

	justify-items: flex-end;
	align-items: center;

	overflow-y: auto;
}


.info {
	@extend .shadow;

	padding: .2em .7em;
	background-color: #efefef;
	border-radius: 10px;
	justify-self: center;
}

.message {
	@extend .shadow;
	padding: .5em 1em;
}
.message--own {
	background-color: #7ce4b9;
	justify-self: flex-end;
	border-radius: 20px 20px 0;

	.message__timestamp { text-align: end; }
}
.message--foreign {
	background-color: #fff;
	justify-self: flex-start;
	border-radius: 0 20px 20px;

	.message__timestamp { text-align: start; }
	
	
}
.message--new.message--foreign {
	background-color: var(--bs-info);
	position: relative;
}
.message--new.message--foreign::before {
	content: "Neu!";
	color: var(--bs-info);
	position: absolute;
	top: 100%;
	left: 0;
	text-shadow: hsl(190, 90%, 70%) 0 0 2px;
}

.message__author { font-weight: 700; }
.message__timestamp {
	font-size: .8em;
	padding-top: .7em;
	opacity: .5;
}

.footer {
	min-height: calc(var(--min-footer-height) + 2*var(--footer-padding));
	width: 100%;
	padding: var(--footer-padding);

	display: flex;
	justify-content: center;
	gap: 5px;

	& > * {
		@extend .shadow;
		border: none;
	}

	#prompt {
		flex: 1;
		padding: .4em 1em;
		margin: 0;
		border-radius: 10px;
		opacity: 1;

		max-height: var(--max-footer-height);
		overflow-y: auto;
	}

	& > :where(button, [type=submit]) {
		height: calc(var(--min-footer-height) - 2*var(--footer-padding));
		border-radius: 100px;

		line-height: 1em;
		font-size: x-large;

		&:hover, &:focus, &:focus-visible { opacity: .8; }
	}
	#submit-prompt-btn {
		aspect-ratio: 1;
		background-color: hsl(163, 100%, 31%);
		color: #fff;
		padding: 0;
	}
	#refresh-btn {
		flex: 0 0 10px;
		background-color: lighten(#dac7c7, 10%);
		color: hsl(163, 100%, 31%);
	}
}


// additional rules for scrolling header in reverse
#scroll-indicator {
	height: 0;
	display: block;

	transition: margin-bottom .25s .1s ease-in-out;
}
body:not(.hidden-header) #scroll-indicator {
	margin-bottom: var(--visible-header-height);
}