<a class="nav-link" href="#personal">Persönliches</a>
<a class="nav-link" href="#resources">Währungen/Ressourcen</a>
<a class="nav-link" href="#values">errechnete Werte</a>
<a class="nav-link" href="#attrs">Attribute</a>
<a class="nav-link" href="#ferts">Fertigkeiten</a>
<a class="nav-link" href="#hp">HP</a>
{% if spF_wF_spezial.data|length %}<a class="nav-link" href="#spezial">Spezialfertigkeiten</a>{% endif %}
{% if spF_wF_wissen.data|length %}<a class="nav-link" href="#wissen">Wissensfertigkeiten</a>{% endif %}
{% if vorteil__table.data|length %}<a class="nav-link" href="#vorteil">Vorteile</a>{% endif %}
{% if nachteil__table.data|length %}<a class="nav-link" href="#nachteil">Nachteile</a>{% endif %}
{% if wesenkraft__table.data|length %}<a class="nav-link" href="#wesenkraft">Wesenkräfte</a>{% endif %}
{% if talent__table.data|length %}<a class="nav-link" href="#talent">Talente</a>{% endif %}
{% if gfs_ability__table.data|length %}<a class="nav-link" href="#gfs">Gfs-Fähigkeiten</a>{% endif %}
{% if affektivität__table.data|length %}<a class="nav-link" href="#affekt">Affektivität</a>{% endif %}
{% if inventory__table.data|length or inventory__random_items %}<a class="nav-link" href="#inventory">Inventar & Ramsch</a>{% endif %}
{% if zauber__table.data|length %}<a class="nav-link" href="#zauber">Zauber</a>{% endif %}
{% if ritual__table.data|length %}<a class="nav-link" href="#rit_runen">Rituale & Runen</a>{% endif %}
{% if nahkampf__table.data|length %}<a class="nav-link" href="#nahkampf">Nahkampfwaffen</a>{% endif %}
{% if fernkampf__table.data|length %}<a class="nav-link" href="#fernkampf">Fernkampfwaffen</a>{% endif %}
