{% extends 'base/dynamic-table.html' %}

{% block before_table %}

{% if priotable%}
<h2>Priotable</h2>
<div class="table-container table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr><th>Prio</th><th>Wert</th></tr>
        </thead>
        <tbody>
            {% for p in priotable %}
            <tr><td>{{ p.prio }}</td><td>{{ p.text }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<h2>Historie</h2>
{% endblock %}