{% extends 'base/headed_main.html' %}
{% load static %}

{% block main %}
<ul class="list-group">
	{% for c in charaktere %}
	<li>
		<a href="{% url 'character:show' c.id %}" class="list-group-item list-group-item-dark">
			<p class="h4">{{ c.name }}{% if c.larp %} (LARP){% endif %}</p>
			<p>{{ c.persönlicheZiele|default:""|linebreaks }}</p>
		</a>
	</li>
	{% empty %}
	<div>
		<h1>Du hast keine Charaktere.</h1>
		<span>Du kannst neue Charaktere über das + oben auf dieser Seite oder <a href="{% url 'create:gfs' %}">hier anlegen</a>.</span>
	</div>
	{% endfor %}
</ul>
{% endblock %}
