<div class="chip-container">

    <div class="chip__row chip__row--example">
        <div class="chip__cell chip__cell--emph">Spezialf.</div>
        <div class="chip__cell">Attribute</div>
        <div class="chip__cell">Fertigkeiten</div>
        <div class="chip__cell">Stufe</div>
        <div class="chip__cell chip__cell--emph">Ausgleich</div>
        <div class="chip__cell chip__cell--emph">W20</div>
    </div>

    {% for s in spezial %}
        <div class="chip__row">
            <div class="chip__cell chip__cell--emph">{{ s.titel }}</div>
            <div class="chip__cell">{{ s.attrs }}</div>
            <div class="chip__cell">{{ s.ferts }}</div>
            <div class="chip__cell">{{ s.stufe }}</div>
            <div class="chip__cell chip__cell--emph">{{ s.ausgleich }}</div>
            <div class="chip__cell chip__cell--emph">{{ s.pool }}</div>
        </div>
    {% endfor %}
</div>
