<div class="personal-container">
    <section class="section appereance">
        <div class="gfs">
            {% if char.gfs %}{{ char.gfs.titel }}{% else %}{{ wesen }}{% endif %}
        </div>

        <label>Geschlecht</label>
        <div class="val">{{ char.geschlecht|default:'-' }}</div>
        <label>Alter</label>
        <div class="val">{{ char.alter|default:'-' }}</div>
        <label>Größe</label>
        <div class="val">{{ char.größe|default:'-' }} cm</div>
        <label>Gewicht</label>
        <div class="val">{{ char.gewicht|default:'-' }} kg</div>
        <label>Haut</label>
        <div class="val">{{ char.hautfarbe|default:'-' }}</div>
        <label>Haare</label>
        <div class="val">{{ char.haarfarbe|default:'-' }}</div>
        <label>Augen</label>
        <div class="val">{{ char.augenfarbe|default:'-' }}</div>
    </section>


    <section class="section society">
        <label>Persönlichkeit/en:</label>
        <div class="val">{{ persönlichkeiten|default:'-' }}</div>
        <label>Sexualität</label>
        <div class="val">{{ char.sexualität|default:'-' }}</div>
        <label>Beruf</label>
        <div class="val">{{ char.beruf|default:'-' }}</div>
        <label>Religion</label>
        <div class="val">{{ char.religion|default:'-' }}</div>
        <label>präf. Arm</label>
        <div class="val">{{ char.präf_arm|default:'-' }}</div>
        <label>Manifest</label>
        <div class="val">{{ char.manifest|default:'-' }}</div>
        <label>Schaden waff. Kampf</label>
        <div class="val">{{ char.wesenschaden_waff_kampf|default_if_none:'-' }} HP
            {% if char.wesenschaden_andere_gestalt is not None %}({{ char.wesenschaden_andere_gestalt }} HP){% endif %}
        </div>
        <label>Konzentration</label>
        <div class="val">{{ konzentration|default:'-' }}</div>
    </section>

    <section class="section hp">
        <h3>körperlich</h3>
        <div>HPplus</div>
        <div class="val">{{ char.HPplus|default_if_none:'-' }}</div>
        <div>Rang</div>
        <div class="val">{{ char.rang }}</div>
        <div>EP-Rang</div>
        <div class="val">0</div>

        <div class="hp__sum">HP</div>
        <div class="val">{{ maxHp|default_if_none:'-' }}</div>
        <div>tot ab</div>
        <div class="val">{{ totAb|default_if_none:'-' }}</div>

        <h3>geistig</h3>
        <div>HP</div>
        <div class="val">{{ wkHp|default_if_none:'-' }}</div>
    </section>

    <section class="section currencies">
        {% if char.larp %}
            <div class="currency__row">
                <div></div>
                <div class="val">LARP</div>
            </div>
        {% endif %}

        <div class="currency__row">
            <div>SP</div>
            <div class="val">{{ char.sp|default_if_none:'-' }}</div>
        </div>

        {% if not char.larp %}
            <div class="currency__row">
                <div>EP</div>
                <div class="val">{{ char.ep|default_if_none:'-' }}</div><span>&#10140;</span>
                <div class="val">{{ char.ep_stufe }}</div>
            </div>
        {% endif %}

        <div class="currency__row">
            <div>IP</div>
            <div class="val">{{ char.ip|default_if_none:'-' }}</div>
        </div>
        <div class="currency__row">
            <div>TP</div>
            <div class="val">{{ char.tp|default_if_none:'-' }}</div>
        </div>
        <div class="currency__row">
            <div>Geld</div>
            <div class="val">{{ char.geld|default_if_none:'-' }}</div>
        </div>
    </section>
</div>
