<div class="chip-container">
    <div class="chip__row chip__row--example">
        <div class="chip__cell">Anzahl</div>
        <div class="chip__cell chip__cell--emph">{{ teil_kind }}</div>
        <div class="chip__cell">Notizen</div>
    </div>
    {% for rel in teil %}
        <div class="chip__row">
            <div class="chip__cell">{{ rel.anzahl }}x</div>
            <div class="chip__cell chip__cell--emph">{{ rel.teil.titel }}</div>
            <div class="chip__cell">{{ rel.notizen|default:'-' }}</div>
        </div>
    {% endfor %}
</div>
