<div class="limits chip-container">
    <div class="chip__row chip__row--fert chip__row--example">
        <div class="chip__cell chip__cell--emph">Limit</div>
        <div class="chip__cell">Wert</div>
    </div>
    <div class="chip__row chip__row--fert chip__row--k">
        <div class="chip__cell chip__cell--emph">Limit k</div>
        <div class="chip__cell">{{ limits.k|floatformat }}</div>
    </div>
    <div class="chip__row chip__row--fert chip__row--g">
        <div class="chip__cell chip__cell--emph">Limit g</div>
        <div class="chip__cell">{{ limits.g|floatformat }}</div>
    </div>
    <div class="chip__row chip__row--fert chip__row--s">
        <div class="chip__cell chip__cell--emph">Limit m</div>
        <div class="chip__cell">{{ limits.m|floatformat }}</div>
    </div>
</div>

<div class="chip-container">
    <div class="chip__row chip__row--fert chip__row--example">
        <div class="chip__cell chip__cell--emph">Titel</div>
        <div class="chip__cell">FP</div>
        <div class="chip__cell fg">FG</div>
        <div class="chip__cell chip__cell--emph">Pool</div>
    </div>

    {% for e in attr %}
        <div class="chip__row chip__row--fert rows-{{ e.ferts|length }}
            {% if e.attr_id in k %}chip__row--k
            {% elif e.attr_id in g %}chip__row--g
            {% else %}chip__row--s{% endif %}">
            <div class="chip__cell fg">
                <span>
                    {{ e.fg }}
                    {% if e.fg_bonus %}+ {{ e.fg_bonus }}{% endif %}
                </span>
            </div>

            {% for rel in e.ferts %}
                <div class="chip__cell chip__cell--emph">{{ rel.fertigkeit.titel }}</div>
                <div class="chip__cell">{{ rel.fp }}
                    {% if rel.fp_bonus %}+ {{ rel.fp_bonus }}{% endif %}
                </div>
                <div class="chip__cell chip__cell--emph">{{ rel.pool }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


<div class="chip-container">

    <div class="chip__row chip__row--example">
        <div class="chip__cell chip__cell--emph">Titel</div>
        <div class="chip__cell">FP</div>
        <div class="chip__cell chip__cell--emph">Pool</div>
    </div>


    {% for rel in fert2 %}
        <div class="chip__row">
            <div class="chip__cell chip__cell--emph">{{ rel.fertigkeit.titel }}</div>
            <div class="chip__cell fp">{{ rel.fp }}
                {% if rel.fp_bonus %}+ {{ rel.fp_bonus }}{% endif %}
            </div>
            <div class="chip__cell chip__cell--emph">{{ rel.pool }}</div>
        </div>
    {% endfor %}
</div>
