{% load static %}

<style>
    body { overflow-x: hidden; }
    .character-resources {
        z-index: 10000;
        position: sticky;
        top: 0;
        right: 0;
        height: 0;

        overflow-x: clip;
    }
    .character-resources .offcanvas { bottom: unset; max-height: calc(100vh - 20px); }
    .character-resources .offcanvas.offcanvas-end, .character-resources-trigger {
        /* color */
        --bg-rgb: 132, 31, 82;  /* pink */

        background-color: RGBA(var(--bg-rgb), var(--bs-bg-opacity,1)) !important;

        /* position & size */
        position: absolute;
        
        top: 10px;
        right: 10px;
        margin-left: auto;
        width: fit-content;
    }

    .character-resources-trigger {
        color: white !important;
        transition: filter 200ms;

        .icon {
            width: 1.5em;
            height: 1.5em;
            color: inherit;

            display: flex;
            justify-content: center;
            align-items: center;

            & * { fill: currentColor; }
        }
    }
    .character-resources-trigger:hover {
        filter: brightness(.8);
    }
</style>

<!-- Resources -->
<aside class="character-resources">

    <div class="offcanvas offcanvas-end show text-bg-dark" tabindex="-1" id="{{ offcanvas_id }}" aria-labelledby="offcanvasExampleLabel" data-bs-scroll="true" data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Ressoucen</h5>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {{ res }}
        </div>
    </div>
    
    <button class="character-resources-trigger btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#{{ offcanvas_id }}" aria-controls="offcanvasScrolling">
        <div class="icon">{{ icon|safe }}</div>
    </button>
</aside>