{% extends 'base/headed_main.html' %}
{% load static levelUp.resources l10n %}

{% block extra-head %}{{ block.super }}
<style>
    :where(#characterResources, .main-container) a {
        --bs-link-color: currentcolor;
        --bs-link-hover-color: currentcolor;

        &:hover { opacity: 0.75; }
    }
    .main-container {
        ul > :not(li) { display: none; }
        .formitem {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1em;
        }
        .card {
            width: min(100%, 45ch);

            .card-text p br {
                display: block;
                margin-top: .5em;
            }
        }
        .card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: .3em;

            .klasse-icon {
                width: 2em;
                aspect-ratio: 1;
            }
        }
    }
</style>

<script type="text/javascript" src="{% static 'levelUp/js/klasse.js' %}" defer></script>
{% endblock %}

{% block asides %}
{% resources %}
    <!-- Resources -->
     {% if missing_stufen > 0 %}
    <p class=" mb-5">{{ missing_stufen }} Stufe{% if missing_stufen != 1 %}n{% endif %}</p>
    {% endif %}

    <a class="text-light d-block" href="{% url 'wiki:klassen' %}" target="_blank">alle Klassen angucken</a>
{% endresources %}
{% endblock %}

{% block main %}
    {% if own_klassen|length == 0 and missing_stufen <= 0 %}
    <p class="h4 mb-3 d-block">Du hast keine Klassen und kannst auch keine wählen.</p>
    {% endif %}

    {% if own_klassen|length > 0 %}
        <h2>Deine Klassen</h2>

        <ul>
            {% for rel in own_klassen %}
            <li class="card text-bg-dark my-4">
                <div class="card-body">
                    <a class="card-title h5" href="{% url 'wiki:klasse' rel.klasse.pk %}" target="_blank">{{ rel.klasse.titel }}</a>
                    <div class="card-subtitle mt-2 mb-3 text-muted">Stufe {{ rel.stufe }}</div>
                    <small class="card-text">
                        <ul>
                            {% if rel.ap %}<li>{{ rel.ap }} AP</li>{% endif %}
                            {% if rel.fp %}<li>{{ rel.fp }} FP</li>{% endif %}
                            {% if rel.fg %}<li>{{ rel.fg }} FG</li>{% endif %}
                            {% if rel.tp %}<li>{{ rel.tp }} TP</li>{% endif %}
                            {% if rel.ip %}<li>{{ rel.ip }} IP</li>{% endif %}
                            {% if rel.zauber %}<li>{{ rel.zauber }} Zauberslots</li>{% endif %}
                            <li>Klassenfähigkeiten:<ul>{{ rel.abilities|safe|linebreaks }}</ul></li>
                        </ul>
                    </small>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if missing_stufen > 0 %}
    <form id="create-form" method="post">
        <h2>Neue Klassenstufen wählen</h2>
        {% csrf_token %}

        <ul class="p-0">
            {% for rel in stufenpläne %}
            <li class="formitem my-4">
                <input type="radio" id="stufenplan-{% localize off %}{{ rel.id }}{% endlocalize %}" name="stufenplan_id" value="{% localize off %}{{ rel.id }}{% endlocalize %}" class="form-check-input" {% if not rel.requirements_met %}disabled{% endif %}>
                <label for="stufenplan-{% localize off %}{{ rel.id }}{% endlocalize %}">
                    <div class="card text-bg-dark{% if not rel.requirements_met %} text-muted{% endif %}">
                        <div class="card-body">
                            <a class="card-title h5" href="{% url 'wiki:klasse' rel.klasse.pk %}" target="_blank">
                                <img src="{% if rel.klasse.icon %}{{ rel.klasse.icon.url }}{% else %}{% static 'res/img/goren_logo.svg' %}{% endif %}" class="klasse-icon">
                                {{ rel.klasse.titel }} Stufe {{ rel.stufe }}
                            </a>
                            {% if rel.stufe == rel.min_stufe or not rel.requirements_met %}<div class="card-subtitle mt-2 mb-3 text-muted">Voraussetzung: {{ rel.klasse.requirement }}</div>{% endif %}
                            <small class="card-text">
                                {% if rel.stufe == rel.min_stufe %}
                                <ul>
                                    {% for ability in rel.klasse.base_abilities.all %}
                                    <li><b>{{ ability.name }}</b><br>{{ ability.beschreibung }}</li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                    <ul>
                                        {% if rel.ap %}<li>{{ rel.ap }} AP</li>{% endif %}
                                        {% if rel.fp %}<li>{{ rel.fp }} FP</li>{% endif %}
                                        {% if rel.fg %}<li>{{ rel.fg }} FG</li>{% endif %}
                                        {% if rel.tp %}<li>{{ rel.tp }} TP</li>{% endif %}
                                        {% if rel.ip %}<li>{{ rel.ip }} IP</li>{% endif %}
                                        {% if rel.zauber %}<li>{{ rel.zauber }} Zauberslots</li>{% endif %}
                                        {% if rel.ability %}<li><b>{{ rel.ability.name }}</b>{{ rel.ability.beschreibung|linebreaks }}</li>{% endif %}
                                    </ul>
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>

        <button id="choose-stufe" class="btn btn-lg btn-primary sticky-footer" disabled>Stufe wählen</button>
    </form>
    {% endif %}

        
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-outline-primary m-2" href="{{ back_url }}">Zurück</a>
    </div>
{% endblock %}
