{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">{% endblock %}
{% block main %}
<div class="text-container">
    <form class='form' method="POST" enctype='multipart/form-data' class="input-group">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex gap-3 mt-2 mb-5">
            <a class="btn btn-outline-light" href="{% url 'admin:character_religion_add' %}">neue Religion</a>
            <a class="btn btn-outline-light" href="{% url 'admin:character_beruf_add' %}">neuer Beruf</a>
        </div>

        <div class="sticky-footer">
            <button type="submit" class="btn btn-lg btn-primary m-2">Speichern</button>
            <a class="btn btn-lg btn-outline-primary m-2" href="{{ back_url }}">Zurück</a>
        </div>
    </form>
</div>
{% endblock %}
