{% extends 'base/headed_main.html' %}
{% load static crispy_forms_tags %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">
<style>
legend { margin-top: 1em; }
textarea { width: 100%; }
</style>
{% endblock %}
{% block main %}
<form class='form' id="personal-form" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {% crispy form %}

    <div class="d-flex gap-3 mt-2 mb-5">
        <a class="btn btn-outline-light" href="{% url 'admin:character_religion_add' %}">neue Religion</a>
        <a class="btn btn-outline-light" href="{% url 'admin:character_beruf_add' %}">neuer Beruf</a>
    </div>
</form>

<div class="fixed-bottom">
    <footer class="sticky-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" form="personal-form">Speichern</button>
        <a class="btn btn-outline-primary mx-2" href="{{ back_url }}">Zurück</a>
    </footer>
</div>
{% endblock %}
