{% extends 'base/dynamic-table.html' %}
{% load static levelUp.resources l10n crispy_forms_tags %}
{% block extra-head %}
<style>
    #div_id_konzentration .input-group {
        flex-wrap: nowrap;
        width: fit-content;
    }

    table {
        max-width: 700px;
    }
</style>

{{ char.sp|json_script:"initial_sp" }}
<script src="{% static 'levelUp/js/skilltree.js' %}" defer></script>
{% endblock %}

{% block asides %}
    {% resources %}<span id="sp_pool"><b>{{ char.sp }}</b></span> SP{% endresources %}
{% endblock %}

{% block before_table %}
<h2>Konzentration</h2>

{% if char.konzentration_fix is None %}
{% crispy konzentration_form %}
{% else %}
<p>Du kannst hier nix kaufen, deine Konzentration ist fix auf {{ char.konzentration_fix }}. </p>
{% endif %}


<h2 class="mt-5">Skilltree</h2>
{% endblock %}

{% block after_table %}
<div class="fixed-bottom">
    <footer class="sticky-footer d-flex justify-content-center">
        <form id="form" method="post" class="d-flex justify-content-center">
            {% csrf_token %}
            <button id="sub-btn" type="submit" class="btn btn-primary">Speichern</button>
        </form>
        <a class="btn btn-outline-primary mx-2" href="{{ back_url }}">Zurück</a>
    </footer>
</div>


{% endblock %}
