{% extends 'base/dynamic-table.html' %}
{% load static levelUp.resources l10n %}
{% block extra-head %}
<style>
    table {
        max-width: 700px;
        margin-inline: auto;
    }
</style>

{{ char.sp|json_script:"initial_sp" }}
<script src="{% static 'levelUp/js/skilltree.js' %}" defer></script>
{% endblock %}

{% block asides %}
    {% resources %}<span id="sp_pool"><b>{{ char.sp }}</b></span> SP{% endresources %}
{% endblock %}

{% block after_table %}
<form id="form" method="post" class="d-flex justify-content-center">
    {% csrf_token %}
    <button id="sub-btn" type="submit" class="btn btn-lg btn-primary m-2">Speichern</button>
</form>

<a class="btn btn-lg btn-outline-primary my-2" href="{{ back_url }}">Zurück</a>
{% endblock %}
