{% extends 'base/headed_main.html' %}
{% load static resources l10n %}

{% block extra-head %}{{ block.super }}
<style>
    .card {
        width: fit-content;
        min-width: min(100%, 300px);
    }
    .tier {
        width: 18px;
        aspect-ratio: 1;
        border: 1px solid white;
        margin: 2px;
    }
    .tier-bought { background-color: var(--bs-success); }
    .tier-filled { background-color: var(--bs-warning) !important; }
    .tier-blocked { background-color: #ccc; }
</style>

{% localize off %}
{{ char.max_tier_allowed|json_script:"max_tier" }}
{{ char.sp|json_script:"sp_available" }}
{{ char.ap|add:MA_aktuell|json_script:"ap_available" }}
{{ get_tier_cost_with_sp|json_script:"sp_cost_for_tier" }}
{% endlocalize %}
<script type="text/javascript" src="{% static 'levelUp/js/wesenkraft.js' %}" defer></script>
{% endblock %}

{% block asides %}
{% resources %}
    <!-- Resources -->
    <p>{{char.sp}} SP <b class="pay-tier" id="pay-tier-with-sp"></b></p>
    <p>{{char.ap}} AP / {{MA_aktuell}} MA <b class="pay-tier" id="pay-tier-with-ap"></b></p>
{% endresources %}
{% endblock %}

{% block main %}
{% if own_wesenkraft|length == 0 %}
<span class="h4 mb-3 d-block">Du hast keine Wesenkräfte.</span>
{% endif %}

    {% if own_wesenkraft|length > 0 %}
    <form id="update-form" method="post">
        {% csrf_token %}

        <h2>Deine Wesenkräfte</h2>

        {% for rel in own_wesenkraft %}
            <div class="card text-bg-dark my-4">

                <div class="card-header">{{ rel.wesenkraft.titel }}</div>
                <div class="card-body">
            
                    <div>Tier {{ rel.tier }}</div>
                    <input type="hidden" class="tier-input" name="{% localize off %}{{ rel.id }}{% endlocalize %}" value="{{ rel.tier }}">
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn--decrease btn btn-outline-light mx-2" disabled>-</button>

                        {% with ''|center:7 as range %}
                        {% for _ in range %}
                        <div aria-hidden="true" class="tier
                            {% if forloop.counter0 < rel.tier %}tier-bought{% endif %}
                            {% if forloop.counter > char.max_tier_allowed %}tier-blocked{% endif %}
                        "></div>
                        {% endfor %}
                        {% endwith %}

                        <button type="button" class="btn--increase btn btn-outline-light mx-2" {% if rel.tier == char.max_tier_allowed %}disabled{% endif %}>+</button>
                    </div>
                </div>
            </div>
        {% endfor %}

        <label for="payment-method" class="fw-bold mb-1">Bezahle Tiers mit</label>
        <select id="payment-method" class="form-select w-auto mb-3" name="payment_method" required>
            <option value="sp">SP</option>
            <option value="ap">AP / MA-Attribut</option>
        </select>

        <button type="submit" id="learn-tier" class="btn btn-lg btn-primary sticky-footer" disabled>kaufen</button>
    </form>
    {% endif %}

        
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-outline-primary m-2" href="{{ back_url }}">Zurück</a>
    </div>
{% endblock %}
