{% extends 'base/headed_main.html' %}
{% load static levelUp.resources l10n %}

{% block extra-head %}{{ block.super }}
<style>
    :where(#characterResources, .main-container) a {
        --bs-link-color: currentcolor;
        --bs-link-hover-color: currentcolor;

        &:hover { opacity: 0.75; }
    }
    .row {
        --bs-gutter-x: 2.5rem;
        --bs-gutter-y: 3rem;
    }
    .card {
        width: min(100%, 45ch);

        .card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: .3em;
    
            .zauber-icon {
                width: 2em;
                aspect-ratio: 1;
            }
        }
        .card-text p br {
            display: block;
            margin-top: .5em;
        }
    }
    .tier {
        width: 18px;
        aspect-ratio: 1;
        border: 1px solid white;
        margin: 2px;
    }
    .tier-bought { background-color: var(--bs-success); }
    .tier-filled { background-color: var(--bs-warning) !important; }
    .tier-blocked { background-color: #ccc; }

    .zauber-formitem {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;
    }
</style>

{% localize off %}
{{ char.max_tier_allowed|json_script:"max_tier" }}
{{ free_slots|json_script:"slots_available" }}
{{ char.sp|json_script:"sp_available" }}
{{ char.ap|add:MA_aktuell|json_script:"ap_available" }}
{{ get_tier_cost_with_sp|json_script:"sp_cost_for_tier" }}
{% endlocalize %}
<script type="text/javascript" src="{% static 'levelUp/js/zauber.js' %}" defer></script>
{% endblock %}

{% block asides %}
{% resources %}
    <!-- Resources -->
    <a class="mb-3 d-block" href="{% url 'shop:zauber' %}" target="_blank">alle Zauber angucken</a>

    <div class="fw-bold">Zauberslots <b class="pay-tier" id="pay-tier-with-slots"></b></div>
    <ul aria-label="Zauberslots">
        {% for stufe, amount in char.zauberplätze.items %}
        <li><b>{{amount}} Stufe {{stufe}}</b> Zauber</li>
        {% endfor %}
    </ul>

    <div class="fw-bold">was Anderes</div>
    <ul aria-label="was Anderes">
        <li>{{char.sp}} SP <b class="pay-tier" id="pay-tier-with-sp"></b></li>
        <li>{{char.ap}} AP / {{MA_aktuell}} MA <b class="pay-tier" id="pay-tier-with-ap"></b></li>
        {% if not char.in_erstellung %}<li>{{char.geld}} Drachmen <b class="pay-tier" id="pay-money"></b></li>{% endif %}
    </ul>
{% endresources %}
{% endblock %}

{% block main %}
{% if own_zauber|length == 0 and free_slots == 0 %}
<span class="h4 mb-3 d-block">Du hast keine Zauber und kannst auch keine kaufen.</span>
{% endif %}

<div class="container m-0">
    <div class="row">
        
        {% if own_zauber|length > 0 %}
        <section class="col-md-6">
            <form id="update-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="operation" value="update">

                <h2>Deine Zauber</h2>

                <ul>
                    {% for rel in own_zauber %}
                    <li class="card text-bg-dark my-4">
                        <div class="card-body">
                            <a class="card-title h5" href="{% url 'shop:zauber' %}{{ rel.querystring }}" target="_blank">
                                <img src="{% if rel.item.icon %}{{ rel.item.icon.url }}{% else %}{% static 'res/img/goren_logo.svg' %}{% endif %}" class="zauber-icon">
                                {{ rel.item.name }}
                            </a>
                            <div class="card-subtitle mt-2 mb-3 text-muted">
                                Tier {{ rel.tier }}
                                <input type="hidden" class="tier-input" name="{% localize off %}{{ rel.id }}{% endlocalize %}" value="{{ rel.tier }}">
                                <div class="d-flex align-items-center">
                                    <button type="button" class="btn--decrease btn btn-outline-light mx-2" disabled>-</button>

                                    {% with ''|center:7 as range %}
                                    {% for _ in range %}
                                    <div aria-hidden="true" class="tier
                                        {% if forloop.counter0 < rel.tier %}tier-bought{% endif %}
                                        {% if forloop.counter > char.max_tier_allowed %}tier-blocked{% endif %}
                                    "></div>
                                    {% endfor %}
                                    {% endwith %}

                                    <button type="button" class="btn--increase btn btn-outline-light mx-2" {% if rel.tier == char.max_tier_allowed %}disabled{% endif %}>+</button>
                                </div>
                            </div>
                            <small class="card-text">{{ rel.item.beschreibung|linebreaks }}</small>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <label for="payment-method" class="fw-bold mb-1">Bezahle Tiers mit</label>
                <select id="payment-method" class="form-select w-auto mb-3" name="payment_method" required>
                    <option value="slot">Zauberslots</option>
                    <option value="sp">SP</option>
                    <option value="ap">AP / MA-Attribut</option>
                </select>

                <button type="submit" id="learn-tier" class="btn btn-lg btn-primary" disabled>kaufen</button>
            </form>
        </section>
        {% endif %}



        {% if free_slots > 0 %}
        <section class="col-md-6">
            <form id="create-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="operation" value="create">

                <h2>Neuen Zauber lernen</h2>

                <ul class="p-0">
                    {% for z in zauber %}
                    <li class="zauber-formitem my-4">
                        <input type="radio" id="zauber-{% localize off %}{{ z.zauber.id }}{% endlocalize %}" name="zauber_id" value="{% localize off %}{{ z.zauber.id }}{% endlocalize %}" class="form-check-input" {% if not char.in_erstellung and z.geld > char.geld %}disabled{% endif %}>
                        <label for="zauber-{% localize off %}{{ z.zauber.id }}{% endlocalize %}">
                            <div class="card text-bg-dark{% if not char.in_erstellung and z.geld > char.geld %} text-muted{% endif %}">
                                <div class="card-body">
                                    <a class="card-title h5" href="{% url 'shop:zauber' %}{{ z.zauber.querystring }}" target="_blank">
                                        <img src="{% if z.zauber.icon %}{{ z.zauber.icon.url }}{% else %}{% static 'res/img/goren_logo.svg' %}{% endif %}" class="zauber-icon">
                                        {{ z.zauber.name }}
                                    </a>
                                    {% if not char.in_erstellung %}<div class="card-subtitle mt-2 mb-3 text-muted"><span class="geld">{{ z.geld }}</span> Drachmen</div>{% endif %}
                                    <small class="card-text">{{ z.zauber.beschreibung|linebreaks }}</small>
                                </div>
                            </div>
                        </label>
                    </li>
                    {% endfor %}
                </ul>

                <button id="learn-zauber" class="btn btn-lg btn-primary" disabled>lernen</button>
            </form>
        </section>
        {% endif %}
    </div>

<div class="fixed-bottom">
    <footer class="sticky-footer d-flex justify-content-center">
        <a class="btn btn-outline-primary" href="{{ back_url }}">Zurück</a>
    </footer>
</div>
{% endblock %}
