{% extends 'base/main.html' %}
{% load static %}
{% block title %}AP{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<link rel="stylesheet" href="{% static 'create/css/ap.css' %}">
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'create/js/ap.js' %}"></script>
{{ attributes|json_script:"attributes" }}
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic='AP' %}{% endblock %}

{% block body %}
<p class="pool">AP übrig: <b id="ap_pool">{{ ap_pool }}</b></p>

{% include 'base/table.html' with rows=rows headings=headings %}

<button id="submit" class="btn" {% if ap_pool %}disabled{% endif %} onclick="submit()">AP absenden</button>
{% endblock %}
