{% extends 'base/dynamic-table.html' %}
{% load static %}
{% block extra-head %}
<script src="{% static 'create/js/ap.js' %}" type="text/javascript"></script>

<style>
    table {
        max-width: 700px;
        margin-inline: auto;
    }
</style>
{% endblock %}

{% block before_table %}
    <p>AP übrig: <b id="ap_pool">{{ new_char.ap }}</b></p>
{% endblock %}

{% block after_table %}
<form id="form" method="post" class="d-flex justify-content-center">
    {% csrf_token %}
    <button type="submit" class="btn btn-lg btn-primary m-2" disabled>Speichern</button>
    <a class="btn btn-lg btn-outline-primary m-2" href="{% url 'create:landing_page' %}">Zurück</a>
</form>
{% endblock %}
