{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">
    <style>
        select { width: 100%; }
        input, select { padding: 5px; }
    </style>
{% endblock %}

{% block main %}
<div class="text-container">
    <form class='form' method="POST" class="input-group">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Charaktererstellung endgültig abschließen</button>
    </form>

    <div class="links">
        <a href="{% url 'shop:index' %}" target="_blank">Im Shop einkaufen</a>
    </div>
</div>
{% endblock %}
