{% extends 'base/dynamic-tables.html' %}
{% load static resources %}
{% block extra-head %}{{ block.super }}
<script src="{% static 'create/js/fert.js' %}" type="text/javascript"></script>

<style>
    table {
        max-width: 700px;
        margin-inline: auto;
    }
</style>
{% endblock %}

{% block asides %}{{ block.super }}
    {% resources %}
        <p>FP übrig: <b id="fp_pool">{{ char.fp }}</b></p>
        <p>FG übrig: <b id="fg_pool">{{ char.fg }}</b></p>
    {% endresources %}
{% endblock %}

{% block after_table %}
<form id="form" method="post" class="d-flex justify-content-center">
    {% csrf_token %}

    <button type="submit" class="btn btn-lg btn-primary m-2" disabled>Speichern</button>
    <a class="btn btn-lg btn-outline-primary m-2" href="{{ back_url }}">Zurück</a>
</form>
{% endblock %}
