{% extends 'base/main.html' %}
{% load static %}
{% block title %}FP & FG{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<link rel="stylesheet" href="{% static 'create/css/fert.css' %}">
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'create/js/fert.js' %}"></script>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic='FP & FG' %}{% endblock %}

{% block body %}
<p>FP übrig: <b id="fp_pool">{{ fp_pool }}</b></p>
<p>FG übrig: <b id="fg_pool">{{ fg_pool }}</b></p>


<div class="grid-container" id="fert1">
    <div class="heading col1">Fertigkeit</div>
    <div class="heading">Attr</div>
    <div class="heading">FP</div>
    <div class="heading">FG</div>
    <div class="heading heading--last">Pool</div>

    {% for e in list_1 %}
        <div class="col1 fert fert-id-{{ e.rel.fertigkeit.id }} row-1-{{ forloop.counter0 }} {% if e.last_in_group and not forloop.last %}group--last{% endif %}" title="{{ e.rel.fertigkeit.beschreibung }}">
                {{ e.rel.fertigkeit.titel }}
        </div>
        <div title="{{ e.rel.fertigkeit.attr1.beschreibung }}"
                class="attr attribute{{ e.rel.fertigkeit.attr1.id }} row-1-{{ forloop.counter0 }}">
                {{ e.rel.fertigkeit.attr1.titel }}
            (<span class="attr__val row-1-{{ forloop.counter0 }}">{{ e.attr1_aktuell }}</span>)
        </div>
        <div>
            <input onchange="calc_fp_pool()"
                    class="fp row-1-{{ forloop.counter0 }}"
                    type="number"
                    min="0"
                    max="{{ e.limit_fp }}"
                    step="1"
                    value="{{ e.rel.fp }}"
                    data-attr={{ e.rel.fertigkeit.attr1.id }}>
            {% if e.rel.fp_bonus %}
                +<span class="bonus row-1-{{ forloop.counter0 }}">{{ e.rel.fp_bonus }}</span>
            {% endif %}
        </div>


        <div>
            {% if e.show_fg %}
                <input class="fg row-1-{{ forloop.counter0 }} attr{{ e.rel.fertigkeit.attr1.id }}"
                        onchange="calc_fg_pool()"
                        type="number"
                        min="0"
                        max="{{ e.limit_fg }}"
                        step="1"
                        value="{{ e.fg }}">

                {% if e.fg_bonus %}
                    +<span class="fg_bonus attr{{ e.rel.fertigkeit.attr1.id }}">{{ e.fg_bonus }}</span>
                {% endif %}
            {% else %}-{% endif %}
        </div>

        <div class="pool row-1-{{ forloop.counter0 }}">0</div>
    </tr>
    {% endfor %}
</div>

<div class="grid-container" id="fert-else">
        <div class="col1 heading">Fertigkeit</div>
        <div class="heading">Attr</div>
        <div class="heading">FP</div>
        <div class="heading heading--last">Pool</div>

    {% for e in list_else %}
        <div class="col1 fert fert-id-{{ e.rel.fertigkeit.id }} row-else-{{ forloop.counter0 }}" title="{{ e.rel.fertigkeit.beschreibung }}">
            {{ e.rel.fertigkeit.titel }}
        </div>
        <div>
            <span title="{{ e.rel.fertigkeit.attr1.beschreibung }}">
                {{ e.rel.fertigkeit.attr1.titel }}
            </span>
            (<span class="attr__val attr1__val row-else-{{ forloop.counter0 }}">{{ e.attr1_aktuell }}</span>),

            <span title="{{ e.rel.fertigkeit.attr2.beschreibung }}">
                {{ e.rel.fertigkeit.attr2.titel }}
            </span>
            (<span class="attr__val attr2__val row-else-{{ forloop.counter0 }}">{{ e.attr2_aktuell }}</span>)
        </div>
        <div>
            <input class="fp row-else-{{ forloop.counter0 }}"
                    onchange="calc_fp_pool()"
                    type="number"
                    min="0"
                    max="{{ e.limit_fp }}"
                    step="1"
                    value="{{ e.rel.fp }}"
                    data-attr1={{ e.rel.fertigkeit.attr1.id }}
                    data-attr2={{ e.rel.fertigkeit.attr2.id }}/>
            {% if e.rel.fp_bonus %}
                +<span class="bonus row-else-{{ forloop.counter0 }}">{{ e.rel.fp_bonus }}</span>
            {% endif %}
        </div>
        <div class="pool row-else-{{ forloop.counter0 }}">0</div>
    </tr>
    {% endfor %}
</div>

<button id="submit" class="btn" {% if ap_pool %}disabled{% endif %} onclick="submit()">FP & FG absenden</button>
{% endblock %}
