{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/checkbox.css' %}">
<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'create/js/gfs.js' %}"></script>

<style>
    .main-container { background-image: none; }
    @media only screen and (max-width: 770px) {
        .main-container { flex-direction: column; }
    }

    .text-container > * {
        margin-block: 1em;
        display: block;
    }
</style>
{% endblock %}

{% block main %}
<div class="text-container">
    <h2>neuen Charakter erstellen</h2>
    <select name="gfs" autofocus>
        {% for g in gfs %}
            <option value="{{ g.id }}" id="option{{ forloop.counter0 }}">{{ g.titel }} (AP: {{ g.ap }})</option>
        {% endfor %}
    </select>

    <div class="d-flex" style="gap: 1.7em; align-items: center;">
        <span class="checkbox" onclick="this.classList.toggle('checked')"></span>
        <span onclick="this.parentNode.querySelector('.checkbox').classList.toggle('checked')">Im LARP</span>
    </div>

    <button class="btn btn-lg btn-primary" onclick="submit()">Weiter</button>
</div>

<div class="text-container">
    <h2>was Anderes</h2>
    <ul>
        <li><a class="text-light" href="{% url 'create:gfs_characterization' %}" target="_blank"><b>Noch keinen konkreten Plan?</b> Hole dir deine Inspiration hier</a>
        <li><a class="text-light" href="{% url 'wiki:gfs' %}" target="_blank">Alle Infos zu <b>wählbaren Gfs/Klassen</b></a>

        {% for s in old_scetches %}
        <li><a class="text-light" href="{% url 'create:prio' %}">Einen <b>bestehenden Entwurf ({{ s.titel }}) fortführen</b></a></li>
        {% endfor %}
    </ul>

    {% if old_scetches %}
        <p>Achtung, alte Entwürfe werden beim Anlegen eines Neuen automatisch gelöscht!</p>
    {% endif %}
</div>
{% endblock %}
