{% extends 'base/headed_main.html' %}
{% load static %}
{% load export_url from django_tables2 %}
{% block extra-head %}

<!-- remove unwanted styles from table with filter inside -->
<style>
    #filter-form {
        display: grid;
        width: fit-content;
        grid-template-columns: auto auto;
        gap: 1em;
        margin-inline: auto;
    }
    @media screen and (max-width: 450px) {
        #filter-form { grid-template-columns: 1fr; }
        select { margin-bottom: 1em !important; }
    }
    [value=reset] { display: none !important; }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () =>
        document.querySelector("table tbody tr").remove()
    );
</script>
{% endblock %}

{% block main %}


<form method="get" id="filter-form">
        <p class="h1">Soll dein Charakter</p><p></p>
        {{ filter.form }}
    </form>

    {% include 'base/table_template.html' with view=view table=table %}

    {% if view.export_formats|length %}
    <ul>
        {% for format in view.export_formats %}
            <li><a class="export-link" href="{% export_url format %}">
                download  <code>.{{ format }}</code>
            </a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <a class="btn btn-primary" href="{% url 'create:gfs' %}">Zurück zur Gfs-Wahl</a>
{% endblock %}
