{% extends 'base/main.html' %}
{% load static %}
{% block title %}Erstellungshub{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<link rel="stylesheet" href="{% static 'base/css/checkbox.css' %}">
<link rel="stylesheet" href="{% static 'create/css/landing_page.css' %}">
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'create/js/landing_page.js' %}"></script>
{% endblock %}
{% block absolute %}{% include 'base/header.html' with topic='Erstellungshub' %}{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="col1 heading"></div>
    <div class="col2 heading">Links</div>
    <div class="col3 heading heading--last">Werte</div>

    <!-- extra for persönlichkeiten -->
    <div class="col1">
        <a href="{{ persönlichkeit_row.link }}">
            <div class="checkbox{% if persönlichkeit_row.wert %} checked{% endif %}"></div>
        </a>
    </div>
    <div>Wähle eine <strong>Persönlichkeit</strong>, die Übersicht aller ist <a href="{{ persönlichkeit_row.link }}" target="_blank">hier</a>.</div>
    <div>
    <select name="persönlichkeit" onchange="persönlichkeitChange(event)">
        {% for p in persönlichkeiten %}
        <option value="{{ p.id }}" id="option{{ forloop.counter0 }}"{% if p.id in persönlichkeit_row.wert %}selected{% endif %}>
            {{ p.titel }}
        </option>
        {% endfor %}
    </select>
    </div>


    {% for e in list %}
        <div class="col1">
            {% if e.done is not None %}
                <a href="{{ e.link }}">
                    <div class="checkbox
                        {% if e.done %}checked{% endif %}
                        {% if forloop.last and not larp %}monochrome{% endif %}"></div>
                </a>
            {% endif %}
        </div>
        <div><a href="{{ e.link }}">{{ e.text }}</a></div>
        <div>{% autoescape off %}{{ e.werte }}{% endautoescape %}</div>
    {% endfor %}
</div>

<a href="{% url 'create:cp' %}">
    <button class="btn" {% if not done %}disabled{% endif %}>
        <p class="btn__text">Weiter</p>
    </button>
</a>

<div class="infos">
    {% if infos %}<h5>Infos:</h5>
    <ul class="collection">
    {% for i in infos %}
        {% autoescape off %}<li class="collection-item">{{ i }}</li>{% endautoescape %}
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
