{% extends 'base/headed_main.html' %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'create/css/prio.css' %}">
<script src="{% static 'res/js/axios.min.js' %}" type='text/javascript'></script>
<script src="{% static 'base/js/ajax.js' %}"></script>
<script src="{% static 'create/js/prio.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div id="prio-part">

    <span id="ap-debt-text">Du brauchst noch <b id="ap-debt">{{ ap_cost }}</b> AP für die Gfs.</span>
    <span id="ap-left-text">Du hast <b id="ap-left">{{ ap_cost }}</b> AP übrig.</span>

    <table>
        <tbody>
        {% for row in table %}
        <tr>
            <!-- <td class="grayed_out">{{ row.0 }}</td> -->
            <td id="0|{{ forloop.counter0 }}" {% if row.1 is None %}class="grayed_out"></td>
            {% else %}>{{ row.1 }} IP</td>{% endif %}

            <td id="1|{{ forloop.counter0 }}" {% if row.2 is None %}class="grayed_out"></td>
            {% else %}>{{ row.2 }} AP</td>{% endif %}

            <td id="2|{{ forloop.counter0 }}" {% if row.3 is None and row.4 is None %}class="grayed_out"></td>
            {% else %}>
                {% if row.3 %}{{ row.3 }} SP{% endif %}{% if row.3 and row.4 %},<br>{% endif %}
                {% if row.4 %}{{ row.4 }} Konz.{% endif %}
            </td>{% endif %}

            <td id="3|{{ forloop.counter0 }}" {% if row.5 is None and row.6 is None %}class="grayed_out"></td>
            {% else %}>
                {% if row.5 %}{{ row.5 }} FP{% endif %}{% if row.5 and row.6 %},<br>{% endif %}
                {% if row.6 %}{{ row.6 }} FG{% endif %}
            </td>{% endif %}

            <td id="4|{{ forloop.counter0 }}" {% if row.7 is None %}class="grayed_out"></td>
            {% else %}>{{ row.7 }} Zauber</td>{% endif %}

            <td id="5|{{ forloop.counter0 }}" {% if row.8 is None and row.9 is None %}class="grayed_out"></td>
            {% else %}>
                {% if row.8 %}{{ row.8 }} Drachmen{% endif %}{% if row.8 and row.9 %},<br>{% endif %}
                {% if row.9 %}{{ row.9 }} Sp-Fert/W-Fert{% endif %}
            </td>{% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<button id='submit' class="btn btn-lg btn-primary" disabled onclick="submitPrio()">Weiter</button>

<aside class="mt-3">

    <h4>Hilfreiches:</h4>
    <ul>
        <li><a href="{% url 'wiki:stufenplan' gfs.id %}" target="_blank" class="text-light">{{ gfs.titel }} öffnen</a></li>
        {% for n in notizen %}<li>{{ n }}</li>{% endfor %}
    </ul>
</aside>
{% endblock %}
