{% extends 'base/dynamic-table.html' %}
{% load static %}
{% block extra-head %}
<style>
    table {
        max-width: 800px;
        margin-inline: auto;
    }
    .scroll-y {
        max-height: 150px;
        overflow-y: auto;
    }
    .zauber-input{
        height: 30px;
        aspect-ratio: 1;
    }
</style>

<script type="text/javascript" src="{% static 'create/js/zauber.js' %}"></script>
{% endblock %}

{% block before_table %}
    <span><b id="zauber_pool">{{ new_char.zauber }}</b> Zauber</span>
    <p class="fs-3">Nur ab Stufe 0 wählbar, außer ein entsprechender Vorteil besagt anderes.</p>
{% endblock %}

{% block after_table %}
<form id="form" method="post" class="d-flex justify-content-center">
    {% csrf_token %}
    <button type="submit" class="btn btn-lg btn-primary m-2" disabled>Speichern</button>
    <a class="btn btn-lg btn-outline-primary m-2" href="{% url 'create:landing_page' %}">Zurück</a>
</form>
{% endblock %}
