{% extends 'base/headed_main.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dex/monster/css/attack_index.css' %}">
<script src="{% static 'dex/monster/js/attack-filter.js' %}" defer></script>
{% endblock %}

{% block asides %}
{% include 'dex/monster/attack-filter.html' with types=types all_stats=all_stats %}
{% endblock %}

{% block main %}
<ul class="list-unstyled" id="attack-list">
    {% for obj in object_list %}
    <li class="attack-container">{% include 'dex/monster/attack-listentry.html' with attack=obj include_styles=forloop.first %}</li>
    {% endfor %}
</ul>
{% endblock %}
