{% extends 'base/headed_main.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dex/monster/css/attack_proposal.css' %}">

<script src="{% static 'dex/monster/js/attack-filter.js' %}" defer></script>
{% endblock %}

{% block main %}
<form method="post">
    <h2 class="mb-4">{% if is_create %}Neue Attacke{% else %}Attacke bearbeiten{% endif %}</h2>

    {% csrf_token %}
    {{ form.non_field_errors }}
    
    {% for field in form %}
    <div class="fieldWrapper">
        <div class="text-danger">{{ field.errors }}</div>
        <div class="label-container">{{ field.label_tag }}</div>
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}

    <button class="btn btn-success mt-4" type="submit">Speichern</button>
</form>

<h2 class="mt-5">Deine offenen Attackenvorschläge</h2>

{% if object_list|length %}
    {% include 'dex/monster/attack-filter.html' with types=types all_stats=all_stats %}
{% endif %}

<ul id="attack-list" class="list-unstyled">
    {% for a in object_list %}
    <li class="attack-container">
        {% include 'dex/monster/attack-listentry.html' with attack=a include_styles=forloop.first %}

        <a href="{% url 'dex:attack_proposal' a.id %}" class="edit-attack-btn btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                <path fill="currentColor" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
            </svg>
        </a>
    </li>
    {% empty %}
    - keine -
    {% endfor %}
</ul>

{% if not is_create %}
<a href="{% url 'dex:attack_proposal' %}" class="btn btn-lg btn-light mt-5">Neue Attacke vorschlagen</a>
{% endif %}
{% endblock %}
