{% extends 'base/headed_main.html' %}
{% load static dex.join_ids %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dex/monster/css/monster_fähigkeit_index.css' %}">
{% endblock %}

{% block main %}
<ul class="list-unstyled" id="fähigkeit-list">
    {% for fähigkeit in object_list %}
    <li>
      <a name="{{ fähigkeit.id }}" class="fähigkeit card" type="button" data-bs-toggle="collapse" data-bs-target="#fähigkeit-description-{{ fähigkeit.id }}" aria-expanded="false" aria-controls="fähigkeit-description-{{ fähigkeit.id }}">
          <b class="fähigkeit__name text-dark shadow">{{ fähigkeit.name }}</b>
          <small class="fähigkeit__teaser px-2 pb-1">{{ fähigkeit.description|truncatechars:40 }}</small>
      </a>
      <div class="fähigkeit-description collapse" id="fähigkeit-description-{{ fähigkeit.id }}">
          <div class="card card-body shadow">
            <i>{{ fähigkeit.description }}</i>
            
            {% if fähigkeit.monster_set.count %}
              <hr>
              <label class="h5" for="monsters-{{ fähigkeit.id }}">Bei Monstern:</label>
              <ul class="list-unstyled" id="monsters-{{ fähigkeit.id }}">
                {% for monster in fähigkeit.monster_set.all %}
                  <li>
                    {% include 'dex/monster/monster-listentry.html' with monster=monster id=fähigkeit.id|join_ids:monster.id include_styles=forloop.first %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
      </div>

    </li>
    {% endfor %}
</ul>
{% endblock %}
