{% extends 'base/headed_main.html' %}
{% load static dice boobles l10n %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dex/monster/css/monster_farm_detail.css' %}">
{{ AMOUNT_TRAINED|json_script:"max_trained_amount" }}
<script src="{% static 'dex/monster/js/monster_farm_detail.js' %}" defer></script>
{% endblock %}

{% block main %}

<div id="badge" class="d-none d-md-block">seit {{ object.gefangen_am|date:"d.m.Y" }}</div>

  <!-- Allgemeines -->
  <h2>Allgemeines</h2>
  
  {% include 'dex/monster/monster-listentry.html' with monster=monster include_styles=True %}
  <div class="card bg-dark my-2">
    <div class="card-body">
      <div class="card-text">{{ monster.description }}</div>

      <hr>
      <ul>
        <li><b>Größe: </b><span>{{ monster.height }} m</span></li>
        <li><b>Gewicht: </b><span>{{ monster.weight }} kg</span></li>
        <li><b>Habitat: </b><span>{{ monster.habitat }}</span></li>
      </ul>
    </div>
  </div>

  <!-- Werte -->
  <h2 class="mt-5">Werte</h2>
  <div class="card text-dark" style="background-color: var(--bs-orange)">
    <div class="card-body">
      <div class="card-text">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p><button class="btn btn-dark">Speichern</button></p>
        </form>
        <hr>

        <ul>
          <li><b>Fähigkeiten: </b><span>
            {% for f in monster.fähigkeiten.all %}
              <a href="{% url 'dex:monster_fähigkeit_index' %}#{{ f.id }}" class="text-dark">{{ f.name }}</a>{% if not forloop.last %}, {% endif %}
            {% empty %}-
            {% endfor %}
          </span></li>
          <li><b>Schadenswiderstand: </b><span>{{ schadensWI }}</span></li>
          <li><b>Angriffsbonus: </b><span>{{ monster.base_attackbonus|add:object.rang_angriffsbonus }}</span></li>
          <li><b>Reaktionsbonus: </b><span>{{ monster.base_reaktionsbonus|add:object.rang_reaktionsbonus }}</span></li>
          <li><b>Attackenpunkte: </b><span>{{ object.attackenpunkte }}</span></li>
        </ul>
        <hr>

        <div class="stats-container mt-3">

          <b>Rang:</b>
          <div>{{ object.rang }}</div>
          <div>
            <a id="rang_increase_btn" class="btn btn-sm btn-dark" href="{% url 'dex:monster_farm_levelup' object.id %}">+ 1 Rang</a>
          </div>

          <b class="stat">Initiative:</b>
          <div class="wert" style="--width: calc({% localize off %}{{ object.initiative }} / {{ max_stat_wert }}{% endlocalize %} *100%)"><small>{{ object.initiative }}</small></div>
          <button class="booble-container{% if ' INI ' in object.skilled_stats %} skilled{% endif %}{% if ' INI ' in object.trained_stats %} trained{% endif %}" data-stat="INI">
            {% skilled_booble %}
            {% trained_booble %}
          </button>

          <b class="stat">HP:</b>
          <div class="wert" style="--width: calc({% localize off %}{{ object.hp }} / {{ max_stat_wert }}{% endlocalize %} *100%)"><small>{{ object.hp }} HP</small></div>
          <button class="booble-container{% if ' HP ' in object.skilled_stats %} skilled{% endif %}{% if ' HP ' in object.trained_stats %} trained{% endif %}" data-stat="HP">
            {% skilled_booble %}
            {% trained_booble %}
          </button>

          <b class="stat">Nahkampf:</b>
          <div class="wert" style="--width: calc({% localize off %}{{ object.nahkampf }} / {{ max_stat_wert }}{% endlocalize %} *100%)"><small>{{ object.nahkampf }}</small></div>
          <button class="booble-container{% if ' N ' in object.skilled_stats %} skilled{% endif %}{% if ' N ' in object.trained_stats %} trained{% endif %}" data-stat="N">
            {% skilled_booble %}
            {% trained_booble %}
          </button>

          <b class="stat">Fernkampf:</b>
          <div class="wert" style="--width: calc({% localize off %}{{ object.fernkampf }} / {{ max_stat_wert }}{% endlocalize %} *100%)"><small>{{ object.fernkampf }}</small></div>
          <button class="booble-container{% if ' F ' in object.skilled_stats %} skilled{% endif %}{% if ' F ' in object.trained_stats %} trained{% endif %}" data-stat="F">
            {% skilled_booble %}
            {% trained_booble %}
          </button>

          <b class="stat">Magie:</b>
          <div class="wert" style="--width: calc({% localize off %}{{ object.magie }} / {{ max_stat_wert }}{% endlocalize %} *100%)"><small>{{ object.magie }}</small></div>
          <button class="booble-container{% if ' MA ' in object.skilled_stats %} skilled{% endif %}{% if ' MA ' in object.trained_stats %} trained{% endif %}" data-stat="MA">
            {% skilled_booble %}
            {% trained_booble %}
          </button>
              
          <b class="stat">Vert. geistig:</b>
          <div class="wert" style="--width: calc({% localize off %}{{ object.verteidigung_geistig }} / {{ max_stat_wert }}{% endlocalize %} *100%)"><small>{{ object.verteidigung_geistig }}</small></div>
          <button class="booble-container{% if ' VER_G ' in object.skilled_stats %} skilled{% endif %}{% if ' VER_G ' in object.trained_stats %} trained{% endif %}" data-stat="VER_G">
            {% skilled_booble %}
            {% trained_booble %}
          </button>
              
          <b class="stat">Vert. körperlich:</b>
          <div class="wert" style="--width: calc({% localize off %}{{ object.verteidigung_körperlich }} / {{ max_stat_wert }}{% endlocalize %} *100%)"><small>{{ object.verteidigung_körperlich }}</small></div>
          <button class="booble-container{% if ' VER_K ' in object.skilled_stats %} skilled{% endif %}{% if ' VER_K ' in object.trained_stats %} trained{% endif %}" data-stat="VER_K">
            {% skilled_booble %}
            {% trained_booble %}
          </button>
        </div>

        <div class="mt-3 d-flex gap-1 align-items-center">
          <b>übriges Training: </b><span id="open_training"></span>
          <div class="booble-container trained">
            {% trained_booble %}
          </div>

          <form action="{% url 'dex:spieler_monster_set_training' object.id %}" method="post">
            {% csrf_token %}
            <input hidden name="stat" id="stat_input">
            <button type="submit" id="training_save_btn" class="btn btn-dark" disabled>Training speichern</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  {% if monster.evolutionPre.exists %}
  <h2 class="mt-5">Vorentwicklung</h2>
  <ul class="list-unstyled">
    {% for m in monster.evolutionPre.all %}
      <li>
        {% include 'dex/monster/monster-listentry.html' with monster=m include_styles=False %}

        <form action="{% url 'dex:spieler_monster_evolve' object.id %}" method="post">
          {% csrf_token %}
          <input hidden name="monster_id" value="{{ m.id }}">
          <button type="submit" class="btn btn-outline-light mt-2">entwickeln</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if monster.evolutionPost.exists %}
  <h2 class="mt-5">Weiterentwicklung</h2>
  <ul class="list-unstyled">
    {% for m in monster.evolutionPost.all %}
      <li>
        {% include 'dex/monster/monster-listentry.html' with monster=m include_styles=False %}

        <form action="{% url 'dex:spieler_monster_evolve' object.id %}" method="post">
          {% csrf_token %}
          <input hidden name="monster_id" value="{{ m.id }}">
          <button type="submit" class="btn btn-outline-light mt-2">entwickeln</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if monster.alternativeForms.exists %}
  <h2 class="mt-5">Andere Formen</h2>
  <ul class="list-unstyled">
    {% for m in monster.alternativeForms.all %}
      <li>{% include 'dex/monster/monster-listentry.html' with monster=m include_styles=False %}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if monster.opposites.exists %}
  <h2 class="mt-5">Gegenmonster</h2>
  <ul class="list-unstyled">
    {% for m in monster.opposites.all %}
      <li>{% include 'dex/monster/monster-listentry.html' with monster=m include_styles=False %}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <!-- Attacken -->
  <h2 class="mt-5">Attacken</h2>
  <ul class="list-unstyled">
    {% for sp_mo_a in object.spielermonsterattack_set.all %}
      <li class="del-btn-container">
        {% include 'dex/monster/attack-listentry.html' with attack=sp_mo_a.attacke modified_cost=sp_mo_a.cost include_styles=forloop.first %}

        <form action="{% url 'dex:spieler_monster_delete_attack' object.id %}" method="post" id="attack-form-{{ sp_mo_a.attacke.id }}">
          {% csrf_token %}
          <input hidden type="number" name="attack_id" value="{{ sp_mo_a.attacke.id }}">
        </form>
        <button type="submit" class="del-btn btn btn-sm btn-danger" form="attack-form-{{ sp_mo_a.attacke.id }}">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
          <path fill="#ffffff" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
        </button>
      </li>
    {% endfor %}

    {% if object.spielermonsterattack_set.count < MAX_AMOUNT_ATTACKEN %}
    <li class="del-btn-container">
      <button class="open-modal-btn btn btn-lg btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#attack-modal">+ Attacke</button>
    </li>
    {% endif %}
  </ul>

  <!-- Teams -->
  <h2 class="mt-5">Teams</h2>
  <ul class="list-unstyled">
    {% for team in object.monsterteam_set.all %}
      <li class="del-btn-container">
        <a href="{% url 'dex:monster_team_detail' team.id %}" style="display: block; background-color: {{team.farbe}}; color: {{team.textfarbe}}; border-radius:5px; padding: .2em .5em; font-weight: bold">{{ team.name }}</a>

        <form action="{% url 'dex:monster_team_delete_monster' team.id %}?redirect={{ request.path|urlencode }}" method="post">
          {% csrf_token %}
          <input hidden type="number" name="monster_id" value="{{ object.id }}">
          <button class="del-btn btn btn-sm btn-danger" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
              <path fill="#ffffff" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
            </svg>
          </button>
        </form>
      </li>
    {% endfor %}
    <li class="del-btn-container">
      <button class="open-modal-btn btn btn-lg btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#team-modal">+ einem Team hinzufügen</button>
    </li>
  </ul>

  <!-- Team Modal -->
  <div class="modal fade" id="team-modal" tabindex="-1" aria-label="Monster einem Team hinzufügen">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-body">
          <form action="{% url 'dex:spieler_monster_add_team' object.id %}" method="post" id="team-form">
            {% csrf_token %}
            <p>
              <label for="id_team">Team: </label>
              <select id="id_team" name="team_id" required>
                <option value="" selected>---------</option>
                {% for team in other_teams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
                {% endfor %}
              </select>
            </p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" form="team-form">Team hinzufügen</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Attacken Modal -->
  <div class="modal fade" id="attack-modal" tabindex="-1" aria-label="Attacke hinzufügen">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-body">
          
          <form action="{% url 'dex:spieler_monster_add_attack' object.id %}" method="post" id="attack-form">
            {% csrf_token %}
            <p>
              <label for="id_attacke">Attacke: </label>
              <select id="id_attacke" name="attack_id" required>
                <option value="" selected>---------</option>
                {% for attack in other_attacks %}
                <option value="{{ attack.id }}">{{ attack.name }}</option>
                {% endfor %}
              </select>

              <p><i>
                Du kannst Attacken wählen, die max. {{ object.max_cost_attack }} kosten.<br>
                Wenn sie nur Typen deines Monsters haben, dann sogar bis {{ 1|add:object.max_cost_attack }}.
              </i></p>
              <a href="{% url 'dex:attack_index' %}">Übersicht der Attacken</a>
            </p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" form="attack-form">Attacke hinzufügen</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>

  <!-- popover stuff -->
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>
  <style>.popover-header { color: black; }</style>
{% endblock %}
