{% load static %}

{% if include_styles %}
{% block imports %}
<link rel="stylesheet" href="{% static 'dex/monster/css/monster-listentry.css' %}">
<script src="{% static 'dex/monster/js/monster_listentry.js' %}" defer></script>
{% endblock %}
{% endif %}


<a class="monster card bg-primary text-light {% block extra_class %}{% endblock %} {% if spieler not in monster.visible.all %} monster--dummy{% else %}" data-rank="{% block rang %}{{ monster.wildrang }}{% endblock %}" href="{% block url %}{% url 'dex:monster_detail' monster.id %}{% endblock %}{% endif %}" id="monster-{{ id|default:monster.id }}">
    <span class="monster__number shadow bg-warning text-dark">#{{ monster.number }}</span>
    <b class="monster__name fs-5">{% if spieler in monster.visible.all %}{% block name %}{{ monster.name }}{% endblock %}{% else %}???{% endif %}</b>
    <span class="monster__img shadow h-100">
        {% if spieler in monster.visible.all and monster.image %}
        <button class="open-modal-btn border-0 w-100 h-100" type="button" data-bs-toggle="modal" data-bs-target="#monster-modal-{{ id|default:monster.id }}" aria-label="Monsterbild im Fullscreen öffnen">
            <img class="object-fit-cover w-100 h-100" src="{{ monster.image.url }}" alt="{{ monster.description }}">
        </button>
        {% endif %}
    </span>
    <small class="monster__types">
        {% if spieler in monster.visible.all %}
            {% for type in monster.types.all %}{{ type.tag }}{% endfor %}
        {% else %}
        ???
        {% endif %}
    </small>
</a>

{% if spieler in monster.visible.all and monster.image %}
<!-- Modal -->
<div class="modal fade" id="monster-modal-{{ id|default:monster.id }}" tabindex="-1" aria-label="{{ monster.name }} - {{ monster.description }}" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-fluid object-fit-cover" src="{{ monster.image.url }}" alt="{{ monster.description }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>
{% endif %}