{% extends 'base/headed_main.html' %}
{% load static calc %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'dex/monster/css/type_table.css' %}">
<script src="{% static 'dex/monster/js/type_table.js' %}" defer></script>
{% endblock %}

{% block main %}

<label for="efficiency"><b>Effektivität</b> einer Attacke mit Typen links auf ein Monster mit Typen oben der Tabelle:</label>
<result id="efficiency">1</result>

<table>
    <thead>
        <tr>
            <th class="tag tag--placeholder"></th>
            {% for t in object_list %}<th class="tag" data-type-victim="{{ t.id }}">{{ t.tag }}</th>{% endfor %}
            <th><small class="fw-normal">Atk-Stärke:</small></th>
        </tr>
    </thead>

    <tbody>
        {% for t in object_list %}
        <tr>
            <td class="tag" data-type-attack="{{ t.id }}">{{ t.tag }}</td>
            {% for victim in object_list %}<td
                data-type-attack="{{ t.id }}"
                data-type-victim="{{ victim.id }}"
                class="
                    {% if victim in t.stark_gegen.all %}cell-effective{% endif %}
                    {% if victim in t.schwach_gegen.all %}cell-noneffective{% endif %}
                    {% if victim in t.trifft_nicht.all %}cell-nohit{% endif %}">
                    {% if victim in t.stark_gegen.all %}+{% endif %}
                    {% if victim in t.schwach_gegen.all %}-{% endif %}
                    {% if victim in t.trifft_nicht.all %}x{% endif %}
            </td>{% endfor %}

            <td disabled>{{ t|attack_strength }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td><small class="fw-normal">Def-Stärke:</small></td>
            {% for t in object_list %}
            <td>{{ t|def_strength }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}
