:root {
	--icon-size: 3rem;
	--icon-offset-top: calc(var(--icon-size) / 4);
	--icon-offset-right: calc(var(--icon-size) / 4);
	--icon-padding: calc(var(--icon-size) / 4);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3em;

  justify-content: center;
  justify-items: center;

  color: #c8c8c8;
}

.result {
  font-size: 20px;
  font-weight: 700;
}
.section {
  border: 7px solid rgb(210, 206, 243);
  border-radius: 20px;
  padding: 1.3em;
  width: 100%;
  max-width: 250px;

  display: grid;
  gap: .8em;

  justify-items: center;
  align-items: center;
}

.section__head {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 0.4em;
}
.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* card icon */
.section__icon {

  background: rgb(210, 206, 243);
  color: black;
  border-radius: 50%;

	height: var(--icon-size);
	aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


input { max-width: 50px; }