{% extends 'base/main.html' %}
{% load static %}
{% block title %}Anmelden{% endblock %}
{% block extra-head %}<link rel="stylesheet" href="{% static 'auth/css/centered_form.css' %}">{% endblock %}
{% block main %}
<div class="text-container">
    <h1>Anmelden</h1>
    <form class='form' method="POST" class="input-group">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>

    <div class="links">
        <a href="{% url 'auth:signup' %}">Noch keinen Account?</a>
        <a href="{% url 'auth:reset_password' %}">Passwort vergessen?</a>
    </div>
</div>
{% endblock %}
