{% extends 'base/main.html' %}
{% load static %}
{% block title %}Anmelden{% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'auth/css/login.css' %}">
<style>.text-container > * { margin-top: 1em; }</style>
{% endblock %}
{% block body %}
<div class="text-container">
    <h1 class="heading">Passwort zurücksetzen</h1>

    <p>Eine Email ist auf dem Weg zu dir, sofern ein Account zu der eingegebenen Email existiert.</p>

    <p>Möglicherweise ist sie im Spam-Ordner gelandet, also schau auch dort nach.</p>
</div>
{% endblock %}
